Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Enable the vhost backend for the virtio-net interfaces in the KVM hypervisor
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Disable iptables for L2-only traffic when everything is allowed by ACLs
  pkg/dom0-ztools/rootfs/etc/sysctl.d/02-eve.conf
  pkg/pillar/nireconciler/linux_acl.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_reconciler.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/linuxitems/sysctl.go
Owners: @christoph-zededa, @rouming, @milan-zededa

u-boot: add initial support for rpi5
  pkg/u-boot/Dockerfile
  pkg/u-boot/patches/patches-v2024.10-rc2/0005-Enable-mmc_sdhci_bcmstb.patch
Owners: @rene

grub: add rpi5 dtb/console in grub.cfg
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Disable iptables for L2-only traffic when everything is allowed by ACLs
  pkg/dom0-ztools/rootfs/etc/sysctl.d/02-eve.conf
  pkg/pillar/nireconciler/linux_acl.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_reconciler.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/linuxitems/sysctl.go
Owners: @christoph-zededa, @rouming, @milan-zededa

Fix/update ADOPTERS.md
  ADOPTERS.md
Owners: @eriknordmark

Fix/update ADOPTERS.md
  ADOPTERS.md
Owners: @eriknordmark

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: update regex in Makefile to correctly handle rc and lts tags
  Makefile
Owners: @eriknordmark

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

fix: update regex in Makefile to correctly handle rc and lts tags
  Makefile
Owners: @eriknordmark

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

All-Ones netmask is not needed for ACLs or flow logging
  pkg/pillar/nireconciler/genericitems/dnsmasq.go
  pkg/pillar/nireconciler/genericitems/dnsmasq_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_reconciler.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/types/global.go
Owners: @milan-zededa, @eriknordmark

Add mismatching PCR indexes to VaultStatus
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/types/vaultmgrtypes.go
  pkg/pillar/vault/handler_ext4.go
  pkg/pillar/vault/handler_zfs.go
Owners: @rucoder, @shjala, @eriknordmark

All-Ones netmask is not needed for ACLs or flow logging
  pkg/pillar/nireconciler/genericitems/dnsmasq.go
  pkg/pillar/nireconciler/genericitems/dnsmasq_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_reconciler.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/types/global.go
Owners: @milan-zededa, @eriknordmark

Document network performance considerations
  docs/APP-CONNECTIVITY.md
  pkg/pillar/docs/zedrouter.md
Owners: @eriknordmark

Allow to use network port with VLAN-subinterfaces for untagged traffic
  docs/DEVICE-CONNECTIVITY.md
  docs/images/eve-vlans-and-lags.png
  docs/images/eve-vlans-and-lags.xml
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/parseconfig_test.go
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/dpcreconciler/genericitems/netio.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/dpcreconciler/linux_test.go
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
  pkg/pillar/dpcreconciler/linuxitems/vlan.go
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa

Avoid using expensive reflect for the Bond.Equal method
  pkg/pillar/dpcreconciler/linuxitems/bond.go
Owners: @milan-zededa

Vendor required modules for monitor agent
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/getlantern/framed/.travis.yml
  pkg/pillar/vendor/github.com/getlantern/framed/LICENSE
  pkg/pillar/vendor/github.com/getlantern/framed/README.md
  pkg/pillar/vendor/github.com/getlantern/framed/framed.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/LICENSE
  pkg/pillar/vendor/github.com/oxtoacart/bpool/README.md
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bpool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bufferpool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bytepool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/byteslice.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/sizedbufferpool.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Add monitor agent to pillar
  pkg/pillar/cmd/monitor/ipc_server.go
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/monitor.go
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/cmd/nim/nim.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/zedbox/zedbox.go
Owners: @eriknordmark, @milan-zededa

Print messages on /dev/tty instead of /dev/console
  pkg/pillar/agentlog/agentlog.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/scripts/onboot.sh
Owners: @eriknordmark

Add monitor container
  images/rootfs.yml.in
  pkg/monitor/Dockerfile
  pkg/monitor/build.yml
  pkg/monitor/monitor-wrapper.sh
  pkg/monitor/run-monitor.sh
  tools/parse-pkgs.sh
Owners: @eriknordmark, @deitch, @jsfakian

Allow to use network port with VLAN-subinterfaces for untagged traffic
  docs/DEVICE-CONNECTIVITY.md
  docs/images/eve-vlans-and-lags.png
  docs/images/eve-vlans-and-lags.xml
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/parseconfig_test.go
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/dpcreconciler/genericitems/netio.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/dpcreconciler/linux_test.go
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
  pkg/pillar/dpcreconciler/linuxitems/vlan.go
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa

Avoid using expensive reflect for the Bond.Equal method
  pkg/pillar/dpcreconciler/linuxitems/bond.go
Owners: @milan-zededa

Document network performance considerations
  docs/APP-CONNECTIVITY.md
  pkg/pillar/docs/zedrouter.md
Owners: @eriknordmark

Implement packet sniffing with less overhead using tc-mirred
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/cmd/zedrouter/zedrouter.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_reconciler.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/linuxitems/registry.go
  pkg/pillar/nireconciler/linuxitems/tcingress.go
  pkg/pillar/nireconciler/linuxitems/tcmirror.go
  pkg/pillar/nireconciler/linuxitems/typenames.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/nistate/linux.go
  pkg/pillar/nistate/linux_flow.go
  pkg/pillar/nistate/statecollector.go
  pkg/pillar/types/zedroutertypes.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark

Add run-live-gui target to run monitor container
  Makefile
Owners: @eriknordmark

Add support for 'manual' DPC to NIM
  pkg/pillar/cmd/nim/nim.go
  pkg/pillar/dpcmanager/dpc.go
  pkg/pillar/dpcmanager/dpcmanager.go
Owners: @milan-zededa

Update eve-monitor-rs tag
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Handle SetServer request
  pkg/pillar/cmd/monitor/ipc_server.go
Owners: @eriknordmark

Add some comments to PubSub
  pkg/pillar/pubsub/pubsub.go
Owners: @eriknordmark

Add documentation for monitor TUI application
  docs/LOCAL-TUI.md
  pkg/pillar/docs/monitor.md
  pkg/pillar/docs/nim.md
Owners: @eriknordmark

Bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/appconfig.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/netcmn.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/edge_node_cluster.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/metrics/metrics.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Implement packet sniffing with less overhead using tc-mirred
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/cmd/zedrouter/zedrouter.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_reconciler.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/linuxitems/registry.go
  pkg/pillar/nireconciler/linuxitems/tcingress.go
  pkg/pillar/nireconciler/linuxitems/tcmirror.go
  pkg/pillar/nireconciler/linuxitems/typenames.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/nistate/linux.go
  pkg/pillar/nistate/linux_flow.go
  pkg/pillar/nistate/statecollector.go
  pkg/pillar/types/zedroutertypes.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark

new log file prefixes and metrics for device logs
  pkg/pillar/types/newlogtypes.go
Owners: @eriknordmark

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
