Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

CONTRIBUTING.md: Fix broken link to LF's project dashboard
  CONTRIBUTING.md
Owners: @eriknordmark

Add UDP source IP into golang dialer https connection for Edgeview
  pkg/edgeview/src/websocket.go
Owners: @christoph-zededa, @naiming-zededa

CONTRIBUTING.md: Fix broken link to LF's project dashboard
  CONTRIBUTING.md
Owners: @eriknordmark

pillar: Fix log message variable value
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

pillar: Add function description
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

pillar: Add Virtual Terminal and Framebuffer functions
  pkg/pillar/cmd/domainmgr/vtfb.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

docs: Add a short notice about VGA console access
  docs/DEBUGGING.md
Owners: @eriknordmark

domainmgr: Handle VTs and Framebuffer drivers for VGA access
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

nvidia: Fix script and udev for Jetpack 5
  pkg/nvidia/scripts/jp5/nv-init.sh
  pkg/nvidia/udev/jp5/rules.d/90-eve-nvidia.rules
Owners: @eriknordmark

pillar: replace IoUSB device type with correct one
  pkg/pillar/cmd/domainmgr/domainmgr_test.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/assignableadapters_test.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala, @eriknordmark

pillar/hypervisor: link pciDevice to IoBundle
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/xen: use better indicator for usb controlle
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/domainmgr: check for IoUSB controllers
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/types/assignableadapters.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @eriknordmark

Makefile: Fix run-live-gui for arm64
  Makefile
Owners: @eriknordmark

docs: Fix small typo
  docs/DEBUGGING.md
Owners: @eriknordmark

Fix dhcpcd arguments for static IP config
  pkg/pillar/dpcreconciler/genericitems/dhcpcd.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd_test.go
Owners: @milan-zededa

pillar/domainmgr: check for IoUSB controllers
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/types/assignableadapters.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @eriknordmark

pillar: replace IoUSB device type with correct one
  pkg/pillar/cmd/domainmgr/domainmgr_test.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/assignableadapters_test.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala, @eriknordmark

pillar/hypervisor: link pciDevice to IoBundle
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/xen: use better indicator for usb controlle
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Makefile: Fix run-live-gui for arm64
  Makefile
Owners: @eriknordmark

xen-tools: backport various QEMU terminal (console-vc) fixes
  pkg/xen-tools/patches-4.19.0/26-qemu--ui-console-vc-introduce-parsing-for-ESC-B-sequence.patch
  pkg/xen-tools/patches-4.19.0/27-qemu--ui-console-vc-report-to-the-application-instead-of-s.patch
  pkg/xen-tools/patches-4.19.0/28-qemu--ui-console-vc-report-viewport-row-number-not-of-the-.patch
  pkg/xen-tools/patches-4.19.0/29-qemu--ui-console-vc-implement-DCH-delete-and-ICH-insert-co.patch
Owners: @OhmSpectator, @rucoder, @rene, @shjala

xen-tools: setup the `PS1` environment for the shim VM prompt
  pkg/xen-tools/Dockerfile
  pkg/xen-tools/initrd/base.files
  pkg/xen-tools/initrd/dotprofile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

tools: Fix tag for eve-mkimage-iso-efi
  tools/makeiso.sh
Owners: @deitch, @jsfakian

Add UDP source IP into golang dialer https connection for Edgeview
  pkg/edgeview/src/websocket.go
Owners: @christoph-zededa, @naiming-zededa

Bump up rust version to 1.84.1 for installer
  pkg/installer/Dockerfile
Owners: @eriknordmark

Fix dhcpcd arguments for static IP config
  pkg/pillar/dpcreconciler/genericitems/dhcpcd.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd_test.go
Owners: @milan-zededa

Bump up rust version to 1.84.1 for installer
  pkg/installer/Dockerfile
Owners: @eriknordmark

mkimage-iso-efi: Create a squashfs for the installer rootfs
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

mkimage-iso-efi: Add squashfs-tools package
  pkg/mkimage-iso-efi/Dockerfile
Owners: @eriknordmark

mkimage-iso-efi: Mount installer rootfs squashfs image
  pkg/mkimage-iso-efi/initrd.sh
Owners: @eriknordmark

installer: Add rootimg parameter for ISO boot
  pkg/eve/installer/grub_installer.cfg
Owners: @eriknordmark

Makefile: do not check hash consistency for pkg/installer
  Makefile
Owners: @eriknordmark

dpcreconsiler: Restrict ICMP rule to echo-request only.
  pkg/pillar/dpcreconciler/linux.go
Owners: @milan-zededa

xen-tools: backport various QEMU terminal (console-vc) fixes
  pkg/xen-tools/patches-4.19.0/26-qemu--ui-console-vc-introduce-parsing-for-ESC-B-sequence.patch
  pkg/xen-tools/patches-4.19.0/27-qemu--ui-console-vc-report-to-the-application-instead-of-s.patch
  pkg/xen-tools/patches-4.19.0/28-qemu--ui-console-vc-report-viewport-row-number-not-of-the-.patch
  pkg/xen-tools/patches-4.19.0/29-qemu--ui-console-vc-implement-DCH-delete-and-ICH-insert-co.patch
Owners: @OhmSpectator, @rucoder, @rene, @shjala

xen-tools: setup the `PS1` environment for the shim VM prompt
  pkg/xen-tools/Dockerfile
  pkg/xen-tools/initrd/base.files
  pkg/xen-tools/initrd/dotprofile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

Makefile: do not check hash consistency for pkg/installer
  Makefile
Owners: @eriknordmark

mkimage-iso-efi: Mount installer rootfs squashfs image
  pkg/mkimage-iso-efi/initrd.sh
Owners: @eriknordmark

mkimage-iso-efi: Create a squashfs for the installer rootfs
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

mkimage-iso-efi: Add squashfs-tools package
  pkg/mkimage-iso-efi/Dockerfile
Owners: @eriknordmark

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
