Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

msrv: use AllowToDiscover flag in discovery endpoint
  pkg/pillar/cmd/msrv/msrv_test.go
  pkg/pillar/cmd/msrv/pubsub.go
Owners: @eriknordmark

msrv: remove deprecated ioutil from tests
  pkg/pillar/cmd/msrv/msrv_test.go
Owners: @eriknordmark

Introduce ADOPTERS.md
  ADOPTERS.md
Owners: @eriknordmark

[mkdocs] Add project-level documentation
  docs/mkdocs/mkdocs.yml
  pkg/pillar/cmd/downloader/download.go
Owners: @eriknordmark, @deitch, @milan-zededa, @rouming

[downloader.go] Revert accidental file change
  pkg/pillar/cmd/downloader/download.go
Owners: @deitch, @milan-zededa, @rouming

[downloader.go] Revert accidental file change
  pkg/pillar/cmd/downloader/download.go
Owners: @deitch, @milan-zededa, @rouming

Main chnages for kube/cluster-init.sh for multi-node cluster handling
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-utils.sh
Owners: @zedi-pramodh

msrv: remove deprecated ioutil from tests
  pkg/pillar/cmd/msrv/msrv_test.go
Owners: @eriknordmark

msrv: use AllowToDiscover flag in discovery endpoint
  pkg/pillar/cmd/msrv/msrv_test.go
  pkg/pillar/cmd/msrv/pubsub.go
Owners: @eriknordmark

msrv: use AllowToDiscover flag in discovery endpoint
  pkg/pillar/cmd/msrv/msrv_test.go
  pkg/pillar/cmd/msrv/pubsub.go
Owners: @eriknordmark

msrv: remove deprecated ioutil from tests
  pkg/pillar/cmd/msrv/msrv_test.go
Owners: @eriknordmark

uefi : fix broken build due to missing edk2 submodule
  pkg/uefi/Dockerfile
  pkg/uefi/edk2-patches/edk2-stable202408.01/0000-Add-Xen-spoofing-in-XenPlatformPei.patch
Owners: @rucoder

pillar/watcher: Add goroutine leak detection.
  pkg/pillar/cmd/watcher/watcher.go
Owners: @eriknordmark

pillar/agentlog: Ensure directory creation for goroutine stack dumps in DumpAllStacks.
  pkg/pillar/agentlog/agentlog.go
Owners: @eriknordmark

pillar/docs: Add doc about watcher.
  pkg/pillar/docs/watcher.md
Owners: @eriknordmark

pillar/watcher: Add unit tests for goroutine leak detection.
  pkg/pillar/cmd/watcher/watcher_test.go
Owners: @eriknordmark

pillar/watcher: Make goroutine leak detector configurable.
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/watcher/watcher.go
  pkg/pillar/cmd/watcher/watcher_test.go
  pkg/pillar/docs/watcher.md
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

pillar/docs: Add doc about goroutine leak detector.
  pkg/pillar/docs/watcher.md
Owners: @eriknordmark

pillar/watcher: Add tests for runtime configuration updates in goroutine leak detection.
  pkg/pillar/cmd/watcher/watcher_test.go
Owners: @eriknordmark

pillar/watcher: Make goroutinesMonitor stoppable.
  pkg/pillar/cmd/watcher/watcher.go
  pkg/pillar/cmd/watcher/watcher_test.go
Owners: @eriknordmark

debug/collect-info: Include dump by goroutine leak detector.
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

pillar/watcher: Add unit tests for goroutine leak detection.
  pkg/pillar/cmd/watcher/watcher_test.go
Owners: @eriknordmark

pillar/agentlog: Ensure directory creation for goroutine stack dumps in DumpAllStacks.
  pkg/pillar/agentlog/agentlog.go
Owners: @eriknordmark

pillar/watcher: Add tests for runtime configuration updates in goroutine leak detection.
  pkg/pillar/cmd/watcher/watcher_test.go
Owners: @eriknordmark

pillar/docs: Add doc about goroutine leak detector.
  pkg/pillar/docs/watcher.md
Owners: @eriknordmark

pillar/docs: Add doc about watcher.
  pkg/pillar/docs/watcher.md
Owners: @eriknordmark

pillar/watcher: Make goroutine leak detector configurable.
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/watcher/watcher.go
  pkg/pillar/cmd/watcher/watcher_test.go
  pkg/pillar/docs/watcher.md
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

debug/collect-info: Include dump by goroutine leak detector.
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

pillar/watcher: Make goroutinesMonitor stoppable.
  pkg/pillar/cmd/watcher/watcher.go
  pkg/pillar/cmd/watcher/watcher_test.go
Owners: @eriknordmark

pillar/watcher: Add goroutine leak detection.
  pkg/pillar/cmd/watcher/watcher.go
Owners: @eriknordmark

set debug log level for eden test workflows
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

eden.yml: checkout Eden 0.9.13
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

eden.yml: checkout Eden 0.9.13
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

pillar/hypervisor: extract PCI template filling
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: split qemuPciPassthruTemplate
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: add multifunc dev
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: extract PCI template filling
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: add multifunc dev
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: split qemuPciPassthruTemplate
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Enable the vhost backend for the virtio-net interfaces in the KVM hypervisor
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
