Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Add .gitignore file for pkg/pillar directory
  pkg/pillar/.gitignore
Owners: @eriknordmark

Overlay mount xen-tools into user app container
  pkg/pillar/containerd/containerd.go
  pkg/pillar/containerd/oci.go
  pkg/pillar/containerd/oci_test.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/hypervisor.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/xen.go
Owners: @deitch, @rouming, @OhmSpectator, @rucoder, @rene, @shjala

remove zfs snapshotter in containerd
  pkg/pillar/containerd/containerd.go
Owners: @deitch, @rouming

memory-monitor: Add error tolerance to memory allocation logging in handler script.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

pkg/u-boot: fix riscv64 build
  pkg/u-boot/Dockerfile
  pkg/u-boot/patches/patches-v2024.10-rc2/0004-Disable-mkeficapsule-tool.patch
Owners: @rene

Add vendor files for Implement Cluster for zedkube related functions
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/etherpassthrough.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/vnc.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clustertypes.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/OWNERS
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/healthzadaptor.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/leaderelection.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/metrics.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/multilock.go
Owners: @eriknordmark

Node Drain Request/Status API
  pkg/pillar/docs/zedkube.md
  pkg/pillar/kubeapi/kubetypes.go
  pkg/pillar/kubeapi/nodedrain.go
  pkg/pillar/kubeapi/nokube.go
Owners: @eriknordmark

pillar/devicenetwork: goroutine leak test
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/go.uber.org/goleak/.gitignore
  pkg/pillar/vendor/go.uber.org/goleak/.golangci.yml
  pkg/pillar/vendor/go.uber.org/goleak/CHANGELOG.md
  pkg/pillar/vendor/go.uber.org/goleak/LICENSE
  pkg/pillar/vendor/go.uber.org/goleak/Makefile
  pkg/pillar/vendor/go.uber.org/goleak/README.md
  pkg/pillar/vendor/go.uber.org/goleak/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/scan.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/stacks.go
  pkg/pillar/vendor/go.uber.org/goleak/leaks.go
  pkg/pillar/vendor/go.uber.org/goleak/options.go
  pkg/pillar/vendor/go.uber.org/goleak/testmain.go
  pkg/pillar/vendor/go.uber.org/goleak/tracestack_new.go
  pkg/pillar/vendor/modules.txt
Owners: @milan-zededa, @eriknordmark

pillar/devicenetwork: fix goroutine leak
  pkg/pillar/devicenetwork/dns.go
Owners: @milan-zededa

Blocking kube container logs to be sent and some minor changes
  pkg/debug/scripts/collect-info.sh
  pkg/kube/eve-bridge/eve-bridge.go
  pkg/kube/multus-daemonset.yaml
  pkg/newlog/cmd/newlogd.go
  pkg/pillar/scripts/onboot.sh
  pkg/pillar/types/diskmetrics.go
Owners: @rouming, @zedi-pramodh, @deitch, @naiming-zededa, @eriknordmark

Add .gitignore file for pkg/pillar directory
  pkg/pillar/.gitignore
Owners: @eriknordmark

Overlay mount xen-tools into user app container
  pkg/pillar/containerd/containerd.go
  pkg/pillar/containerd/oci.go
  pkg/pillar/containerd/oci_test.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/hypervisor.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/xen.go
Owners: @deitch, @rouming, @OhmSpectator, @rucoder, @rene, @shjala

remove zfs snapshotter in containerd
  pkg/pillar/containerd/containerd.go
Owners: @deitch, @rouming

pillar: Adopt pillar to use native cpupinning
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/oci.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/xen-tools/patches-4.19.0/12-remove-vanillaqemu4.19-cpupinning.patch
  pkg/xen-tools/patches-4.19.0/13-qemu-Add-cpu-pin-and-cpumask-options.patch
  pkg/xen-tools/patches-4.19.0/14-qemu-Init-CPU-mask-per-VCPU.patch
  pkg/xen-tools/patches-4.19.0/15-qemu-Set-the-affinity-of-QEMU-threads-according-to-t.patch
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala, @eriknordmark

update liburing source URL to kernel.org
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

pillar/devicenetwork: goroutine leak test
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/go.uber.org/goleak/.gitignore
  pkg/pillar/vendor/go.uber.org/goleak/.golangci.yml
  pkg/pillar/vendor/go.uber.org/goleak/CHANGELOG.md
  pkg/pillar/vendor/go.uber.org/goleak/LICENSE
  pkg/pillar/vendor/go.uber.org/goleak/Makefile
  pkg/pillar/vendor/go.uber.org/goleak/README.md
  pkg/pillar/vendor/go.uber.org/goleak/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/scan.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/stacks.go
  pkg/pillar/vendor/go.uber.org/goleak/leaks.go
  pkg/pillar/vendor/go.uber.org/goleak/options.go
  pkg/pillar/vendor/go.uber.org/goleak/testmain.go
  pkg/pillar/vendor/go.uber.org/goleak/tracestack_new.go
  pkg/pillar/vendor/modules.txt
Owners: @milan-zededa, @eriknordmark

pillar/devicenetwork: fix goroutine leak
  pkg/pillar/devicenetwork/dns.go
Owners: @milan-zededa

pillar/devicenetwork: fix goroutine leak
  pkg/pillar/devicenetwork/dns.go
Owners: @milan-zededa

pillar/devicenetwork: fix goroutine leak
  pkg/pillar/devicenetwork/dns.go
Owners: @milan-zededa

pillar/devicenetwork: fix goroutine leak
  pkg/pillar/devicenetwork/dns.go
Owners: @milan-zededa

pillar/devicenetwork: goroutine leak test
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/go.uber.org/goleak/.gitignore
  pkg/pillar/vendor/go.uber.org/goleak/.golangci.yml
  pkg/pillar/vendor/go.uber.org/goleak/CHANGELOG.md
  pkg/pillar/vendor/go.uber.org/goleak/LICENSE
  pkg/pillar/vendor/go.uber.org/goleak/Makefile
  pkg/pillar/vendor/go.uber.org/goleak/README.md
  pkg/pillar/vendor/go.uber.org/goleak/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/scan.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/stacks.go
  pkg/pillar/vendor/go.uber.org/goleak/leaks.go
  pkg/pillar/vendor/go.uber.org/goleak/options.go
  pkg/pillar/vendor/go.uber.org/goleak/testmain.go
  pkg/pillar/vendor/go.uber.org/goleak/tracestack_new.go
  pkg/pillar/vendor/modules.txt
Owners: @milan-zededa, @eriknordmark

pillar/devicenetwork: goroutine leak test
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/go.uber.org/goleak/.gitignore
  pkg/pillar/vendor/go.uber.org/goleak/.golangci.yml
  pkg/pillar/vendor/go.uber.org/goleak/CHANGELOG.md
  pkg/pillar/vendor/go.uber.org/goleak/LICENSE
  pkg/pillar/vendor/go.uber.org/goleak/Makefile
  pkg/pillar/vendor/go.uber.org/goleak/README.md
  pkg/pillar/vendor/go.uber.org/goleak/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/scan.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/stacks.go
  pkg/pillar/vendor/go.uber.org/goleak/leaks.go
  pkg/pillar/vendor/go.uber.org/goleak/options.go
  pkg/pillar/vendor/go.uber.org/goleak/testmain.go
  pkg/pillar/vendor/go.uber.org/goleak/tracestack_new.go
  pkg/pillar/vendor/modules.txt
Owners: @milan-zededa, @eriknordmark

pillar/devicenetwork: goroutine leak test
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/go.uber.org/goleak/.gitignore
  pkg/pillar/vendor/go.uber.org/goleak/.golangci.yml
  pkg/pillar/vendor/go.uber.org/goleak/CHANGELOG.md
  pkg/pillar/vendor/go.uber.org/goleak/LICENSE
  pkg/pillar/vendor/go.uber.org/goleak/Makefile
  pkg/pillar/vendor/go.uber.org/goleak/README.md
  pkg/pillar/vendor/go.uber.org/goleak/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/doc.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/scan.go
  pkg/pillar/vendor/go.uber.org/goleak/internal/stack/stacks.go
  pkg/pillar/vendor/go.uber.org/goleak/leaks.go
  pkg/pillar/vendor/go.uber.org/goleak/options.go
  pkg/pillar/vendor/go.uber.org/goleak/testmain.go
  pkg/pillar/vendor/go.uber.org/goleak/tracestack_new.go
  pkg/pillar/vendor/modules.txt
Owners: @milan-zededa, @eriknordmark

update liburing source URL to kernel.org
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

vTPM : more relaxed timeout
  pkg/vtpm/swtpm-vtpm/src/main.go
Owners: @shjala

vTPM : validate id before using it in the request
  pkg/vtpm/swtpm-vtpm/go.mod
  pkg/vtpm/swtpm-vtpm/src/main.go
  pkg/vtpm/swtpm-vtpm/src/vtpm_test.go
Owners: @shjala

Domainmgr : refactor virtual TPM setup and termination
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

add vtpm vendor directory to .spdxignore
  .spdxignore
Owners: @eriknordmark

vTPM : fix bug when getting launch request
  pkg/vtpm/swtpm-vtpm/src/main.go
Owners: @shjala

domainmgr : call vTPM asynchronously and refactor setup functions
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/null.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala, @eriknordmark

proc utils : rename wd kicker
  pkg/pillar/utils/proc.go
Owners: @milan-zededa

Add new vTPM tests
  pkg/vtpm/swtpm-vtpm/src/vtpm_test.go
Owners: @shjala

vTPM : refactor control socket communication and error handling
  pkg/pillar/hypervisor/kvm.go
  pkg/vtpm/swtpm-vtpm/src/main.go
  pkg/vtpm/swtpm-vtpm/src/vtpm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

update liburing source URL to kernel.org
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

update liburing source URL to kernel.org
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

update liburing source URL to kernel.org
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

update liburing source URL to kernel.org
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

update liburing source URL to kernel.org
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

update liburing source URL to kernel.org
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

Domainmgr : refactor virtual TPM setup and termination
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
