Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

Add alpine to dockerfile-from-checker exceptions, and simplify vars for it
  Makefile
Owners: @eriknordmark

Makefile: remove circular dependency warning
  Makefile
Owners: @eriknordmark

memory-monitor: Fix log files clean up to prevent storage overflow.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Make sure ethernet interface is DOWN before renaming and changing MAC
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
Owners: @milan-zededa

App-shared port without DNS server is not necessarily an issue
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/types/conntest.go
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
  pkg/pillar/zedcloud/send.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark, @christoph-zededa

Add alpine to dockerfile-from-checker exceptions, and simplify vars for it
  Makefile
Owners: @eriknordmark

add missing dependencies packages
  pkg/alpine/Dockerfile
  pkg/alpine/mirrors/3.16/community
Owners: @christoph-zededa

Makefile : allow overriding MEDIA_SIZE and QEMU_MEMORY
  Makefile
Owners: @eriknordmark

More missing alpine packages for tpm2
  pkg/alpine/Dockerfile
  pkg/alpine/mirrors/3.16/community
Owners: @christoph-zededa

Makefile : allow overriding MEDIA_SIZE and QEMU_MEMORY
  Makefile
Owners: @eriknordmark

Increase rootfs size to 270Mb
  Makefile
Owners: @eriknordmark

More missing alpine packages for tpm2
  pkg/alpine/Dockerfile
  pkg/alpine/mirrors/3.16/community
Owners: @christoph-zededa

Fix an issue in Edgeview not getting App interface IP address
  pkg/edgeview/go.mod
  pkg/edgeview/go.sum
  pkg/edgeview/src/network.go
Owners: @christoph-zededa, @naiming-zededa

Add vendor files for Edgeview not getting App interface IP address
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/flextimer/flextimer.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/socketdriver/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/subscribe.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/util.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/assignableadapters.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/conntest.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/diskmetrics.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dns.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/domainmgrtypes.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dpc.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/locationconsts.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/memory.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/wwan.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/zedroutertypes.go
  pkg/edgeview/vendor/modules.txt
Owners: @christoph-zededa, @naiming-zededa

Still more packages missing from alpine
  pkg/alpine/Dockerfile
  pkg/alpine/mirrors/3.16/community
  pkg/alpine/mirrors/3.16/main
Owners: @christoph-zededa

Replace: Deprecated qemu param
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Still more packages missing from alpine
  pkg/alpine/Dockerfile
  pkg/alpine/mirrors/3.16/community
  pkg/alpine/mirrors/3.16/main
Owners: @christoph-zededa

Bump eve-alpine to lfedge/eve-alpine:5b734fd3a2602490e06589079511729f03e35724
  pkg/apparmor/Dockerfile
  pkg/bpftrace/Dockerfile
  pkg/cross-compilers/Dockerfile
  pkg/debug/Dockerfile
  pkg/dnsmasq/Dockerfile
  pkg/dom0-ztools/Dockerfile
  pkg/edgeview/Dockerfile
  pkg/eve/Dockerfile.in
  pkg/fscrypt/Dockerfile
  pkg/fw/Dockerfile
  pkg/gpt-tools/Dockerfile
  pkg/grub/Dockerfile
  pkg/guacd/Dockerfile
  pkg/installer/Dockerfile
  pkg/ipxe/Dockerfile
  pkg/kdump/Dockerfile
  pkg/kexec/Dockerfile
  pkg/kube/Dockerfile
  pkg/kvm-tools/Dockerfile
  pkg/measure-config/Dockerfile
  pkg/memory-monitor/Dockerfile
  pkg/mkconf/Dockerfile
  pkg/mkimage-iso-efi/Dockerfile
  pkg/mkimage-raw-efi/Dockerfile
  pkg/mkrootfs-ext4/Dockerfile
  pkg/mkrootfs-squash/Dockerfile
  pkg/newlog/Dockerfile
  pkg/nvidia/Dockerfile
  pkg/pillar/Dockerfile
  pkg/recovertpm/Dockerfile
  pkg/rngd/Dockerfile
  pkg/sources/Dockerfile
  pkg/storage-init/Dockerfile
Owners: @shjala, @eriknordmark, @rene, @rouming, @christoph-zededa, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @deitch

Remove pkg/installer from IGNORE_DOCKERFILE_HASHES_PKGS Makefile exceptions list
  Makefile
Owners: @eriknordmark

Replace: Deprecated qemu param
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Remove pkg/installer from IGNORE_DOCKERFILE_HASHES_PKGS Makefile exceptions list
  Makefile
Owners: @eriknordmark

Bump eve-alpine to lfedge/eve-alpine:5b734fd3a2602490e06589079511729f03e35724
  pkg/apparmor/Dockerfile
  pkg/bpftrace/Dockerfile
  pkg/cross-compilers/Dockerfile
  pkg/debug/Dockerfile
  pkg/dnsmasq/Dockerfile
  pkg/dom0-ztools/Dockerfile
  pkg/edgeview/Dockerfile
  pkg/eve/Dockerfile.in
  pkg/fscrypt/Dockerfile
  pkg/fw/Dockerfile
  pkg/gpt-tools/Dockerfile
  pkg/grub/Dockerfile
  pkg/guacd/Dockerfile
  pkg/installer/Dockerfile
  pkg/ipxe/Dockerfile
  pkg/kdump/Dockerfile
  pkg/kexec/Dockerfile
  pkg/kube/Dockerfile
  pkg/kvm-tools/Dockerfile
  pkg/measure-config/Dockerfile
  pkg/memory-monitor/Dockerfile
  pkg/mkconf/Dockerfile
  pkg/mkimage-iso-efi/Dockerfile
  pkg/mkimage-raw-efi/Dockerfile
  pkg/mkrootfs-ext4/Dockerfile
  pkg/mkrootfs-squash/Dockerfile
  pkg/newlog/Dockerfile
  pkg/nvidia/Dockerfile
  pkg/pillar/Dockerfile
  pkg/recovertpm/Dockerfile
  pkg/rngd/Dockerfile
  pkg/sources/Dockerfile
  pkg/storage-init/Dockerfile
Owners: @shjala, @eriknordmark, @rene, @rouming, @christoph-zededa, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @deitch

Dockerfiles: bump remaining eve-alpine based images
  Makefile
  eve-tools/bpftrace-compiler/root/Dockerfile
  pkg/acrn-kernel/Dockerfile
  pkg/acrn/Dockerfile
  pkg/alpine/Dockerfile
  pkg/bsp-imx/Dockerfile
  pkg/optee-os/Dockerfile
  pkg/u-boot/Dockerfile
  pkg/udev/Dockerfile
  pkg/uefi/Dockerfile
  pkg/vtpm/Dockerfile
  pkg/watchdog/Dockerfile
  pkg/wlan/Dockerfile
  pkg/wwan/Dockerfile
  pkg/xen-tools/Dockerfile
  pkg/xen/Dockerfile
Owners: @eriknordmark, @christoph-zededa, @rene, @rucoder, @shjala, @milan-zededa, @OhmSpectator

Dockerfiles: bump several images
  pkg/pillar/Dockerfile
  pkg/vtpm/Dockerfile
Owners: @eriknordmark, @shjala

memory-monitor: Simplify cgroup task handling in the handler script.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Log last lines of failed handler script to syslog.
  pkg/memory-monitor/src/monitor/monitor.c
  pkg/memory-monitor/src/monitor/util.c
  pkg/memory-monitor/src/monitor/util.h
Owners: @OhmSpectator

memory-monitor: Move file cleanup to exit handler.
  pkg/memory-monitor/src/monitor/config.h
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Add volumeattach/volumedetach API
  pkg/pillar/kubeapi/vitoapiserver.go
Owners: @eriknordmark

Increase rootfs size to 270Mb
  Makefile
Owners: @eriknordmark

Add vendor files for Edgeview not getting App interface IP address
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/flextimer/flextimer.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/socketdriver/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/subscribe.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/util.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/assignableadapters.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/conntest.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/diskmetrics.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dns.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/domainmgrtypes.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dpc.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/locationconsts.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/memory.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/wwan.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/zedroutertypes.go
  pkg/edgeview/vendor/modules.txt
Owners: @christoph-zededa, @naiming-zededa

Fix an issue in Edgeview not getting App interface IP address
  pkg/edgeview/go.mod
  pkg/edgeview/go.sum
  pkg/edgeview/src/network.go
Owners: @christoph-zededa, @naiming-zededa

Dockerfiles: bump several images
  pkg/pillar/Dockerfile
  pkg/vtpm/Dockerfile
Owners: @eriknordmark, @shjala

Dockerfiles: bump remaining eve-alpine based images
  Makefile
  eve-tools/bpftrace-compiler/root/Dockerfile
  pkg/acrn-kernel/Dockerfile
  pkg/acrn/Dockerfile
  pkg/alpine/Dockerfile
  pkg/bsp-imx/Dockerfile
  pkg/optee-os/Dockerfile
  pkg/u-boot/Dockerfile
  pkg/udev/Dockerfile
  pkg/uefi/Dockerfile
  pkg/vtpm/Dockerfile
  pkg/watchdog/Dockerfile
  pkg/wlan/Dockerfile
  pkg/wwan/Dockerfile
  pkg/xen-tools/Dockerfile
  pkg/xen/Dockerfile
Owners: @eriknordmark, @christoph-zededa, @rene, @rucoder, @shjala, @milan-zededa, @OhmSpectator

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

Include ZFS in installer
  images/installer.yml.in
Owners: @eriknordmark

Set WType even for wireless ports without network config
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/verify.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/types/dpc.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

Include ZFS in installer
  images/installer.yml.in
Owners: @eriknordmark

memory-monitor: Simplify cgroup task handling in the handler script.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator
