Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

Fix error in pciDevice.readResources
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/pci.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Add tests for hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Various missing PR fixes for kubevirt startup.
  .yetus/excludes.txt
  pkg/kube/Dockerfile
  pkg/kube/lh-cfg-v1.6.3.yaml
  pkg/pillar/cmd/zedkube/handlenodedrain.go
  pkg/pillar/cmd/zedkube/zedkube.go
Owners: @eriknordmark, @zedi-pramodh

Add tests for hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fix error in pciDevice.readResources
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/pci.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

github/workflows/assets.yml: Switch to buildjet.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

github/workflows/assets.yml: Switch to buildjet.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Add tests for hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fix error in pciDevice.readResources
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/pci.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

dom0-ztools: add 'monitor' to EVESERVICES in cgroup init script.
  pkg/dom0-ztools/rootfs/etc/init.d/010-eve-cgroup
Owners: @christoph-zededa, @rouming

GitHub: add CVE scanner workflow to GH actions.
  .github/workflows/sbom-vuln-scan.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Keep the applications alive when getting UNKNOWN state from the containerd tasks
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/containerd.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala

Propagate Windows License to VMs
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/null.go
  pkg/pillar/hypervisor/win.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/vm.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark, @rucoder, @rene, @shjala

Increase ApiCapability to report Windows License Passthrough
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

eve: installer: Add rootwait by default
  pkg/eve/installer/grub_installer.cfg
Owners: @eriknordmark

Missing flags to mark install complete.
  pkg/kube/cluster-init.sh
Owners: @zedi-pramodh

eve: installer: Add rootwait by default
  pkg/eve/installer/grub_installer.cfg
Owners: @eriknordmark

Missing flags to mark install complete.
  pkg/kube/cluster-init.sh
Owners: @zedi-pramodh

Github Actions: don't fail osv-scanner scheduled scan
  .github/workflows/osv-scanner.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Github Actions: make osv-scanner recursive
  .github/workflows/osv-scanner.yml
Owners: @deitch, @uncleDecart, @yash-zededa

nvidia: Fix CDI file for Orin - Jetpack 6.0
  pkg/nvidia/cdi/jp6/jetson-orin.yaml
Owners: @eriknordmark

Github Actions: don't fail osv-scanner scheduled scan
  .github/workflows/osv-scanner.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Github Actions: make osv-scanner recursive
  .github/workflows/osv-scanner.yml
Owners: @deitch, @uncleDecart, @yash-zededa

nvidia: Fix CDI file for Orin - Jetpack 6.0
  pkg/nvidia/cdi/jp6/jetson-orin.yaml
Owners: @eriknordmark

pillar/hypervisor: remove unused variable
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

eve: installer: Add rootwait by default
  pkg/eve/installer/grub_installer.cfg
Owners: @eriknordmark

Revert "domainmgr: do pci-reserve on start of edge app"
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

domainmgr: set KeepInHost for USB PCI controllers
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/domainmgr/domainmgr_test.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

eve: installer: Add rootwait by default
  pkg/eve/installer/grub_installer.cfg
Owners: @eriknordmark

domainmgr: set KeepInHost for USB PCI controllers
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/domainmgr/domainmgr_test.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Revert "domainmgr: do pci-reserve on start of edge app"
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

pillar/hypervisor: remove unused variable
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

dpcreconsiler: Restrict ICMP rule to echo-request only.
  pkg/pillar/dpcreconciler/linux.go
Owners: @milan-zededa

pillar: replace IoUSB device type with correct one
  pkg/pillar/cmd/domainmgr/domainmgr_test.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/assignableadapters_test.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala, @eriknordmark

pillar/watcher: enhance test error output
  pkg/pillar/cmd/watcher/watcher_test.go
Owners: @eriknordmark

pillar/domainmgr: check for IoUSB controllers
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/types/assignableadapters.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @eriknordmark

github: automatically close PRs from the master branch.
  .github/workflows/close-master-pr.yml
Owners: @deitch, @uncleDecart, @yash-zededa

PVC create should be max of three size sources.
  pkg/pillar/diskmetrics/diskmetrics.go
  pkg/pillar/kubeapi/vitoapiserver.go
Owners: @eriknordmark

PVC create should be max of three size sources.
  pkg/pillar/diskmetrics/diskmetrics.go
  pkg/pillar/kubeapi/vitoapiserver.go
Owners: @eriknordmark

pillar/hypervisor: link pciDevice to IoBundle
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala
