Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

pillar/xen: use better indicator for usb controlle
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

github: automatically close PRs from the master branch.
  .github/workflows/close-master-pr.yml
Owners: @deitch, @uncleDecart, @yash-zededa

github: automatically close PRs from the master branch.
  .github/workflows/close-master-pr.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Stupid commit
  pkg/pillar/agentlog/agentlog.go
Owners: @eriknordmark

Makefile: Add platform variant to eve container's TAG and rootfs version
  Makefile
Owners: @eriknordmark

docs: require PRs from feature branches, not master.
  CONTRIBUTING.md
Owners: @eriknordmark

docs: require PRs from feature branches, not master.
  CONTRIBUTING.md
Owners: @eriknordmark

gh: disable slurping in curl
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

gh: disable slurping in curl
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

gh: disable slurping in curl
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

gh: disable slurping in curl
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

gh: disable slurping in curl
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

gh: disable slurping in curl
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

gh: disable slurping in curl
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

gh: disable slurping in curl
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

pillar: Add Virtual Terminal and Framebuffer functions
  pkg/pillar/cmd/domainmgr/vtfb.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

pillar: Add function description
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

domainmgr: Handle VTs and Framebuffer drivers for VGA access
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

pillar: Fix log message variable value
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/appconfig.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/vm.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/appconfig.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/vm.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

pillar: add immediate snapshot feature
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Add UDP source IP into golang dialer https connection for Edgeview
  pkg/edgeview/src/websocket.go
Owners: @christoph-zededa, @naiming-zededa

Add UDP source IP into golang dialer https connection for Edgeview
  pkg/edgeview/src/websocket.go
Owners: @christoph-zededa, @naiming-zededa

pillar/domainmgr: check for IoUSB controllers
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/types/assignableadapters.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @eriknordmark

pillar: replace IoUSB device type with correct one
  pkg/pillar/cmd/domainmgr/domainmgr_test.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/assignableadapters_test.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala, @eriknordmark

pillar/hypervisor: link pciDevice to IoBundle
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/xen: use better indicator for usb controlle
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/watcher: enhance test error output
  pkg/pillar/cmd/watcher/watcher_test.go
Owners: @eriknordmark

pillar: replace IoUSB device type with correct one
  pkg/pillar/cmd/domainmgr/domainmgr_test.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/assignableadapters_test.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala, @eriknordmark

Makefile: Add platform variant to eve container's TAG and rootfs version
  Makefile
Owners: @eriknordmark

pillar: replace IoUSB device type with correct one
  pkg/pillar/cmd/domainmgr/domainmgr_test.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/assignableadapters_test.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala, @eriknordmark

pillar/domainmgr: check for IoUSB controllers
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/types/assignableadapters.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @eriknordmark

pillar/hypervisor: link pciDevice to IoBundle
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/xen: use better indicator for usb controlle
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/domainmgr: check for IoUSB controllers
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/types/assignableadapters.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @eriknordmark

pillar/xen: use better indicator for usb controlle
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: link pciDevice to IoBundle
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

nvidia: Fix script and udev for Jetpack 5
  pkg/nvidia/scripts/jp5/nv-init.sh
  pkg/nvidia/udev/jp5/rules.d/90-eve-nvidia.rules
Owners: @eriknordmark

zedcloud: transform error logs into events
  pkg/pillar/zedcloud/send.go
  pkg/pillar/zedcloud/zedcloudmetric.go
Owners: @christoph-zededa, @rouming
