Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Edge-Node Clustering miscellaneous bug fixes
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-utils.sh
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/zedkube.go
Owners: @zedi-pramodh, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Add monitor logs to collect-info bundle
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

Application Failover support
  pkg/pillar/cmd/volumemgr/handlevolume.go
  pkg/pillar/cmd/zedagent/handlecontent.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/handlevolume.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/docs/failover.md
  pkg/pillar/types/contenttreetypes.go
  pkg/pillar/types/types.go
  pkg/pillar/types/volumetypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @OhmSpectator, @deitch, @rouming, @milan-zededa, @uncleDecart, @eriknordmark

Edge-Node Clustering App-Tracker feature
  pkg/pillar/agentbase/apptracker.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

Handle edge-node clustering in mangle table marking with flowlog enabled
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/iptables/connmark.go
Owners: @milan-zededa

Add UDP source IP into golang dialer https connection for Edgeview
  pkg/edgeview/src/websocket.go
Owners: @christoph-zededa, @naiming-zededa

Revert "Edge-Node Clustering App-Tracker feature"
  pkg/pillar/agentbase/apptracker.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

Revert "Edge-Node Clustering App-Tracker feature"
  pkg/pillar/agentbase/apptracker.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

Include proper iso volume label when running docker run eve installer_iso
  pkg/eve/runme.sh
Owners: @eriknordmark

Include proper iso volume label when running docker run eve installer_iso
  pkg/eve/runme.sh
Owners: @eriknordmark

Add monitor logs to collect-info bundle
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

Include proper iso volume label when running docker run eve installer_iso
  pkg/eve/runme.sh
Owners: @eriknordmark

Include proper iso volume label when running docker run eve installer_iso
  pkg/eve/runme.sh
Owners: @eriknordmark

Add monitor logs to collect-info bundle
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

Kubevirt: Defer eve reboot/shutdown/update until drain completes
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/baseosmgr/baseosmgr.go
  pkg/pillar/cmd/baseosmgr/handlebaseos.go
  pkg/pillar/cmd/baseosmgr/handlenodedrain.go
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/diag/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/zedagent/handleconfig.go
  pkg/pillar/cmd/zedagent/handlenodedrain.go
  pkg/pillar/cmd/zedagent/localinfo.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/drain.go
  pkg/pillar/cmd/zedkube/handlenodedrain.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/kubeapi/nokube.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @deitch, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Add UDP source IP into golang dialer https connection for Edgeview
  pkg/edgeview/src/websocket.go
Owners: @christoph-zededa, @naiming-zededa

Edge-Node Clustering App-Tracker feature
  pkg/pillar/agentbase/apptracker.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

Handle edge-node clustering in mangle table marking with flowlog enabled
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/iptables/connmark.go
Owners: @milan-zededa

pillar: Fix pillar cross-compilation
  pkg/pillar/Dockerfile
Owners: @eriknordmark

Edge-Node Clustering App-Tracker feature
  pkg/pillar/agentbase/apptracker.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

github/workflows: Added NVIDIA platforms in packages
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: Updated the eden.yml to use the new upload actions
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: Updated the eden.yml to use the new upload actions
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Fix typos in code
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedagent/watchdog.go
  pkg/pillar/types/zedagenttypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark

Avoid nil dereference in baseosmgr
  pkg/pillar/cmd/baseosmgr/handledownload.go
Owners: @deitch

Edge-Node Clustering miscellaneous bug fixes
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-utils.sh
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/zedkube.go
Owners: @zedi-pramodh, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Fix some issues related to Kube Cluster lease election
  pkg/pillar/agentbase/apptracker.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/leaderelect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

Fix mini-yetus on MacOs: cp doesn't support --parents
  tools/mini-yetus.sh
Owners: @deitch, @jsfakian

Misc kubevirt kube container changes
  pkg/debug/scripts/collect-info.sh
  pkg/kube/cluster-init.sh
  pkg/kube/config-k3s.toml
  pkg/kube/config.yaml
  pkg/kube/longhorn-utils.sh
  pkg/kube/nsmounter
Owners: @rouming, @zedi-pramodh

Avoid nil dereference in baseosmgr
  pkg/pillar/cmd/baseosmgr/handledownload.go
Owners: @deitch

Fix typos in code
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedagent/watchdog.go
  pkg/pillar/types/zedagenttypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark

Fix mini-yetus on MacOs: cp doesn't support --parents
  tools/mini-yetus.sh
Owners: @deitch, @jsfakian

github/workflows: Added NVIDIA platforms in packages
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: Remove AMD and NVIDIA from the build matrix
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: Remove AMD and NVIDIA from the build matrix
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

grub: Disable boot measurement for installer
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Add missing FW package to installer
  images/installer.yml.in
Owners: @eriknordmark

Add OSV-Scanner GitHub Actions workflow for vulnerability scanning
  .github/workflows/osv-scanner.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Add missing FW package to installer
  images/installer.yml.in
Owners: @eriknordmark

Add OSV-Scanner GitHub Actions workflow for vulnerability scanning
  .github/workflows/osv-scanner.yml
Owners: @deitch, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
