Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

memory-monitor: Log last lines of failed handler script to syslog.
  pkg/memory-monitor/src/monitor/monitor.c
  pkg/memory-monitor/src/monitor/util.c
  pkg/memory-monitor/src/monitor/util.h
Owners: @OhmSpectator

memory-monitor: Move file cleanup to exit handler.
  pkg/memory-monitor/src/monitor/config.h
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Simplify cgroup task handling in the handler script.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Move file cleanup to exit handler.
  pkg/memory-monitor/src/monitor/config.h
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Log last lines of failed handler script to syslog.
  pkg/memory-monitor/src/monitor/monitor.c
  pkg/memory-monitor/src/monitor/util.c
  pkg/memory-monitor/src/monitor/util.h
Owners: @OhmSpectator

pillar: Adopt pillar to use native cpupinning
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/oci.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/xen-tools/patches-4.19.0/12-remove-vanillaqemu4.19-cpupinning.patch
  pkg/xen-tools/patches-4.19.0/15-qemu-Set-the-affinity-of-QEMU-threads-according-to-t.patch
  pkg/xen-tools/patches-4.19.0/16-qemu-native-thread-affinity.patch
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala, @eriknordmark

Include ZFS in installer
  images/installer.yml.in
Owners: @eriknordmark

Add hv:kubevirt platform:generic arch:amd64
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Install Descheduler, fix startup readywait
  .spdxignore
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/descheduler-job.yaml
  pkg/kube/descheduler-policy-configmap.yaml
Owners: @eriknordmark, @zedi-pramodh

memory-monitor: Log last lines of failed handler script to syslog.
  pkg/memory-monitor/src/monitor/monitor.c
  pkg/memory-monitor/src/monitor/util.c
  pkg/memory-monitor/src/monitor/util.h
Owners: @OhmSpectator

memory-monitor: Simplify cgroup task handling in the handler script.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Move file cleanup to exit handler.
  pkg/memory-monitor/src/monitor/config.h
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

fix: added the missing quotation for the lts-release help target
  Makefile
Owners: @eriknordmark

Include ZFS in installer
  images/installer.yml.in
Owners: @eriknordmark

fix: added the missing quotation for the lts-release help target
  Makefile
Owners: @eriknordmark

Set WType even for wireless ports without network config
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/verify.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/types/dpc.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Implement cluster-wide deterministic MAC generator
  pkg/pillar/cmd/zedrouter/appnetwork.go
  pkg/pillar/cmd/zedrouter/ipam.go
  pkg/pillar/types/zedroutertypes.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark

Rework IP rules/routing for Kubernetes clustering
  pkg/pillar/devicenetwork/pbr.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/dpcreconciler/linux_test.go
  pkg/pillar/dpcreconciler/linuxitems/iprule.go
  pkg/pillar/dpcreconciler/linuxitems/localiprule.go
  pkg/pillar/dpcreconciler/linuxitems/registry.go
  pkg/pillar/dpcreconciler/linuxitems/route.go
  pkg/pillar/dpcreconciler/linuxitems/srciprule.go
  pkg/pillar/dpcreconciler/linuxitems/typenames.go
  pkg/pillar/iptables/connmark.go
Owners: @milan-zededa

Set WType even for wireless ports without network config
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/verify.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/types/dpc.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

pkg/uefi: remove unused Intel IDG driver
  pkg/uefi/Dockerfile
  pkg/uefi/build.sh
  pkg/xen-tools/Dockerfile
Owners: @rucoder, @OhmSpectator, @rene, @shjala

Wait for 15 seconds for the qmp listener
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/qmp.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Add hv:kubevirt platform:generic arch:amd64
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Node Drain Request/Status API
  pkg/pillar/docs/zedkube.md
  pkg/pillar/kubeapi/kubetypes.go
  pkg/pillar/kubeapi/nodedrain.go
  pkg/pillar/kubeapi/nokube.go
Owners: @eriknordmark

memory-monitor: Restore output limit to 100 MB after refactor mistake.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Add .gitignore file for pkg/pillar directory
  pkg/pillar/.gitignore
Owners: @eriknordmark

Overlay mount xen-tools into user app container
  pkg/pillar/containerd/containerd.go
  pkg/pillar/containerd/oci.go
  pkg/pillar/containerd/oci_test.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/hypervisor.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/xen.go
Owners: @deitch, @rouming, @OhmSpectator, @rucoder, @rene, @shjala

memory-monitor: Restore output limit to 100 MB after refactor mistake.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Restore output limit to 100 MB after refactor mistake.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Restore output limit to 100 MB after refactor mistake.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Fix an issue in Edgeview not getting App interface IP address
  pkg/edgeview/go.mod
  pkg/edgeview/go.sum
  pkg/edgeview/src/network.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/flextimer/flextimer.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/socketdriver/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/subscribe.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/util.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/assignableadapters.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/conntest.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/diskmetrics.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dns.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/domainmgrtypes.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dpc.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/locationconsts.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/memory.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/wwan.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/zedroutertypes.go
  pkg/edgeview/vendor/modules.txt
Owners: @christoph-zededa, @naiming-zededa

pkg/xen-tools : update eve-uefi hash to the latest version
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

pkg/pillar : update eve-uefi hash to the latest version
  pkg/pillar/Dockerfile
Owners: @eriknordmark

pkg/uefi: update to edk2-stable202408 and enable secure boot
  pkg/uefi/Dockerfile
  pkg/uefi/build.sh
  pkg/uefi/edk2-patches/edk2-stable202408/0-empty.patch
Owners: @rucoder

pkg/uefi : add Xen spoofing patch
  pkg/uefi/edk2-patches/edk2-stable202408/0-empty.patch
  pkg/uefi/edk2-patches/edk2-stable202408/0000-Add-Xen-spoofing-in-XenPlatformPei.patch
Owners: @rucoder

pkg/uefi : remove edk2-stable202005 patches
  pkg/uefi/edk2-patches/edk2-stable202005/0000-patch-xen-PlatformPei.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0001-OvmfPkg-Add-OpRegion-and-VBT-header-definition.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0002-OvmfPkg-add-IgdAssignmentDxe.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0003-OvmfPkg-add-Platform-GOP-Policy.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0004-OvmfPkg-PlatformGopPolicy-Add-OpRegion-2.1-support.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0005-OvmfPkg-PlatformPei-Reserve-IGD-Stolen-in-E820.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0006-disable-werror.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0007-build-Fix-python3.10-threading-DeprecationWarnings.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0008-BaseTools-fix-ucs-2-lookup-on-python-3.9.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0009-BaseTools-Work-around-array.array.tostring-removal-i.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0010-OvmfPkg-PlatformBootManagerLib-use-utf8-for-the-seri.patch
Owners: @rucoder

Implement cluster-wide deterministic MAC generator
  pkg/pillar/cmd/zedrouter/appnetwork.go
  pkg/pillar/cmd/zedrouter/ipam.go
  pkg/pillar/types/zedroutertypes.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark

Fix an issue in Edgeview not getting App interface IP address
  pkg/edgeview/go.mod
  pkg/edgeview/go.sum
  pkg/edgeview/src/network.go
Owners: @christoph-zededa, @naiming-zededa

Add vendor files for Edgeview not getting App interface IP address
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/flextimer/flextimer.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/socketdriver/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/subscribe.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/util.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/assignableadapters.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/conntest.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/diskmetrics.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dns.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/domainmgrtypes.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dpc.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/locationconsts.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/memory.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/wwan.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/zedroutertypes.go
  pkg/edgeview/vendor/modules.txt
Owners: @christoph-zededa, @naiming-zededa

memory-monitor: Improve resilience of handler to missing processes.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Fix an issue in Edgeview not getting App interface IP address
  pkg/edgeview/go.mod
  pkg/edgeview/go.sum
  pkg/edgeview/src/network.go
Owners: @christoph-zededa, @naiming-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
