Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

zedagent: deprecated protobuf functions
  pkg/pillar/cmd/zedagent/handlelocation.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/handlenetworkinstance.go
  pkg/pillar/cmd/zedagent/handlentp.go
  pkg/pillar/cmd/zedagent/handlepatchenvelopes.go
  pkg/pillar/cmd/zedagent/hardwareinfo.go
  pkg/pillar/cmd/zedagent/localinfo.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/go.mod
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

agentlog: fix race condition in tests
  pkg/pillar/agentlog/agentlog_test.go
  pkg/pillar/agentlog/memprofile.go
Owners: @eriknordmark

Kernel update - [amd64-generic]
  kernel-commits.mk
Owners: @eriknordmark

yetus: add testdata to excludes.txt
  .yetus-excludes
  .yetus/excludes.txt
Owners: @eriknordmark

Simplify mkimage-iso-efi entrypoint script and its single consumer in pkg/eve/runme.sh
  pkg/eve/runme.sh
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

Set device to maintenance mode if TPM error is detected
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
  pkg/pillar/cmd/vaultmgr/vaultmgr.go
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/types/tpmmgrtypes.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @rucoder, @shjala

Clarify commercial use of Project EVE
  ADOPTERS.md
Owners: @eriknordmark

Implement Clustering and App related functions
  pkg/pillar/base/kubevirt.go
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/cni.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kubevirt_test.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @rucoder, @rene, @shjala

zedagent: deprecated protobuf functions
  pkg/pillar/cmd/zedagent/handlelocation.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/handlenetworkinstance.go
  pkg/pillar/cmd/zedagent/handlentp.go
  pkg/pillar/cmd/zedagent/handlepatchenvelopes.go
  pkg/pillar/cmd/zedagent/hardwareinfo.go
  pkg/pillar/cmd/zedagent/localinfo.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/go.mod
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Kernel update - [amd64-generic]
  kernel-commits.mk
Owners: @eriknordmark

Clarify commercial use of Project EVE
  ADOPTERS.md
Owners: @eriknordmark

Only check IsPort for iobundle types which are Net
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Only check IsPort for iobundle types which are Net
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Only check IsPort for iobundle types which are Net
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Only check IsPort for iobundle types which are Net
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Simplify mkimage-iso-efi entrypoint script and its single consumer in pkg/eve/runme.sh
  pkg/eve/runme.sh
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

Only check IsPort for iobundle types which are Net
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Only check IsPort for iobundle types which are Net
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

yetus: add testdata to excludes.txt
  .yetus-excludes
  .yetus/excludes.txt
Owners: @eriknordmark

newlog: move temp log files correctly after reboot
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
  pkg/newlog/testdata/collect/app.8ce1cc69-e1bb-4fe3-9613-e3eb1c5f5c4d.log.1731935033496
  pkg/newlog/testdata/collect/current.device.log
  pkg/newlog/testdata/collect/dev.log.keep.397634723
  pkg/newlog/testdata/collect/dev.log.upload.815590695
Owners: @deitch, @naiming-zededa

Only check IsPort for iobundle types which are Net
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Simplify mkimage-iso-efi entrypoint script and its single consumer in pkg/eve/runme.sh
  pkg/eve/runme.sh
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

Simplify mkimage-iso-efi entrypoint script and its single consumer in pkg/eve/runme.sh
  pkg/eve/runme.sh
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

Only check IsPort for iobundle types which are Net
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Allow download retrying if the computed and configured checksums differ.
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/downloader/downloader.go
  pkg/pillar/cmd/volumemgr/handledownloader.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/volumemgr/volumemgr.go
  pkg/pillar/types/blob.go
  pkg/pillar/types/downloadertypes.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark, @deitch, @milan-zededa, @rouming, @OhmSpectator

Makefile: Export PLATFORM as docker build argument
  Makefile
Owners: @eriknordmark

ADOPTERS.md: correct iPXE reference
  ADOPTERS.md
Owners: @eriknordmark

u-boot: fix variable names in dockerfile
  pkg/u-boot/Dockerfile
Owners: @rene

ADOPTERS.md: correct iPXE reference
  ADOPTERS.md
Owners: @eriknordmark

newlog: fix file naming for logs
  docs/LOGGING.md
  pkg/edgeview/src/edgeview_test.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
  pkg/newlog/testdata/keepSentQueue/dev.log.1731491904032.gz
  pkg/newlog/testdata/keepSentQueue/dev.log.1731491932618.gz
  pkg/newlog/testdata/keepSentQueue/dev.log.1731491940142.gz
Owners: @eriknordmark, @christoph-zededa, @naiming-zededa, @deitch

u-boot: add initial support for rpi5
  pkg/u-boot/Dockerfile
  pkg/u-boot/patches/patches-v2024.10-rc2/0005-Enable-mmc_sdhci_bcmstb.patch
Owners: @rene

grub: add rpi5 dtb/console in grub.cfg
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

u-boot: fix variable names in dockerfile
  pkg/u-boot/Dockerfile
Owners: @rene

grub: Use regexp in grub.cfg for smbios product name of rpi4/rpi5
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

pillar/nireconciler: rename test package
  pkg/pillar/nireconciler/linux_test.go
Owners: @milan-zededa

pillar: enhance NTP server handling
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/parseconfig_test.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/dpcmanager/dpcmanager_test.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
  pkg/pillar/types/zedroutertypes.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa

pkg/pillar: honor NtpServerExclusively option
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

newlog: fix file naming for logs
  docs/LOGGING.md
  pkg/edgeview/src/edgeview_test.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
  pkg/newlog/testdata/keepSentQueue/dev.log.1731491904032.gz
  pkg/newlog/testdata/keepSentQueue/dev.log.1731491932618.gz
  pkg/newlog/testdata/keepSentQueue/dev.log.1731491940142.gz
Owners: @eriknordmark, @christoph-zededa, @naiming-zededa, @deitch

zedagent/reportinfo: report NTP domain capability
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

pillar/nireconciler: resolve ntp servers
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/types/dns.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark
