Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

github: Avoid unnecessary test restarts on PR approval.
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Test Commit
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

docs: Add diagram sources for CAN figures
  docs/images/eve-can-case1-model.png
  docs/images/eve-can-case1.png
  docs/images/eve-can-case2-model.png
  docs/images/eve-can-case2.png
  docs/images/eve-can-case3-model.png
  docs/images/eve-can-case3.png
Owners: @eriknordmark

docs: Add diagram sources for CAN figures
  docs/images/eve-can-case1-model.png
  docs/images/eve-can-case1.png
  docs/images/eve-can-case2-model.png
  docs/images/eve-can-case2.png
  docs/images/eve-can-case3-model.png
  docs/images/eve-can-case3.png
Owners: @eriknordmark

stat st_blocks block size read from DEV_BSIZE
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/diskmetrics/usage_test.go
Owners: @eriknordmark

Increase eve rootfs partition size to 1G for kubevirt
  Makefile
  pkg/mkimage-raw-efi/make-raw
Owners: @eriknordmark, @jsfakian, @zedi-pramodh

Increase eve rootfs partition size to 1G for kubevirt
  Makefile
  pkg/mkimage-raw-efi/make-raw
Owners: @eriknordmark, @jsfakian, @zedi-pramodh

Setting default server to prod
  conf/server
Owners: @eriknordmark

nvidia: Bumps libc binary to stable version
  pkg/nvidia/Dockerfile
Owners: @eriknordmark

nvidia: Bumps libc binary to stable version
  pkg/nvidia/Dockerfile
Owners: @eriknordmark

Remove qemu from installer
  pkg/installer/Dockerfile
  pkg/installer/verify
Owners: @eriknordmark

Remove qemu from installer
  pkg/installer/Dockerfile
  pkg/installer/verify
Owners: @eriknordmark

stat st_blocks block size read from DEV_BSIZE
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/diskmetrics/usage_test.go
Owners: @eriknordmark

stat st_blocks block size read from DEV_BSIZE
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/diskmetrics/usage_test.go
Owners: @eriknordmark

stat st_blocks block size read from DEV_BSIZE
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/diskmetrics/usage_test.go
Owners: @eriknordmark

watcher: introduce global config option to disable memory monitor.
  pkg/pillar/cmd/watcher/watcher.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

mkimage-iso-efi: Wait for root device inside the initrd script
  pkg/mkimage-iso-efi/initrd.sh
Owners: @eriknordmark

mkimage-iso-efi: Wait for root device inside the initrd script
  pkg/mkimage-iso-efi/initrd.sh
Owners: @eriknordmark

mkimage-iso-efi: Wait for root device inside the initrd script
  pkg/mkimage-iso-efi/initrd.sh
Owners: @eriknordmark

mkimage-iso-efi: Wait for root device inside the initrd script
  pkg/mkimage-iso-efi/initrd.sh
Owners: @eriknordmark

eve: Fix override configuration for ISO image generator
  pkg/eve/runme.sh
Owners: @eriknordmark

docs: add description for memory monitor enable option.
  docs/CONFIG-PROPERTIES.md
  pkg/memory-monitor/README.md
Owners: @eriknordmark, @OhmSpectator

memory-monitor: disable by default.
  docs/CONFIG-PROPERTIES.md
  pkg/memory-monitor/README.md
  pkg/pillar/types/global.go
Owners: @eriknordmark, @OhmSpectator

eve: Fix override configuration for ISO image generator
  pkg/eve/runme.sh
Owners: @eriknordmark

stat st_blocks block size read from DEV_BSIZE
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/diskmetrics/usage_test.go
Owners: @eriknordmark

eve: Fix override configuration for ISO image generator
  pkg/eve/runme.sh
Owners: @eriknordmark

Installer UI cannot remove disks for persist parition
  pkg/installer/src/utils.rs
  pkg/installer/src/views/pdev.rs
Owners: @eriknordmark

memory-monitor: disable by default.
  docs/CONFIG-PROPERTIES.md
  pkg/memory-monitor/README.md
  pkg/pillar/types/global.go
Owners: @eriknordmark, @OhmSpectator

watcher: introduce global config option to disable memory monitor.
  pkg/pillar/cmd/watcher/watcher.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

docs: add description for memory monitor enable option.
  docs/CONFIG-PROPERTIES.md
  pkg/memory-monitor/README.md
Owners: @eriknordmark, @OhmSpectator

eve: Fix override configuration for ISO image generator
  pkg/eve/runme.sh
Owners: @eriknordmark

docs: Update references to nvidia platform
  docs/BUILD.md
Owners: @eriknordmark

docs: rename `prime-cons` to `shim-cons` in the docs
  docs/DEBUGGING.md
Owners: @eriknordmark

xen-tools/init-initrd: rename 'prime-cons' to 'shim-cons'
  pkg/dom0-ztools/rootfs/bin/eve
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/xen-tools/initrd/init-initrd
Owners: @christoph-zededa, @rouming, @OhmSpectator, @rucoder, @rene, @shjala

pillar/hypervisor/kvm_test: reflect latest changes in kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

xen-tools: backport QEMU patches related to aggregator `hub` chardev
  pkg/xen-tools/patches-4.19.0/24-qemu--chardev-char-hub-implement-backend-chardev-aggregato.patch
  pkg/xen-tools/patches-4.19.0/25-qemu--qemu-options.hx-describe-hub-chardev-and-aggregation.patch
Owners: @OhmSpectator, @rucoder, @rene, @shjala

xen-tools/init-initrd,kvm: switch shim console to an aggregator hub device
  pkg/pillar/hypervisor/kvm.go
  pkg/xen-tools/initrd/init-initrd
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

watcher: introduce global config option to disable memory monitor.
  pkg/pillar/cmd/watcher/watcher.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

docs: add description for memory monitor enable option.
  docs/CONFIG-PROPERTIES.md
  pkg/memory-monitor/README.md
Owners: @eriknordmark, @OhmSpectator

memory-monitor: disable by default.
  docs/CONFIG-PROPERTIES.md
  pkg/memory-monitor/README.md
  pkg/pillar/types/global.go
Owners: @eriknordmark, @OhmSpectator
