Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Add volumeattach/volumedetach API
  pkg/pillar/kubeapi/vitoapiserver.go
Owners: @eriknordmark

Initial set of pillar types related files
  pkg/pillar/types/cipherinfotypes.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedkubetypes.go
Owners: @eriknordmark

Fix: tty not found error for COM passthrough
  pkg/pillar/hypervisor/kvm.go
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fixing kvm_test.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fix: tty not found error for COM passthrough
  pkg/pillar/hypervisor/kvm.go
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fixing kvm_test.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fixing kvm_test.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fix: tty not found error for COM passthrough
  pkg/pillar/hypervisor/kvm.go
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fixing kvm_test.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fix: tty not found error for COM passthrough
  pkg/pillar/hypervisor/kvm.go
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

fix: update regex in Makefile to correctly handle rc and lts tags
  Makefile
Owners: @eriknordmark

Update lagging installer docs
  docs/BOOTING.md
  docs/DEPLOYMENT.md
  docs/HARDWARE-VERIFICATION.md
Owners: @eriknordmark

Update lagging installer docs
  docs/BOOTING.md
  docs/DEPLOYMENT.md
  docs/HARDWARE-VERIFICATION.md
Owners: @eriknordmark

Simplify assets.yml by using wildcards and loops
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Simplify assets.yml by using wildcards and loops
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: update regex in Makefile to correctly handle rc and lts tags
  Makefile
Owners: @eriknordmark

fix: update regex in Makefile to correctly handle rc and lts tags
  Makefile
Owners: @eriknordmark

Simplify assets.yml by using wildcards and loops
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Simplify assets.yml by using wildcards and loops
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Install Descheduler, fix startup readywait
  .spdxignore
  .yamllint
  .yetus-excludes
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/descheduler-job.yaml
  pkg/kube/descheduler-policy-configmap.yaml
  pkg/kube/descheduler-utils.sh
  pkg/kube/descheduler_rbac.yaml
  pkg/kube/lh-cfg-v1.6.2.yaml
  pkg/kube/longhorn-utils.sh
Owners: @eriknordmark, @zedi-pramodh

pillar: Adopt pillar to use native cpupinning
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/oci.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/xen-tools/patches-4.19.0/12-remove-vanillaqemu4.19-cpupinning.patch
  pkg/xen-tools/patches-4.19.0/13-qemu-Add-cpu-pin-and-cpumask-options.patch
  pkg/xen-tools/patches-4.19.0/14-qemu-Init-CPU-mask-per-VCPU.patch
  pkg/xen-tools/patches-4.19.0/15-qemu-Set-the-affinity-of-QEMU-threads-according-to-t.patch
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala, @eriknordmark

pkg/xen-tools : update eve-uefi hash to the latest version
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

pkg/uefi: update to edk2-stable202408 and enable secure boot
  pkg/uefi/Dockerfile
  pkg/uefi/build.sh
  pkg/uefi/edk2-patches/edk2-stable202408/0-empty.patch
Owners: @rucoder

pkg/uefi : add Xen spoofing patch
  pkg/uefi/edk2-patches/edk2-stable202408/0-empty.patch
  pkg/uefi/edk2-patches/edk2-stable202408/0000-Add-Xen-spoofing-in-XenPlatformPei.patch
Owners: @rucoder

pkg/uefi : remove edk2-stable202005 patches
  pkg/uefi/edk2-patches/edk2-stable202005/0000-patch-xen-PlatformPei.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0001-OvmfPkg-Add-OpRegion-and-VBT-header-definition.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0002-OvmfPkg-add-IgdAssignmentDxe.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0003-OvmfPkg-add-Platform-GOP-Policy.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0004-OvmfPkg-PlatformGopPolicy-Add-OpRegion-2.1-support.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0005-OvmfPkg-PlatformPei-Reserve-IGD-Stolen-in-E820.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0006-disable-werror.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0007-build-Fix-python3.10-threading-DeprecationWarnings.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0008-BaseTools-fix-ucs-2-lookup-on-python-3.9.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0009-BaseTools-Work-around-array.array.tostring-removal-i.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0010-OvmfPkg-PlatformBootManagerLib-use-utf8-for-the-seri.patch
Owners: @rucoder

pkg/uefi: remove unused Intel IDG driver
  pkg/uefi/Dockerfile
  pkg/uefi/build.sh
  pkg/xen-tools/Dockerfile
Owners: @rucoder, @OhmSpectator, @rene, @shjala

pkg/pillar : update eve-uefi hash to the latest version
  pkg/pillar/Dockerfile
Owners: @eriknordmark

fix: update regex in Makefile to correctly handle rc and lts tags
  Makefile
Owners: @eriknordmark

Main chnages for kube/cluster-init.sh for multi-node cluster handling
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-utils.sh
Owners: @zedi-pramodh

u-boot: Add support to OnLogic FR201
  pkg/u-boot/Dockerfile
  pkg/u-boot/patches/patches-v2024.10-rc2/0001-add-TPM-support-to-the-config-for-rpi4.patch
  pkg/u-boot/patches/patches-v2024.10-rc2/0002-0007-tweak-uefi-dt-selection.patch.patch
  pkg/u-boot/patches/patches-v2024.10-rc2/0003-configs-Enable-driver-for-USB-HUB.patch
  pkg/u-boot/rpi/config.txt
  pkg/u-boot/rpi/fr201.txt
  pkg/u-boot/rpi/overlays/fr201.dts
  pkg/u-boot/rpi/overlays/tpm-soft-spi.dts
Owners: @rene

grub: Add device tree loading for OnLogic FR201 device
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

u-boot: Enable USB2 ports on OnLogic FR201 device
  pkg/u-boot/Dockerfile
  pkg/u-boot/patches/patches-v2024.10-rc2/0003-Add-XHCI_BRCM.patch
  pkg/u-boot/patches/patches-v2024.10-rc2/0003-configs-Enable-driver-for-USB-HUB.patch
  pkg/u-boot/rpi/overlays/fr201.dts
Owners: @rene

grub: Use dedicated device tree for OnLogic FR201 device on linux
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

u-boot: cleanup patches & dockerfile
  pkg/u-boot/Dockerfile
  pkg/u-boot/patches/patches-v2021.10/0001-board-raspberry-enable-simple-framebuffer-in-dt.patch
  pkg/u-boot/patches/patches-v2021.10/0002-fix-build-with-binutils-2.38.patch
  pkg/u-boot/patches/patches-v2021.10/0007-tweak-uefi-dt-selection.patch
  pkg/u-boot/patches/patches-v2022.10/0001-board-raspberry-enable-simple-framebuffer-in-dt.patch
  pkg/u-boot/patches/patches-v2022.10/0002-fix-build-with-binutils-2.38.patch
  pkg/u-boot/patches/patches-v2022.10/0003-add-TPM-support-to-the-config-for-rpi4.patch
  pkg/u-boot/patches/patches-v2022.10/0004-rpi-Copy-properties-from-firmware-dtb-to-the-loaded-.patch
  pkg/u-boot/patches/patches-v2022.10/0007-tweak-uefi-dt-selection.patch
  pkg/u-boot/patches/patches-v2024.10-rc2/0002-tweak-uefi-dt-selection.patch
Owners: @rene

Setting default server to prod
  conf/server
Owners: @eriknordmark

Update pkg/eve/runme.sh for installer net to match what was one in makenet.sh
  pkg/eve/runme.sh
Owners: @eriknordmark

Allow reporting cpu physical core count.
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/domainmgr/metric.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/hypervisor.go
  pkg/pillar/hypervisor/null.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala

Update pkg/eve/runme.sh for installer net to match what was one in makenet.sh
  pkg/eve/runme.sh
Owners: @eriknordmark

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa
