Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Integrate monitor-rs version v0.2.1
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Add .dockerignore to pkg/monitor
  pkg/monitor/.dockerignore
Owners: @eriknordmark

docs: Fix security warnings pointed by dependabot
  docs/mkdocs/prepare_mkdocs.py
  docs/mkdocs/requirements.txt
Owners: @eriknordmark

pillar: Add passed-through devices to cgroups device list as well
  pkg/pillar/containerd/oci.go
Owners: @deitch, @rouming

domainmgr: Handle VTs and Framebuffer drivers for VGA access
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

pillar: Add Virtual Terminal and Framebuffer functions
  pkg/pillar/cmd/domainmgr/vtfb.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

docs: Add a short notice about VGA console access
  docs/DEBUGGING.md
Owners: @eriknordmark

pillar: Fix log message variable value
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

pillar: Add function description
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

docs: Fix small typo
  docs/DEBUGGING.md
Owners: @eriknordmark

Propagate Windows License to VMs
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/null.go
  pkg/pillar/hypervisor/win.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @rucoder, @rene, @shjala, @eriknordmark

Increase ApiCapability to report Windows License Passthrough
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

remove excessive logs from getVolumeStatusByLocation
  pkg/pillar/cmd/volumemgr/initialvolumestatus.go
Owners: @OhmSpectator, @deitch, @rouming

Fix flow-logging config removal
  pkg/pillar/nireconciler/linux_acl.go
Owners: @milan-zededa

Always enable bridge iptables for kubernetes networking
  pkg/pillar/nireconciler/linux_config.go
Owners: @milan-zededa

Improved info message for S.M.A.R.T. error reporting
  pkg/pillar/cmd/zedagent/hardwareinfo.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/hardware/smart.go
  pkg/pillar/types/smarttypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

added the necessary vendor changes in github.com/lf-edge/eve-api/go/info
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

added the necessary vendor changes in pkg/pillar
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/anatol/smart.go/README.md
  pkg/pillar/vendor/github.com/anatol/smart.go/ata_device_database.go
  pkg/pillar/vendor/github.com/anatol/smart.go/ioctl_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_darwin.cpp
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_other.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata_other.go
  pkg/pillar/vendor/github.com/anatol/smart.go/scsi.go
  pkg/pillar/vendor/github.com/anatol/smart.go/scsi_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/smart.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_format.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_forward.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_order.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertions.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/http_assertions.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/require.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/require.go.tmpl
  pkg/pillar/vendor/github.com/stretchr/testify/require/require_forward.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/requirements.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Add pkg/monitor/eve-monitor-rs into .gitignore
  .gitignore
Owners: @eriknordmark

Fix flow-logging config removal
  pkg/pillar/nireconciler/linux_acl.go
Owners: @milan-zededa

Fallback mechanism for LTE Attach APN selection
  pkg/wwan/mmagent/mmdbus/client.go
Owners: @milan-zededa

Always enable bridge iptables for kubernetes networking
  pkg/pillar/nireconciler/linux_config.go
Owners: @milan-zededa

Makefile: add more bump targets
  Makefile
Owners: @eriknordmark

ECC-memory-error-reporting: bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/hardwarehealth/hardware_health.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

use timestamp for deduplicateLogs (goroutine) because msgid is not available
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
Owners: @deitch, @naiming-zededa

add filtering methods to process logs while they are being compressed
  pkg/newlog/cmd/counter.go
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/filter.go
  pkg/newlog/cmd/newlogd.go
Owners: @deitch, @naiming-zededa

Makefile: add more bump targets
  Makefile
Owners: @eriknordmark

pillar: Add passed-through devices to cgroups device list as well
  pkg/pillar/containerd/oci.go
Owners: @deitch, @rouming

ECC-memory-error-reporting: introduce new POST request
  pkg/pillar/cmd/zedagent/handleconfig.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Manual edit of go.mod
  pkg/newlog/go.mod
  pkg/pillar/go.mod
  pkg/wwan/mmagent/go.mod
Owners: @deitch, @naiming-zededa, @eriknordmark, @milan-zededa

Manual edit of go.mod
  pkg/edgeview/go.mod
  pkg/installer/src/go.mod
  pkg/newlog/go.mod
  pkg/vtpm/swtpm-vtpm/go.mod
  pkg/wwan/mmagent/go.mod
Owners: @christoph-zededa, @naiming-zededa, @eriknordmark, @deitch, @shjala, @milan-zededa

gitlab.freedesktop.org has planned outage for a week
  pkg/wwan/Dockerfile
Owners: @milan-zededa

github/workflows: Publish arm64 platform variant images
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Manual edit of go.mod
  pkg/edgeview/go.mod
  pkg/installer/src/go.mod
  pkg/newlog/go.mod
  pkg/vtpm/swtpm-vtpm/go.mod
  pkg/wwan/mmagent/go.mod
Owners: @christoph-zededa, @naiming-zededa, @eriknordmark, @deitch, @shjala, @milan-zededa

make dedupWindowSize atomic and set it from the config
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/pillar/types/global.go
Owners: @deitch, @naiming-zededa, @eriknordmark

make logsToCount atomic and set it from the config
  pkg/newlog/cmd/counter.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/pillar/types/global.go
Owners: @deitch, @naiming-zededa, @eriknordmark

make filenameFilter atomic and set it from the config
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/filter.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/pillar/types/global.go
Owners: @deitch, @naiming-zededa, @eriknordmark

github/workflows: Publish arm64 platform variant images
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

gitlab.freedesktop.org has planned outage for a week
  pkg/wwan/Dockerfile
Owners: @milan-zededa

tools/collect-sources.sh: Remove unknown keyword warnings for GNU tar
  tools/collect-sources.sh
Owners: @deitch, @jsfakian

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
