Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

docs: add description for memory monitor enable option.
  docs/CONFIG-PROPERTIES.md
  pkg/memory-monitor/README.md
Owners: @eriknordmark, @OhmSpectator

memory-monitor: disable by default.
  docs/CONFIG-PROPERTIES.md
  pkg/memory-monitor/README.md
  pkg/pillar/types/global.go
Owners: @eriknordmark, @OhmSpectator

watcher: introduce global config option to disable memory monitor.
  pkg/pillar/cmd/watcher/watcher.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

Makefile: allow a custom docker registry
  Makefile
Owners: @eriknordmark

docs: Add documentation about REGISTRY variable
  docs/BUILD.md
Owners: @eriknordmark

Do not check tpm sanity if it is not enabled
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
Owners: @rucoder, @shjala

Save EFI BootX variables when (un)sealing storage key
  pkg/pillar/evetpm/tpm.go
Owners: @rucoder, @shjala

Kernel update - [amd64-generic]
  kernel-commits.mk
Owners: @eriknordmark

docs: Update references to nvidia platform
  docs/BUILD.md
Owners: @eriknordmark

docs: Add documentation about REGISTRY variable
  docs/BUILD.md
Owners: @eriknordmark

Makefile: allow a custom docker registry
  Makefile
Owners: @eriknordmark

Various missing PR fixes for kubevirt startup.
  .yetus/excludes.txt
  pkg/kube/Dockerfile
  pkg/kube/lh-cfg-v1.6.3.yaml
  pkg/pillar/cmd/zedkube/handlenodedrain.go
  pkg/pillar/cmd/zedkube/zedkube.go
Owners: @eriknordmark, @zedi-pramodh

Kernel update - [amd64-generic]
  kernel-commits.mk
Owners: @eriknordmark

Save EFI BootX variables when (un)sealing storage key
  pkg/pillar/evetpm/tpm.go
Owners: @rucoder, @shjala

Do not check tpm sanity if it is not enabled
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
Owners: @rucoder, @shjala

Bump lf-edge/eve-libs for azure logging fix.
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-libs/zedUpload/azureutil/azure.go
  pkg/pillar/vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.s
  pkg/pillar/vendor/golang.org/x/crypto/ocsp/ocsp.go
  pkg/pillar/vendor/golang.org/x/net/http/httpproxy/proxy.go
  pkg/pillar/vendor/golang.org/x/net/http2/frame.go
  pkg/pillar/vendor/golang.org/x/net/http2/pipe.go
  pkg/pillar/vendor/golang.org/x/net/http2/server.go
  pkg/pillar/vendor/golang.org/x/net/http2/testsync.go
  pkg/pillar/vendor/golang.org/x/net/http2/transport.go
  pkg/pillar/vendor/golang.org/x/sys/unix/aliases.go
  pkg/pillar/vendor/golang.org/x/sys/unix/syscall_darwin_libSystem.go
  pkg/pillar/vendor/golang.org/x/sys/unix/syscall_freebsd.go
  pkg/pillar/vendor/golang.org/x/sys/unix/syscall_linux.go
  pkg/pillar/vendor/golang.org/x/sys/unix/zsyscall_linux.go
  pkg/pillar/vendor/golang.org/x/sys/unix/ztypes_linux.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Propagate Windows License to VMs
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/null.go
  pkg/pillar/hypervisor/win.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/appconfig.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark, @rucoder, @rene, @shjala

GitHub Actions: bump runners ubuntu version to latest available
  .github/workflows/assets.yml
  .github/workflows/build.yml
  .github/workflows/buildondemand.yml
  .github/workflows/check-docker-hashes-consistency.yml
  .github/workflows/go-tests.yml
  .github/workflows/publish.yml
  .github/workflows/yetus.yml
Owners: @deitch, @uncleDecart, @yash-zededa

GitHub Actions: bump runners ubuntu version to latest available
  .github/workflows/assets.yml
  .github/workflows/build.yml
  .github/workflows/buildondemand.yml
  .github/workflows/check-docker-hashes-consistency.yml
  .github/workflows/go-tests.yml
  .github/workflows/publish.yml
  .github/workflows/yetus.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Keep the applications alive when getting UNKNOWN state from the containerd tasks
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/containerd.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala

Fix update_kernel_commits.py to keep '-' in platform names
  tools/update_kernel_commits.py
Owners: @deitch, @jsfakian

GitHub Actions: bump runners ubuntu version to latest available
  .github/workflows/assets.yml
  .github/workflows/build.yml
  .github/workflows/buildondemand.yml
  .github/workflows/eden_gcp.yml
  .github/workflows/go-tests.yml
  .github/workflows/publish.yml
  .github/workflows/yetus.yml
Owners: @deitch, @uncleDecart, @yash-zededa

GitHub Actions: bump runners ubuntu version to latest available
  .github/workflows/assets.yml
  .github/workflows/build.yml
  .github/workflows/buildondemand.yml
  .github/workflows/eden_gcp.yml
  .github/workflows/go-tests.yml
  .github/workflows/publish.yml
  .github/workflows/yetus.yml
Owners: @deitch, @uncleDecart, @yash-zededa

GitHub Actions: bump runners ubuntu version to latest available
  .github/workflows/assets.yml
  .github/workflows/build.yml
  .github/workflows/buildondemand.yml
  .github/workflows/go-tests.yml
  .github/workflows/publish.yml
  .github/workflows/yetus.yml
Owners: @deitch, @uncleDecart, @yash-zededa

GitHub Actions: bump runners ubuntu version to latest available
  .github/workflows/assets.yml
  .github/workflows/build.yml
  .github/workflows/buildondemand.yml
  .github/workflows/go-tests.yml
  .github/workflows/publish.yml
  .github/workflows/yetus.yml
Owners: @deitch, @uncleDecart, @yash-zededa

xen-tools/init-initrd: rename 'prime-cons' to 'shim-cons'
  pkg/dom0-ztools/rootfs/bin/eve
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/xen-tools/initrd/init-initrd
Owners: @christoph-zededa, @rouming, @OhmSpectator, @rucoder, @rene, @shjala

xen-tools: backport QEMU patches related to aggregator `hub` chardev
  pkg/xen-tools/patches-4.19.0/24-qemu--chardev-char-hub-implement-backend-chardev-aggregato.patch
  pkg/xen-tools/patches-4.19.0/25-qemu--qemu-options.hx-describe-hub-chardev-and-aggregation.patch
Owners: @OhmSpectator, @rucoder, @rene, @shjala

xen-tools/init-initrd,kvm: switch shim console to an aggregator hub device
  pkg/pillar/hypervisor/kvm.go
  pkg/xen-tools/initrd/init-initrd
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

docs: rename `prime-cons` to `shim-cons` in the docs
  docs/DEBUGGING.md
Owners: @eriknordmark

pillar/hypervisor/kvm_test: reflect latest changes in kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Bump lf-edge/eve-libs for azure logging fix.
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-libs/zedUpload/azureutil/azure.go
  pkg/pillar/vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.s
  pkg/pillar/vendor/golang.org/x/crypto/ocsp/ocsp.go
  pkg/pillar/vendor/golang.org/x/net/http/httpproxy/proxy.go
  pkg/pillar/vendor/golang.org/x/net/http2/frame.go
  pkg/pillar/vendor/golang.org/x/net/http2/pipe.go
  pkg/pillar/vendor/golang.org/x/net/http2/server.go
  pkg/pillar/vendor/golang.org/x/net/http2/testsync.go
  pkg/pillar/vendor/golang.org/x/net/http2/transport.go
  pkg/pillar/vendor/golang.org/x/sys/unix/aliases.go
  pkg/pillar/vendor/golang.org/x/sys/unix/syscall_darwin_libSystem.go
  pkg/pillar/vendor/golang.org/x/sys/unix/syscall_freebsd.go
  pkg/pillar/vendor/golang.org/x/sys/unix/syscall_linux.go
  pkg/pillar/vendor/golang.org/x/sys/unix/zsyscall_linux.go
  pkg/pillar/vendor/golang.org/x/sys/unix/ztypes_linux.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Fix update_kernel_commits.py to keep '-' in platform names
  tools/update_kernel_commits.py
Owners: @deitch, @jsfakian

dom0-ztools: add 'monitor' to EVESERVICES in cgroup init script.
  pkg/dom0-ztools/rootfs/etc/init.d/010-eve-cgroup
Owners: @christoph-zededa, @rouming

Fix error in pciDevice.readResources
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/pci.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Add tests for hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Disable the setup of shim-cons if VncShimVM is not enabled
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fix error in pciDevice.readResources
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/pci.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Add tests for hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Fix error in pciDevice.readResources
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/pci.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Add tests for hypervisor/pci.go
  pkg/pillar/hypervisor/pci_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala
