Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

installer: Add rootimg parameter for ISO boot
  pkg/eve/installer/grub_installer.cfg
Owners: @eriknordmark

dpcreconsiler: Restrict ICMP rule to echo-request only.
  pkg/pillar/dpcreconciler/linux.go
Owners: @milan-zededa

Make mkimage-iso-efi able to build for other architectures
  pkg/mkimage-iso-efi/Dockerfile
  pkg/mkimage-iso-efi/README.md
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

Make mkimage-iso-efi able to build for other architectures
  pkg/mkimage-iso-efi/Dockerfile
  pkg/mkimage-iso-efi/README.md
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

tools: Fix tag for eve-mkimage-iso-efi
  tools/makeiso.sh
Owners: @deitch, @jsfakian

Setting default server to prod
  conf/server
Owners: @eriknordmark

Use new cross-build capabilities of mkimage-iso-efi
  tools/makeiso.sh
Owners: @deitch, @jsfakian

mkimage-iso-efi should always build for architecture of its tar input stream
  pkg/mkimage-iso-efi/Dockerfile
  pkg/mkimage-iso-efi/README.md
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

pillar : update eve-api to latest version
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/patch_envelope.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/evecommon/acipherinfo.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/patch_envelope.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

pillar: Add Virtual Terminal and Framebuffer functions
  pkg/pillar/cmd/domainmgr/vtfb.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

pillar: Fix log message variable value
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

domainmgr: Handle VTs and Framebuffer drivers for VGA access
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

docs: Add a short notice about VGA console access
  docs/DEBUGGING.md
Owners: @eriknordmark

pillar: Add function description
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

docs: Fix small typo
  docs/DEBUGGING.md
Owners: @eriknordmark

mkimage-iso-efi: Add squashfs-tools package
  pkg/mkimage-iso-efi/Dockerfile
Owners: @eriknordmark

mkimage-iso-efi: Create a squashfs for the installer rootfs
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

mkimage-iso-efi: Mount installer rootfs squashfs image
  pkg/mkimage-iso-efi/initrd.sh
Owners: @eriknordmark

installer: Add rootimg parameter for ISO boot
  pkg/eve/installer/grub_installer.cfg
Owners: @eriknordmark

mkimage-iso-efi should always build for architecture of its tar input stream
  pkg/mkimage-iso-efi/Dockerfile
  pkg/mkimage-iso-efi/README.md
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

Use new cross-build capabilities of mkimage-iso-efi
  tools/makeiso.sh
Owners: @deitch, @jsfakian

docs: Fix security warnings pointed by dependabot
  docs/mkdocs/prepare_mkdocs.py
  docs/mkdocs/requirements.txt
Owners: @eriknordmark

pillar : update eve-api to latest version
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/patch_envelope.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/evecommon/acipherinfo.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/patch_envelope.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

mkimage-iso-efi: Create a squashfs for the installer rootfs
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

mkimage-iso-efi: Add squashfs-tools package
  pkg/mkimage-iso-efi/Dockerfile
Owners: @eriknordmark

mkimage-iso-efi: Mount installer rootfs squashfs image
  pkg/mkimage-iso-efi/initrd.sh
Owners: @eriknordmark

installer: Add rootimg parameter for ISO boot
  pkg/eve/installer/grub_installer.cfg
Owners: @eriknordmark

Use new cross-build capabilities of mkimage-iso-efi
  tools/makeiso.sh
Owners: @deitch, @jsfakian

remove log anti-pattern
  pkg/pillar/cmd/loguploader/loguploader.go
Owners: @eriknordmark

added dedup + tests
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/newlogd.go
Owners: @deitch, @naiming-zededa

change dedup to use container/ring
  pkg/newlog/cmd/dedup.go
Owners: @deitch, @naiming-zededa

add stupid metric for num of deduped logs
  pkg/newlog/cmd/dedup.go
Owners: @deitch, @naiming-zededa

Propagate Windows License to VMs
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/null.go
  pkg/pillar/hypervisor/win.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @rucoder, @rene, @shjala, @eriknordmark

Increase ApiCapability to report Windows License Passthrough
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Add types and functions to send TPM log to monitor
  pkg/pillar/cmd/monitor/messages.go
Owners: @eriknordmark

Fix isOnboarded() for monitor
  pkg/pillar/cmd/monitor/messages.go
Owners: @eriknordmark

Use eve-rust 1.84.1 for building monitor
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Add functions and types to read EFI variables
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/messages_test.go
Owners: @eriknordmark

Enable BigFrames for monitor IPC transport
  pkg/pillar/cmd/monitor/ipc_server.go
Owners: @eriknordmark

Send TPM logs when Vault goes to error state
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/types/vaultmgrtypes.go
Owners: @eriknordmark
