Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

add function to get timestamp from gzip file name
  pkg/pillar/types/newlogtypes.go
Owners: @eriknordmark

add new remote log level configs and values
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

Bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/appconfig.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/netcmn.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/edge_node_cluster.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/metrics/metrics.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

add new remote log level configs and values
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

add function to get timestamp from gzip file name
  pkg/pillar/types/newlogtypes.go
Owners: @eriknordmark

new log file prefixes and metrics for device logs
  pkg/pillar/types/newlogtypes.go
Owners: @eriknordmark

evetpm : update seal/unseal functions signature
  pkg/pillar/cmd/vaultmgr/vaultmgr.go
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/evetpm/tpm_test.go
Owners: @eriknordmark, @rucoder, @shjala

secure-logs : add implementation of FssAgg
  pkg/newlog/cmd/fssagg.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/seclog_perf_test.go
  pkg/newlog/cmd/seclog_test.go
  pkg/newlog/testdata/dev.log.sample
  pkg/newlog/testdata/perf/README.md
  pkg/newlog/testdata/perf/fssaggsig_average_secure_non_secure_time.png
  pkg/newlog/testdata/perf/fssaggsig_overhead_and_cost.png
  pkg/newlog/testdata/perf/fssaggsig_timing_results.csv
  pkg/newlog/testdata/perf/fssaggver_average_secure_non_secure_time.png
  pkg/newlog/testdata/perf/fssaggver_cached_keys_10000_average_secure_non_secure_time.png
  pkg/newlog/testdata/perf/fssaggver_cached_keys_10000_overhead_and_cost.png
  pkg/newlog/testdata/perf/fssaggver_cached_keys_10000_timing_results.csv
  pkg/newlog/testdata/perf/fssaggver_overhead_and_cost.png
  pkg/newlog/testdata/perf/fssaggver_timing_results.csv
  pkg/newlog/testdata/perf/plot.py
Owners: @deitch, @naiming-zededa

vsock: set read/write timeout on the accepted connection
  pkg/pillar/cmd/vcomlink/vsocksrv.go
Owners: @eriknordmark

Main chnages for kube/cluster-init.sh for multi-node cluster handling
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-utils.sh
Owners: @zedi-pramodh

Base cluster-update.sh to define needed link_multus_into_k3s
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
Owners: @zedi-pramodh

Base cluster-update.sh to define needed link_multus_into_k3s
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
Owners: @zedi-pramodh

Add support for 'manual' DPC to NIM
  pkg/pillar/cmd/nim/nim.go
  pkg/pillar/dpcmanager/dpc.go
  pkg/pillar/dpcmanager/dpcmanager.go
Owners: @milan-zededa

Add mismatching PCR indexes to VaultStatus
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/types/vaultmgrtypes.go
  pkg/pillar/vault/handler_ext4.go
  pkg/pillar/vault/handler_zfs.go
Owners: @rucoder, @shjala, @eriknordmark

Add documentation for monitor TUI application
  docs/LOCAL-TUI.md
  pkg/pillar/docs/monitor.md
  pkg/pillar/docs/nim.md
Owners: @eriknordmark

Add some comments to PubSub
  pkg/pillar/pubsub/pubsub.go
Owners: @eriknordmark

Update eve-monitor-rs tag
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Add monitor agent to pillar
  pkg/pillar/cmd/monitor/ipc_server.go
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/monitor.go
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/cmd/nim/nim.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/zedbox/zedbox.go
Owners: @eriknordmark, @milan-zededa

Print messages on /dev/tty instead of /dev/console
  pkg/pillar/agentlog/agentlog.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/scripts/onboot.sh
Owners: @eriknordmark

Handle SetServer request
  pkg/pillar/cmd/monitor/ipc_server.go
Owners: @eriknordmark

Add monitor container
  images/rootfs.yml.in
  pkg/monitor/Dockerfile
  pkg/monitor/build.yml
  pkg/monitor/monitor-wrapper.sh
  pkg/monitor/run-monitor.sh
  tools/parse-pkgs.sh
Owners: @eriknordmark, @deitch, @jsfakian

Add run-live-gui target to run monitor container
  Makefile
Owners: @eriknordmark

Vendor required modules for monitor agent
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/getlantern/framed/.travis.yml
  pkg/pillar/vendor/github.com/getlantern/framed/LICENSE
  pkg/pillar/vendor/github.com/getlantern/framed/README.md
  pkg/pillar/vendor/github.com/getlantern/framed/framed.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/LICENSE
  pkg/pillar/vendor/github.com/oxtoacart/bpool/README.md
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bpool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bufferpool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/bytepool.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/byteslice.go
  pkg/pillar/vendor/github.com/oxtoacart/bpool/sizedbufferpool.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Setting default server to prod
  conf/server
Owners: @eriknordmark

[GH actions] Update codeql version
  .github/workflows/codeql.yml
Owners: @deitch, @uncleDecart, @yash-zededa

[GH actions] Update codeql version
  .github/workflows/codeql.yml
Owners: @deitch, @uncleDecart, @yash-zededa

vsock: set read/write timeout on the accepted connection
  pkg/pillar/cmd/vcomlink/vsocksrv.go
Owners: @eriknordmark

Fix zedkube.md after resolving conflicts
  pkg/pillar/docs/zedkube.md
Owners: @eriknordmark

memory-monitor: Fix memory monitor config update for debug container.
  pkg/dom0-ztools/rootfs/bin/eve
Owners: @christoph-zededa, @rouming

Implement Cluster for zedkube related functions
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/vnc.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/go.sum
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Add vendor files for Implement Cluster for zedkube related functions
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/etherpassthrough.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/vnc.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/OWNERS
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/healthzadaptor.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/leaderelection.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/metrics.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/multilock.go
Owners: @eriknordmark

Use DPC Reconciler to assign cluster IP to cluster interface
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/cmd/nim/nim.go
  pkg/pillar/cmd/usbmanager/subscriptions.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/dpcmanager/dpcmanager.go
  pkg/pillar/dpcreconciler/dpcreconciler.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/kubeapi/nokube.go
  pkg/pillar/pubsub/util.go
Owners: @eriknordmark, @milan-zededa

Make sure that K3s service prefix is routed via cluster interface
  pkg/pillar/devicenetwork/pbr.go
  pkg/pillar/dpcreconciler/linux.go
Owners: @milan-zededa

memory-monitor: Fix memory monitor config update for debug container.
  pkg/dom0-ztools/rootfs/bin/eve
Owners: @christoph-zededa, @rouming

memory-monitor: Fix memory monitor config update for debug container.
  pkg/dom0-ztools/rootfs/bin/eve
Owners: @christoph-zededa, @rouming

Allow download retrying if the computed and configured checksums differ.
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/downloader/downloader.go
  pkg/pillar/cmd/volumemgr/handledownloader.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/volumemgr/volumemgr.go
  pkg/pillar/types/blob.go
  pkg/pillar/types/downloadertypes.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark, @deitch, @milan-zededa, @rouming, @OhmSpectator

memory-monitor: Fix memory monitor config update for debug container.
  pkg/dom0-ztools/rootfs/bin/eve
Owners: @christoph-zededa, @rouming

pillar/hypervisor: split qemuPciPassthruTemplate
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: extract PCI template filling
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: add multifunc dev
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala
