Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Allow device to have multiple reasons for being in maintenance mode
  pkg/pillar/cmd/nodeagent/handletimers.go
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/zedagent/localinfo.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Update monitor TUI to v0.2.0
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Set device to maintenance mode if TPM Quote error is detected
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/types/zedagenttypes.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @rucoder, @shjala, @eriknordmark

Fix crash in pillar if NTP FQDN is an empty string
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
Owners: @milan-zededa

Avoid nil dereference in baseosmgr
  pkg/pillar/cmd/baseosmgr/handledownload.go
Owners: @deitch

newlog: make filename parsing future-proof
  pkg/pillar/cmd/loguploader/loguploader.go
  pkg/pillar/types/newlogtypes.go
  pkg/pillar/types/newlogtypes_test.go
Owners: @eriknordmark

global params: rename LogRemainToSendMBytes
  pkg/pillar/cmd/volumemgr/sizemgmt.go
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @OhmSpectator, @deitch, @rouming, @eriknordmark

kubevirt: upgrade k3s,multus,kubevirt,cdi,longhorn
  .spdxignore
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
  pkg/kube/update-component/README.md
  pkg/kube/update-component/cdi.go
  pkg/kube/update-component/expected_versions.yaml
  pkg/kube/update-component/go.mod
  pkg/kube/update-component/go.sum
  pkg/kube/update-component/kubevirt.go
  pkg/kube/update-component/longhorn.go
  pkg/kube/update-component/multus.go
  pkg/kube/update-component/settings_longhorn.yaml
  pkg/kube/update-component/upgrades.go
  pkg/pillar/cmd/zedagent/handleedgenodecluster.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clusterupdatetypes.go
  pkg/pillar/zedbox/zedbox.go
Owners: @eriknordmark, @zedi-pramodh, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Kubevirt: Run Descheduler on node boot to rebalance cluster apps
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
Owners: @zedi-pramodh

Keep the applications alive when getting UNKNOWN state from the containerd tasks
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/containerd.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala

Check TPM sanity periodically
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
Owners: @eriknordmark, @rucoder, @shjala

Set device to maintenance mode if TPM error is detected
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
  pkg/pillar/cmd/vaultmgr/vaultmgr.go
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/types/tpmmgrtypes.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @rucoder, @shjala

zedagenttypes : make eve rely on API, not the other way around
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark

Set device to maintenance mode if TPM Quote error is detected
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/types/zedagenttypes.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @rucoder, @shjala, @eriknordmark

Allow device to have multiple reasons for being in maintenance mode
  pkg/pillar/cmd/nodeagent/handletimers.go
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/zedagent/localinfo.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

refactor
  pkg/pillar/cmd/vcomlink/message.go
  pkg/pillar/cmd/vcomlink/tpmcom.go
  pkg/pillar/cmd/vcomlink/vcomlink.go
  pkg/pillar/cmd/vcomlink/vcomlink_test.go
  pkg/pillar/cmd/vcomlink/vsocknet.go
  pkg/pillar/cmd/vcomlink/vsocksrv.go
  pkg/pillar/vcom/api/Makefile
  pkg/pillar/vcom/api/builder/Dockerfile
  pkg/pillar/vcom/api/proto/messages.proto
  pkg/pillar/vcom/api/sample/messages_pb2.py
  pkg/pillar/vcom/api/sample/pysample.py
  pkg/pillar/vcom/common.go
  pkg/pillar/vcom/messages.pb.go
Owners: @eriknordmark

Keep the applications alive when getting UNKNOWN state from the containerd tasks
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/containerd.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala

Kubevirt: Run Descheduler on node boot to rebalance cluster apps
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
Owners: @zedi-pramodh

Keep the applications alive when getting UNKNOWN state from the containerd tasks
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/containerd.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala

mkimage-iso-efi: Do not follow symbolic links
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

Installer UI cannot remove disks for persist parition
  pkg/installer/src/utils.rs
  pkg/installer/src/views/pdev.rs
Owners: @eriknordmark

Remove perl from installer image.
  pkg/installer/Dockerfile
Owners: @eriknordmark

tools/makeiso.sh: Run pkg/mkimage-iso-efi for target architecture
  tools/makeiso.sh
Owners: @deitch, @jsfakian

Makefile: Pass DOCKER_ARCH_TAG to makeiso.sh script
  Makefile
Owners: @eriknordmark

mkimage-iso-efi: Do not follow symbolic links
  pkg/mkimage-iso-efi/make-efi
Owners: @eriknordmark

Publish ZInfoKubeCluster and ZInfoKubeClusterUpdateStatus
  pkg/pillar/cmd/zedagent/handleedgenodecluster.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/handlenspodinfo.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/types/zedkubetypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Remove perl from installer image.
  pkg/installer/Dockerfile
Owners: @eriknordmark

Updated go mod, vendored
  pkg/pillar/go.mod
Owners: @eriknordmark

Makefile: Pass DOCKER_ARCH_TAG to makeiso.sh script
  Makefile
Owners: @eriknordmark

tools/makeiso.sh: Run pkg/mkimage-iso-efi for target architecture
  tools/makeiso.sh
Owners: @deitch, @jsfakian

tools/makeiso.sh: Run pkg/mkimage-iso-efi for target architecture
  tools/makeiso.sh
Owners: @deitch, @jsfakian

Makefile: Pass DOCKER_ARCH_TAG to makeiso.sh script
  Makefile
Owners: @eriknordmark

tools/makeiso.sh: Run pkg/mkimage-iso-efi for target architecture
  tools/makeiso.sh
Owners: @deitch, @jsfakian

Makefile: Pass DOCKER_ARCH_TAG to makeiso.sh script
  Makefile
Owners: @eriknordmark

Updated go mod, vendored
  pkg/pillar/go.mod
Owners: @eriknordmark

Publish ZInfoKubeCluster and ZInfoKubeClusterUpdateStatus
  pkg/pillar/cmd/zedagent/handleedgenodecluster.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/handlenspodinfo.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/types/zedkubetypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Kubevirt: cdiupload retry, thin metrics
  pkg/pillar/cmd/volumemgr/handlediskmetrics.go
  pkg/pillar/cmd/volumemgr/handlepvcdiskmetrics.go
  pkg/pillar/cmd/volumemgr/handlevolume.go
  pkg/pillar/cmd/volumemgr/handlevolumeref.go
  pkg/pillar/cmd/volumemgr/nokube.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/zfsmanager/zfsstoragemetrics.go
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/kubeapi/cdiupload.go
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/kubeapi/vitoapiserver.go
  pkg/pillar/volumehandlers/csihandler.go
Owners: @OhmSpectator, @deitch, @rouming, @eriknordmark, @rucoder, @rene, @shjala

stat st_blocks block size read from DEV_BSIZE
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/diskmetrics/usage_test.go
Owners: @eriknordmark

Test Commit To Be Removed
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

Kubevirt: cdiupload retry, thin metrics
  pkg/pillar/cmd/volumemgr/handlediskmetrics.go
  pkg/pillar/cmd/volumemgr/handlepvcdiskmetrics.go
  pkg/pillar/cmd/volumemgr/handlevolume.go
  pkg/pillar/cmd/volumemgr/handlevolumeref.go
  pkg/pillar/cmd/volumemgr/nokube.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/zfsmanager/zfsstoragemetrics.go
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/kubeapi/cdiupload.go
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/kubeapi/vitoapiserver.go
  pkg/pillar/volumehandlers/csihandler.go
Owners: @OhmSpectator, @deitch, @rouming, @eriknordmark, @rucoder, @rene, @shjala

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
