Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

dedup logs while compressing and not while reading from logread
  pkg/newlog/cmd/filter.go
  pkg/newlog/cmd/newlogd.go
Owners: @deitch, @naiming-zededa

Remove arch-specific extension to package names when building rootfs.yml
  tools/parse-pkgs.sh
Owners: @deitch, @jsfakian

ECC-memory-error-reporting: bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/hardwarehealth/hardware_health.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

ECC-memory-error-reporting: introduce new POST request
  pkg/pillar/cmd/zedagent/handleconfig.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

go.mod: Manual fixes
  pkg/pillar/go.mod
Owners: @eriknordmark

go.mod: Manual update
  eve-tools/bpftrace-compiler/go.mod
Owners: @eriknordmark

tools/collect-sources.sh: Remove unknown keyword warnings for GNU tar
  tools/collect-sources.sh
Owners: @deitch, @jsfakian

Remove arch-specific extension to package names when building rootfs.yml
  tools/parse-pkgs.sh
Owners: @deitch, @jsfakian

Compose sbom from packages rather than building fresh each build
  Makefile
  tools/makerootfs.sh
Owners: @eriknordmark, @deitch, @jsfakian

clarify error message about multiple datastores
  pkg/pillar/cmd/volumemgr/updatestatus.go
Owners: @OhmSpectator, @deitch, @rouming

Bump edge-container version
  pkg/pillar/go.mod
  pkg/pillar/go.sum
Owners: @eriknordmark

go.mod: Manual fix
  pkg/pillar/go.mod
Owners: @eriknordmark

More go.mod updates
  pkg/pillar/go.mod
  pkg/pillar/go.sum
Owners: @eriknordmark

go.mod: Manual fix
  pkg/pillar/go.mod
Owners: @eriknordmark

Publish info and metrics also for L2-only ports
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

ECC-memory-error-reporting: introduce new POST request
  pkg/pillar/cmd/zedagent/handleconfig.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

ECC-memory-error-reporting: bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/hardwarehealth/hardware_health.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Compose sbom from packages rather than building fresh each build
  Makefile
  tools/makerootfs.sh
Owners: @eriknordmark, @deitch, @jsfakian

msrv: Fix typo on function name
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/msrv.go
Owners: @eriknordmark

msrv: Subscribe to Network Metrics
  pkg/pillar/cmd/msrv/msrv.go
Owners: @eriknordmark

Improved info message for S.M.A.R.T. error reporting
  pkg/pillar/cmd/zedagent/hardwareinfo.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/hardware/smart.go
  pkg/pillar/types/smarttypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

added the necessary vendor changes in pkg/pillar
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/anatol/smart.go/README.md
  pkg/pillar/vendor/github.com/anatol/smart.go/ata_device_database.go
  pkg/pillar/vendor/github.com/anatol/smart.go/ioctl_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_darwin.cpp
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_other.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata_other.go
  pkg/pillar/vendor/github.com/anatol/smart.go/scsi.go
  pkg/pillar/vendor/github.com/anatol/smart.go/scsi_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/smart.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_format.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_forward.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_order.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertions.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/http_assertions.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/require.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/require.go.tmpl
  pkg/pillar/vendor/github.com/stretchr/testify/require/require_forward.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/requirements.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

added the necessary vendor changes in github.com/lf-edge/eve-api/go/info
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

msrv: Add /networks/metrics.json endpoint
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/msrv.go
Owners: @eriknordmark

docs: Add endpoint documentation to ECO-METADATA.md
  docs/ECO-METADATA.md
Owners: @eriknordmark

Publish info and metrics also for L2-only ports
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Use eve-rust 1.84.1 for building monitor
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Fix isOnboarded() for monitor
  pkg/pillar/cmd/monitor/messages.go
Owners: @eriknordmark

Enable BigFrames for monitor IPC transport
  pkg/pillar/cmd/monitor/ipc_server.go
Owners: @eriknordmark

allow edgeview VNC access even the app does not get an IP
  pkg/edgeview/src/network.go
Owners: @christoph-zededa, @naiming-zededa

Add functions and types to read EFI variables
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/messages_test.go
Owners: @eriknordmark

Add types and functions to send TPM log to monitor
  pkg/pillar/cmd/monitor/messages.go
Owners: @eriknordmark

Integrate monitor-rs version v0.2.1
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Add pkg/monitor/eve-monitor-rs into .gitignore
  .gitignore
Owners: @eriknordmark

Add .dockerignore to pkg/monitor
  pkg/monitor/.dockerignore
Owners: @eriknordmark

Send TPM logs when Vault goes to error state
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/types/vaultmgrtypes.go
Owners: @eriknordmark

added the necessary vendor changes in github.com/lf-edge/eve-api/go/info
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

added the necessary vendor changes in pkg/pillar
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/anatol/smart.go/README.md
  pkg/pillar/vendor/github.com/anatol/smart.go/ata_device_database.go
  pkg/pillar/vendor/github.com/anatol/smart.go/ioctl_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_darwin.cpp
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/nvme_other.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/sata_other.go
  pkg/pillar/vendor/github.com/anatol/smart.go/scsi.go
  pkg/pillar/vendor/github.com/anatol/smart.go/scsi_linux.go
  pkg/pillar/vendor/github.com/anatol/smart.go/smart.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_format.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_forward.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertion_order.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/assertions.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/http_assertions.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  pkg/pillar/vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/require.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/require.go.tmpl
  pkg/pillar/vendor/github.com/stretchr/testify/require/require_forward.go
  pkg/pillar/vendor/github.com/stretchr/testify/require/requirements.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Improved info message for S.M.A.R.T. error reporting
  pkg/pillar/cmd/zedagent/hardwareinfo.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/hardware/smart.go
  pkg/pillar/types/smarttypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

docs: Add endpoint documentation to ECO-METADATA.md
  docs/ECO-METADATA.md
Owners: @eriknordmark

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
