Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

kubeapi for matching pv/pvc to /dev/sd devices
  pkg/pillar/kubeapi/storageutils.go
  pkg/pillar/kubeapi/storageutils_test.go
Owners: @eriknordmark

Set device to maintenance mode if TPM error is detected
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
  pkg/pillar/cmd/vaultmgr/vaultmgr.go
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/types/tpmmgrtypes.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @rucoder, @shjala

Allow device to have multiple reasons for being in maintenance mode
  pkg/pillar/cmd/nodeagent/handletimers.go
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Check TPM sanity periodically
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
Owners: @eriknordmark, @rucoder, @shjala

Fix crash in pillar if NTP FQDN is an empty string
  pkg/pillar/cmd/zedrouter/networkinstance.go
Owners: @christoph-zededa, @milan-zededa, @rouming

nvidia: Add support to Jetpack 6.0
  .spdxignore
  pkg/nvidia/Dockerfile
  pkg/nvidia/build-nvidia-jp6.yml
  pkg/nvidia/cdi/jp5/jetson-orin-nano.yaml
  pkg/nvidia/cdi/jp5/jetson-xavier-nx.yaml
  pkg/nvidia/cdi/jp6/jetson-orin.yaml
  pkg/nvidia/scripts/jp5/nv-init.sh
  pkg/nvidia/scripts/jp6/nv-init.sh
  pkg/nvidia/udev/jp5/rules.d/90-eve-nvidia.rules
  pkg/nvidia/udev/jp6/rules.d/90-eve-nvidia.rules
Owners: @eriknordmark

grub: Setup Jetson Orin NX for Jetpack 6
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

grub: Setup Jetson Orin Developer Kit for Jetpack 6
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

grub: Update configuration for Aetina AIX-PX11
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Makefile: Remove old cross-compiling warning message
  Makefile
Owners: @eriknordmark

Keep nvidia platform temporally
  kernel-version.mk
Owners: @eriknordmark

docs: Update documentation about NVIDIA devices
  README.md
  docs/NVIDIA-NX.md
  docs/NVIDIA-ORIN.md
  docs/NVIDIA.md
  docs/mkdocs/mkdocs.yml
Owners: @eriknordmark

fw: Add support for both nvidia variants
  pkg/fw/Dockerfile
  pkg/fw/build-nvidia-jp5.yml
  pkg/fw/build-nvidia-jp6.yml
  pkg/fw/build.yml
Owners: @rene

Keep nvidia platform temporally
  kernel-version.mk
Owners: @eriknordmark

Split nvidia platform into two new variants
  Makefile
  kernel-commits.mk
  kernel-version.mk
Owners: @eriknordmark

docs: Update documentation about NVIDIA devices
  README.md
  docs/NVIDIA-NX.md
  docs/NVIDIA-ORIN.md
  docs/NVIDIA.md
  docs/mkdocs/mkdocs.yml
Owners: @eriknordmark

nvidia: Add support to Jetpack 6.0
  .spdxignore
  pkg/nvidia/Dockerfile
  pkg/nvidia/build-nvidia-jp6.yml
  pkg/nvidia/cdi/jp5/jetson-orin-nano.yaml
  pkg/nvidia/cdi/jp5/jetson-xavier-nx.yaml
  pkg/nvidia/cdi/jp6/jetson-orin.yaml
  pkg/nvidia/scripts/jp5/nv-init.sh
  pkg/nvidia/scripts/jp6/nv-init.sh
  pkg/nvidia/udev/jp5/rules.d/90-eve-nvidia.rules
  pkg/nvidia/udev/jp6/rules.d/90-eve-nvidia.rules
Owners: @eriknordmark

grub: Setup Jetson Orin NX for Jetpack 6
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

grub: Setup Jetson Orin Developer Kit for Jetpack 6
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

grub: Update configuration for Aetina AIX-PX11
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

kubeapi for matching pv/pvc to /dev/sd devices
  pkg/pillar/kubeapi/storageutils.go
  pkg/pillar/kubeapi/storageutils_test.go
Owners: @eriknordmark

Makefile: Remove old cross-compiling warning message
  Makefile
Owners: @eriknordmark

grub: Add rootdelay for FR201 device
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Kernel update - [arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

github/workflows: Add new NVIDIA platform variants
  .github/workflows/build.yml
  .github/workflows/buildondemand.yml
Owners: @deitch, @uncleDecart, @yash-zededa

github/workflows: Add new NVIDIA platform variants
  .github/workflows/build.yml
  .github/workflows/buildondemand.yml
Owners: @deitch, @uncleDecart, @yash-zededa

installer: Fix directory checking
  pkg/installer/install
Owners: @eriknordmark

installer: Copy bootloader files from the installer device EFI partition
  pkg/installer/install
Owners: @eriknordmark

docs: Improve documentation about OnLogic FR201 device
  README.md
Owners: @eriknordmark

docs: Improve documentation about OnLogic FR201 device
  README.md
Owners: @eriknordmark

Handle edge-node clustering in mangle table marking with flowlog enabled
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/iptables/connmark.go
Owners: @milan-zededa

installer: Fix directory checking
  pkg/installer/install
Owners: @eriknordmark

installer: Copy bootloader files from the installer device EFI partition
  pkg/installer/install
Owners: @eriknordmark

Fix some issues related to Kube Cluster lease election
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

Setting default server to prod
  conf/server
Owners: @eriknordmark

Edge-Node Clustering App-Tracker feature
  pkg/pillar/agentbase/apptracker.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

Increase eve rootfs partition size to 5G for kubevirt
  Makefile
  pkg/mkimage-raw-efi/make-raw
Owners: @eriknordmark, @jsfakian, @zedi-pramodh

Kubevirt: Defer eve reboot/shutdown/update until drain completes
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/baseosmgr/baseosmgr.go
  pkg/pillar/cmd/baseosmgr/handlebaseos.go
  pkg/pillar/cmd/baseosmgr/handlenodedrain.go
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/diag/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/zedagent/handleconfig.go
  pkg/pillar/cmd/zedagent/handlenodedrain.go
  pkg/pillar/cmd/zedagent/localinfo.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/drain.go
  pkg/pillar/cmd/zedkube/handlenodedrain.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/kubeapi/nokube.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @deitch, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Application Failover support
  pkg/pillar/cmd/volumemgr/handlevolume.go
  pkg/pillar/cmd/zedagent/handlecontent.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/handlevolume.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/docs/failover.md
  pkg/pillar/types/contenttreetypes.go
  pkg/pillar/types/types.go
  pkg/pillar/types/volumetypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @OhmSpectator, @deitch, @rouming, @milan-zededa, @uncleDecart, @eriknordmark

Add UDP source IP into golang dialer https connection for Edgeview
  pkg/edgeview/src/websocket.go
Owners: @christoph-zededa, @naiming-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
