Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Add vendor files for Implement Cluster for zedkube related functions
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/etherpassthrough.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/vnc.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/OWNERS
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/healthzadaptor.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/leaderelection.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/metrics.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/endpointslock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/interface.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  pkg/pillar/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/multilock.go
Owners: @eriknordmark

Make sure that K3s service prefix is routed via cluster interface
  pkg/pillar/devicenetwork/pbr.go
  pkg/pillar/dpcreconciler/linux.go
Owners: @milan-zededa

Implement Cluster for zedkube related functions
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/vnc.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/go.sum
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Use DPC Reconciler to assign cluster IP to cluster interface
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/cmd/nim/nim.go
  pkg/pillar/cmd/usbmanager/subscriptions.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/dpcmanager/dpcmanager.go
  pkg/pillar/dpcreconciler/dpcreconciler.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/kubeapi/nokube.go
  pkg/pillar/pubsub/util.go
Owners: @eriknordmark, @milan-zededa

Re-execute full validation for AppNetworkConfig once pending NIs are ready
  pkg/pillar/cmd/zedrouter/appnetwork.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Implement Clustering and App related functions
  pkg/pillar/base/kubevirt.go
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/cni.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @rucoder, @rene, @shjala

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

Document how to capture control-plane traffic on Qualcomm-based modems
  pkg/wwan/README.md
Owners: @milan-zededa

Add missing nil check for DPC when processing wwan status update
  pkg/pillar/dpcmanager/wwan.go
Owners: @milan-zededa

pillar/nireconciler: resolve ntp servers
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/types/dns.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark

pkg/pillar: honor NtpServerExclusively option
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

pillar: enhance NTP server handling
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/parseconfig_test.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/dpcmanager/dpcmanager_test.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
  pkg/pillar/types/zedroutertypes.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa

pillar/nireconciler: rename test package
  pkg/pillar/nireconciler/linux_test.go
Owners: @milan-zededa

Guard against empty ifname argument.
  pkg/pillar/types/dns.go
Owners: @eriknordmark

Re-execute full validation for AppNetworkConfig once pending NIs are ready
  pkg/pillar/cmd/zedrouter/appnetwork.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Re-execute full validation for AppNetworkConfig once pending NIs are ready
  pkg/pillar/cmd/zedrouter/appnetwork.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Update EVE API to include application network interface order fields
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/devcommon.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/netconfig.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/vm.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/metrics/metrics.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Parse application interface order fields
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/appnetwork.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/types/zedroutertypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa, @eriknordmark

Cleanup Go templates used for generating Qemu config
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Set device to maintenance mode if TPM error is detected
  pkg/pillar/cmd/vaultmgr/vaultmgr.go
  pkg/pillar/cmd/zedagent/attesttask.go
  pkg/pillar/types/vaultmgrtypes.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Add support for user-defined network interface order to domainmgr/kvm
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/pci.go
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Document application network interface order
  docs/APP-CONNECTIVITY.md
Owners: @eriknordmark

Re-execute full validation for AppNetworkConfig once pending NIs are ready
  pkg/pillar/cmd/zedrouter/appnetwork.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Add missing nil check for DPC when processing wwan status update
  pkg/pillar/dpcmanager/wwan.go
Owners: @milan-zededa

Add missing nil check for DPC when processing wwan status update
  pkg/pillar/dpcmanager/wwan.go
Owners: @milan-zededa

eden.yml: checkout Eden v1.0.0
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

eden.yml: checkout Eden v1.0.0
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

remove logs longer than memlogd's max-line-len
  pkg/pillar/agentlog/loglevel.go
  pkg/pillar/cmd/upgradeconverter/applydefaultconfigitem.go
Owners: @eriknordmark

define clear order of log file removal
  pkg/newlog/cmd/newlogd.go
Owners: @deitch, @naiming-zededa

update documentation on remote log level settings
  docs/CONFIG-PROPERTIES.md
  docs/LOGGING.md
  docs/images/eve-log-levels.drawio.png
Owners: @eriknordmark

pillar/hypervisor: split qemuPciPassthruTemplate
  pkg/pillar/hypervisor/kvm.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: extract PCI template filling
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

pillar/hypervisor: add multifunc dev
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

Document how to capture control-plane traffic on Qualcomm-based modems
  pkg/wwan/README.md
Owners: @milan-zededa

Document application network interface order
  docs/APP-CONNECTIVITY.md
Owners: @eriknordmark

Add support for user-defined network interface order to domainmgr/kvm
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
  pkg/pillar/hypervisor/pci.go
  pkg/pillar/hypervisor/xen.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
