Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

kubeapi for matching pv/pvc to /dev/sd devices
  pkg/pillar/kubeapi/storageutils.go
Owners: @eriknordmark

Wait for 15 seconds for the qmp listener
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/qmp.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Wait for 15 seconds for the qmp listener
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/qmp.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Setting default server to prod
  conf/server
Owners: @eriknordmark

Fix an issue in Edgeview not getting App interface IP address
  pkg/edgeview/go.mod
  pkg/edgeview/go.sum
  pkg/edgeview/src/network.go
Owners: @christoph-zededa, @naiming-zededa

Add vendor files for Edgeview not getting App interface IP address
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/flextimer/flextimer.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/socketdriver/publish.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/subscribe.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/pubsub/util.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/assignableadapters.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/conntest.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/diskmetrics.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dns.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/domainmgrtypes.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/dpc.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/locationconsts.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/memory.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/wwan.go
  pkg/edgeview/vendor/github.com/lf-edge/eve/pkg/pillar/types/zedroutertypes.go
  pkg/edgeview/vendor/modules.txt
Owners: @christoph-zededa, @naiming-zededa

Update kernel to latest 6.1.112
  kernel-commits.mk
  kernel-version.mk
Owners: @eriknordmark

u-boot: Add support to OnLogic FR201
  pkg/u-boot/Dockerfile
  pkg/u-boot/patches/patches-v2024.10-rc2/0001-add-TPM-support-to-the-config-for-rpi4.patch
  pkg/u-boot/patches/patches-v2024.10-rc2/0002-0007-tweak-uefi-dt-selection.patch.patch
  pkg/u-boot/patches/patches-v2024.10-rc2/0003-configs-Enable-driver-for-USB-HUB.patch
  pkg/u-boot/rpi/config.txt
  pkg/u-boot/rpi/fr201.txt
  pkg/u-boot/rpi/overlays/fr201.dts
  pkg/u-boot/rpi/overlays/tpm-soft-spi.dts
Owners: @rene

grub: Add device tree loading for OnLogic FR201 device
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

[WIP] dom0-ztools: Force module loading
  pkg/dom0-ztools/rootfs/etc/init.d/000-mod-params
Owners: @christoph-zededa, @rouming

u-boot: Enable USB2 ports on OnLogic FR201 device
  pkg/u-boot/Dockerfile
  pkg/u-boot/patches/patches-v2024.10-rc2/0003-Add-XHCI_BRCM.patch
  pkg/u-boot/patches/patches-v2024.10-rc2/0003-configs-Enable-driver-for-USB-HUB.patch
  pkg/u-boot/rpi/overlays/fr201.dts
Owners: @rene

grub: Use dedicated device tree for OnLogic FR201 device on linux
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

docs: Add support information for OnLogic FR201 device
  README.md
Owners: @eriknordmark

Wait for 15 seconds for the qmp listener
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/qmp.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

set debug log level for eden test workflows
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

kernel: Update kernel version for arm64
  kernel-commits.mk
Owners: @eriknordmark

memory-monitor: Improve resilience of handler to missing processes.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Improve resilience of handler to missing processes.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Improve resilience of handler to missing processes.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

remove zfs snapshotter in containerd
  pkg/pillar/containerd/containerd.go
Owners: @deitch, @rouming

Rework IP rules/routing for Kubernetes clustering
  pkg/pillar/devicenetwork/pbr.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/dpcreconciler/linux_test.go
  pkg/pillar/dpcreconciler/linuxitems/iprule.go
  pkg/pillar/dpcreconciler/linuxitems/localiprule.go
  pkg/pillar/dpcreconciler/linuxitems/registry.go
  pkg/pillar/dpcreconciler/linuxitems/route.go
  pkg/pillar/dpcreconciler/linuxitems/srciprule.go
  pkg/pillar/dpcreconciler/linuxitems/typenames.go
  pkg/pillar/iptables/connmark.go
Owners: @milan-zededa

Update kernel to latest 6.1.112
  kernel-commits.mk
  kernel-version.mk
Owners: @eriknordmark

memory-monitor: Improve resilience of handler to missing processes.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Main chnages for kube/cluster-init.sh for multi-node cluster handling
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-utils.sh
Owners: @zedi-pramodh

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Install Descheduler, fix startup readywait
  .spdxignore
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/descheduler-job.yaml
  pkg/kube/descheduler-policy-configmap.yaml
Owners: @eriknordmark, @zedi-pramodh

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Add .gitignore file for pkg/pillar directory
  pkg/pillar/.gitignore
Owners: @eriknordmark

Overlay mount xen-tools into user app container
  pkg/pillar/containerd/containerd.go
  pkg/pillar/containerd/oci.go
  pkg/pillar/containerd/oci_test.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/hypervisor.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/xen.go
Owners: @deitch, @rouming, @OhmSpectator, @rucoder, @rene, @shjala

remove zfs snapshotter in containerd
  pkg/pillar/containerd/containerd.go
Owners: @deitch, @rouming

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Update kernel to latest 6.1.112
  kernel-commits.mk
  kernel-version.mk
Owners: @eriknordmark

pkg/xen-tools : update eve-uefi hash to the latest version
  pkg/xen-tools/Dockerfile
Owners: @OhmSpectator, @rucoder, @rene, @shjala

pkg/uefi: update to edk2-stable202408 and enable secure boot
  pkg/uefi/Dockerfile
  pkg/uefi/build.sh
  pkg/uefi/edk2-patches/edk2-stable202408/0-empty.patch
Owners: @rucoder

pkg/uefi: remove unused Intel IDG driver
  pkg/uefi/Dockerfile
  pkg/uefi/build.sh
  pkg/xen-tools/Dockerfile
Owners: @rucoder, @OhmSpectator, @rene, @shjala

pkg/uefi : add Xen spoofing patch
  pkg/uefi/edk2-patches/edk2-stable202408/0-empty.patch
  pkg/uefi/edk2-patches/edk2-stable202408/0000-Add-Xen-spoofing-in-XenPlatformPei.patch
Owners: @rucoder

pkg/pillar : update eve-uefi hash to the latest version
  pkg/pillar/Dockerfile
Owners: @eriknordmark

pkg/uefi : remove edk2-stable202005 patches
  pkg/uefi/edk2-patches/edk2-stable202005/0000-patch-xen-PlatformPei.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0001-OvmfPkg-Add-OpRegion-and-VBT-header-definition.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0002-OvmfPkg-add-IgdAssignmentDxe.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0003-OvmfPkg-add-Platform-GOP-Policy.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0004-OvmfPkg-PlatformGopPolicy-Add-OpRegion-2.1-support.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0005-OvmfPkg-PlatformPei-Reserve-IGD-Stolen-in-E820.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0006-disable-werror.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0007-build-Fix-python3.10-threading-DeprecationWarnings.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0008-BaseTools-fix-ucs-2-lookup-on-python-3.9.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0009-BaseTools-Work-around-array.array.tostring-removal-i.patch
  pkg/uefi/edk2-patches/edk2-stable202005/0010-OvmfPkg-PlatformBootManagerLib-use-utf8-for-the-seri.patch
Owners: @rucoder

Update kernel to latest 6.1.112
  kernel-commits.mk
  kernel-version.mk
Owners: @eriknordmark
