Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Kubevirt: Run Descheduler on node boot to rebalance cluster apps
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
Owners: @zedi-pramodh

Kernel update - [amd64-generic, arm64-generic, arm64-nvidia, arm64-generic, arm64-generic, arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

Kernel update - [amd64-generic, arm64-generic, arm64-nvidia, arm64-generic, arm64-generic, arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

Publish ZInfoKubeCluster and ZInfoKubeClusterUpdateStatus
  pkg/pillar/cmd/zedagent/handleedgenodecluster.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/handlenspodinfo.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/kubeapi/infotypes.go
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/types/zedkubetypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Misc kubevirt kube container changes
  pkg/debug/scripts/collect-info.sh
  pkg/kube/cluster-init.sh
  pkg/kube/config-k3s.toml
  pkg/kube/config.yaml
  pkg/kube/longhorn-utils.sh
  pkg/kube/nsmounter
Owners: @rouming, @zedi-pramodh

Kubevirt: cdiupload retry, thin metrics
  pkg/pillar/cmd/volumemgr/handlediskmetrics.go
  pkg/pillar/cmd/volumemgr/handlepvcdiskmetrics.go
  pkg/pillar/cmd/volumemgr/handlevolume.go
  pkg/pillar/cmd/volumemgr/handlevolumeref.go
  pkg/pillar/cmd/volumemgr/nokube.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/zfsmanager/zfsstoragemetrics.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/kubeapi/cdiupload.go
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/kubeapi/vitoapiserver.go
  pkg/pillar/volumehandlers/csihandler.go
Owners: @OhmSpectator, @deitch, @rouming, @eriknordmark, @rucoder, @rene, @shjala

Implement Clustering and App related functions
  pkg/pillar/base/kubevirt.go
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/cni.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kubevirt_test.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @rucoder, @rene, @shjala

Handle the review comments in PR 4407
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/types/domainmgrtypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark, @rucoder, @rene, @shjala

Handle the review comments #2 in PR 4407
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kubevirt_test.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark, @rucoder, @rene, @shjala

Handle the review comments #2 in PR 4407
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kubevirt_test.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark, @rucoder, @rene, @shjala

Implement Clustering and App related functions
  pkg/pillar/base/kubevirt.go
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/cni.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kubevirt_test.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @rucoder, @rene, @shjala

Handle the review comments in PR 4407
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/types/domainmgrtypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark, @rucoder, @rene, @shjala

set MediaType in BlobStatus from VerifyImageStatus
  pkg/pillar/cmd/volumemgr/blob.go
  pkg/pillar/types/blob.go
  pkg/pillar/types/verifiertypes.go
Owners: @OhmSpectator, @deitch, @rouming, @eriknordmark

Kernel update - [arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

u-boot: Power off ACT LED at boot on Onlogic FR201
  pkg/u-boot/rpi/fr201.txt
Owners: @rene

set MediaType in BlobStatus from VerifyImageStatus
  pkg/pillar/cmd/volumemgr/blob.go
  pkg/pillar/types/blob.go
  pkg/pillar/types/verifiertypes.go
Owners: @OhmSpectator, @deitch, @rouming, @eriknordmark

Kernel update - [arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

u-boot: Power off ACT LED at boot on Onlogic FR201
  pkg/u-boot/rpi/fr201.txt
Owners: @rene

Kernel update - [arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

Kernel update - [arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

grub: Fix console option for Onlogic FR201 device
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Kernel update - [arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

Kernel update - [arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

grub: Fix console option for Onlogic FR201 device
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Add /usr/bin/rungetty.sh
  pkg/dom0-ztools/rootfs/usr/bin/rungetty.sh
Owners: @christoph-zededa, @rouming

Replace tty0 with tty1 when starting getty
  pkg/dom0-ztools/rootfs/usr/bin/rungetty.sh
Owners: @christoph-zededa, @rouming

Add rungetty.sh to ignore lists for yetus
  .spdxignore
  .yetus/blanks-tabs.txt
  .yetus/excludes.txt
Owners: @eriknordmark

Setting default server to prod
  conf/server
Owners: @eriknordmark

newlog: make filename parsing future-proof
  pkg/pillar/cmd/loguploader/loguploader.go
  pkg/pillar/types/newlogtypes.go
  pkg/pillar/types/newlogtypes_test.go
Owners: @eriknordmark

global params: rename LogRemainToSendMBytes
  pkg/pillar/cmd/volumemgr/sizemgmt.go
  pkg/pillar/diskmetrics/usage.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @OhmSpectator, @deitch, @rouming, @eriknordmark

pillar: Refine log messages for threshold-based timing warnings.
  pkg/pillar/pubsub/checkmaxtime.go
Owners: @eriknordmark

pillar: ledmanager: Add LEDs for RPi CM4 and RPi 5
  pkg/pillar/cmd/ledmanager/ledmanager.go
Owners: @rucoder, @rene

pillar: ledmanager: Add LEDs for RPi CM4 and RPi 5
  pkg/pillar/cmd/ledmanager/ledmanager.go
Owners: @rucoder, @rene

pillar: Refine log messages for threshold-based timing warnings.
  pkg/pillar/pubsub/checkmaxtime.go
Owners: @eriknordmark

pillar: Refine log messages for threshold-based timing warnings.
  pkg/pillar/pubsub/checkmaxtime.go
Owners: @eriknordmark

pillar: Refine log messages for threshold-based timing warnings.
  pkg/pillar/pubsub/checkmaxtime.go
Owners: @eriknordmark

Update documentation for monitor TUI app
  docs/LOCAL-TUI.md
Owners: @eriknordmark

Add /usr/bin/rungetty.sh
  pkg/dom0-ztools/rootfs/usr/bin/rungetty.sh
Owners: @christoph-zededa, @rouming

Add rungetty.sh to ignore lists for yetus
  .spdxignore
  .yetus/blanks-tabs.txt
  .yetus/excludes.txt
Owners: @eriknordmark

Update documentation for monitor TUI app
  docs/LOCAL-TUI.md
Owners: @eriknordmark

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
