Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

add eve efi application
  pkg/dom0-ztools/Dockerfile
  pkg/dom0-ztools/efi/Makefile
  pkg/dom0-ztools/efi/efi_run.sh
  pkg/dom0-ztools/efi/main.c
  pkg/dom0-ztools/efi/startup.nsh
Owners: @christoph-zededa, @rouming

make it work
  pkg/dom0-ztools/efi/Makefile
  pkg/dom0-ztools/efi/efi_run.sh
  pkg/dom0-ztools/efi/main.c
  pkg/dom0-ztools/efi/startup.nsh
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/null.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
Owners: @christoph-zededa, @rouming, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @shjala, @eriknordmark

Update pkg/eve/runme.sh for installer net to match what was one in makenet.sh
  pkg/eve/runme.sh
Owners: @eriknordmark

Update pkg/eve/runme.sh for installer net to match what was one in makenet.sh
  pkg/eve/runme.sh
Owners: @eriknordmark

xen-tools/init-initrd: Enable clock synchronization by default
  docs/CLOCK-SYNCHRONIZATION.md
  pkg/xen-tools/initrd/init-initrd
Owners: @eriknordmark, @OhmSpectator, @rucoder, @rene, @shjala

Make sure ethernet interface is DOWN before renaming and changing MAC
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
Owners: @milan-zededa

xen-tools/init-initrd: Enable clock synchronization by default
  docs/CLOCK-SYNCHRONIZATION.md
  pkg/xen-tools/initrd/init-initrd
Owners: @eriknordmark, @OhmSpectator, @rucoder, @rene, @shjala

Reduce VTPM container size
  pkg/vtpm/Dockerfile
Owners: @shjala

pkg/pillar: reduce test memory usage
  pkg/pillar/agentlog/agentlog_test.go
Owners: @eriknordmark

Fix Dockerfile syntax in pkg/debug
  pkg/debug/Dockerfile
Owners: @rouming

pkg/pillar: reduce test memory usage
  pkg/pillar/agentlog/agentlog_test.go
Owners: @eriknordmark

Make sure ethernet interface is DOWN before renaming and changing MAC
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
Owners: @milan-zededa

pillar: Fix OVMF binary file for ARM64
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
Owners: @OhmSpectator, @rouming

memory-monitor: Fix log files clean up to prevent storage overflow.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Fix Dockerfile syntax in pkg/debug
  pkg/debug/Dockerfile
Owners: @rouming

pillar/tests: Fix deadlock when Debug Server startup fails.
  pkg/pillar/agentlog/agentlog_test.go
Owners: @eriknordmark

Reduce VTPM container size
  pkg/vtpm/Dockerfile
Owners: @shjala

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

apparmor: allow swtpm to receive term signal from vtpm
  pkg/apparmor/profiles/usr.bin.swtpm
  pkg/apparmor/profiles/usr.bin.vtpm
Owners: @shjala

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

vtpm : apply patches in ordered way
  pkg/vtpm/Dockerfile
  pkg/vtpm/patches/0-tpm2-tools-libcommon-as-shared-lib.patch
Owners: @shjala

vtpm : move proxy tpm to its own directory
  pkg/vtpm/Dockerfile
  pkg/vtpm/ptpm/Makefile
  pkg/vtpm/ptpm/fuzz/Makefile
  pkg/vtpm/ptpm/fuzz/README.md
  pkg/vtpm/ptpm/fuzz/fuzz.sh
  pkg/vtpm/ptpm/fuzz/fuzzing.patch
  pkg/vtpm/ptpm/fuzz/install-clang.sh
  pkg/vtpm/ptpm/proto/api.proto
  pkg/vtpm/ptpm/src/server.cpp
Owners: @shjala

pillar/tests: Fix deadlock when Debug Server startup fails.
  pkg/pillar/agentlog/agentlog_test.go
Owners: @eriknordmark

apparmor: allow swtpm to receive term signal from vtpm
  pkg/apparmor/profiles/usr.bin.swtpm
  pkg/apparmor/profiles/usr.bin.vtpm
Owners: @shjala

pillar: Fix OVMF binary file for ARM64
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
Owners: @OhmSpectator, @rouming

memory-monitor: Fix log files clean up to prevent storage overflow.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Fix log files clean up to prevent storage overflow.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

apparmor: allow swtpm to receive term signal from vtpm
  pkg/apparmor/profiles/usr.bin.swtpm
  pkg/apparmor/profiles/usr.bin.vtpm
Owners: @shjala

apparmor: allow swtpm to receive term signal from vtpm
  pkg/apparmor/profiles/usr.bin.swtpm
  pkg/apparmor/profiles/usr.bin.vtpm
Owners: @shjala

pillar: Fix OVMF binary file for ARM64
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
Owners: @OhmSpectator, @rouming

vtpm : move proxy tpm to its own directory
  pkg/vtpm/Dockerfile
  pkg/vtpm/ptpm/Makefile
  pkg/vtpm/ptpm/fuzz/Makefile
  pkg/vtpm/ptpm/fuzz/README.md
  pkg/vtpm/ptpm/fuzz/fuzz.sh
  pkg/vtpm/ptpm/fuzz/fuzzing.patch
  pkg/vtpm/ptpm/fuzz/install-clang.sh
  pkg/vtpm/ptpm/proto/api.proto
  pkg/vtpm/ptpm/src/server.cpp
Owners: @shjala

vtpm : apply patches in ordered way
  pkg/vtpm/Dockerfile
  pkg/vtpm/patches/0-tpm2-tools-libcommon-as-shared-lib.patch
Owners: @shjala

pillar: Fix OVMF binary file for ARM64
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
Owners: @OhmSpectator, @rouming

tools: introduce dockerfile-from-checker
  .github/workflows/check-docker-hashes-consistency.yml
  Makefile
  tools/dockerfile-from-checker/.gitignore
  tools/dockerfile-from-checker/Makefile
  tools/dockerfile-from-checker/go.mod
  tools/dockerfile-from-checker/go.sum
  tools/dockerfile-from-checker/main.go
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

tools: introduce dockerfile-from-checker
  .github/workflows/check-docker-hashes-consistency.yml
  Makefile
  tools/dockerfile-from-checker/.gitignore
  tools/dockerfile-from-checker/Makefile
  tools/dockerfile-from-checker/go.mod
  tools/dockerfile-from-checker/go.sum
  tools/dockerfile-from-checker/main.go
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

Make sure ethernet interface is DOWN before renaming and changing MAC
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
Owners: @milan-zededa

App-shared port without DNS server is not necessarily an issue
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/types/conntest.go
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
  pkg/pillar/zedcloud/send.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark, @christoph-zededa

Set WType even for wireless ports without network config
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/verify.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/types/dpc.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

add missing dependencies packages
  pkg/alpine/Dockerfile
  pkg/alpine/mirrors/3.16/community
Owners: @christoph-zededa

Makefile: remove circular dependency warning
  Makefile
Owners: @eriknordmark
