Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

msrv: Fix typo on function name
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/msrv.go
Owners: @eriknordmark

msrv: Add /networks/metrics.json endpoint
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/msrv.go
Owners: @eriknordmark

msrv: Subscribe to Network Metrics
  pkg/pillar/cmd/msrv/msrv.go
Owners: @eriknordmark

Use eve-rust 1.84.1 for building monitor
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Integrate monitor-rs version v0.2.1
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Fix isOnboarded() for monitor
  pkg/pillar/cmd/monitor/messages.go
Owners: @eriknordmark

Add pkg/monitor/eve-monitor-rs into .gitignore
  .gitignore
Owners: @eriknordmark

Enable BigFrames for monitor IPC transport
  pkg/pillar/cmd/monitor/ipc_server.go
Owners: @eriknordmark

Add functions and types to read EFI variables
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/messages_test.go
Owners: @eriknordmark

Add types and functions to send TPM log to monitor
  pkg/pillar/cmd/monitor/messages.go
Owners: @eriknordmark

Add .dockerignore to pkg/monitor
  pkg/monitor/.dockerignore
Owners: @eriknordmark

Send TPM logs when Vault goes to error state
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/types/vaultmgrtypes.go
Owners: @eriknordmark

alpine-base: Bump minirootfs to version 3.16.9
  pkg/alpine-base/Dockerfile
Owners: @eriknordmark

Add config property to set TUI log level
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

Update documentation for monitor TUI app log level
  docs/CONFIG-PROPERTIES.md
Owners: @eriknordmark

alpine-base: Bump minirootfs to version 3.16.9
  pkg/alpine-base/Dockerfile
Owners: @eriknordmark

Insert external boot image during upgrades.
  pkg/kube/cluster-init.sh
Owners: @zedi-pramodh

Add config property to set TUI log level
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/subscriptions.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

Update documentation for monitor TUI app log level
  docs/CONFIG-PROPERTIES.md
Owners: @eriknordmark

alpine: Make a new bootstrap to update to 3.16.9
  pkg/alpine/Dockerfile
  pkg/alpine/build-cache.sh
  pkg/alpine/mirrors/3.16/community
Owners: @christoph-zededa

Makefile: Use Go builder container to build get-deps
  Makefile
Owners: @eriknordmark

Makefile: Don't call make from cache-export-docker-load target
  Makefile
Owners: @eriknordmark

Nested App Stats Collection and Publications
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedrouter/appcontainer.go
  pkg/pillar/cmd/zedrouter/zedrouter.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/types/zedroutertypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @eriknordmark

vendor files of Nested App Stats Collection and Publications
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/LICENSE
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstanceinventory.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstancelog.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstancemetrics.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

newlog: add filter, dedup and counter functions
  pkg/newlog/cmd/counter.go
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/filter.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/pillar/types/global.go
Owners: @deitch, @naiming-zededa, @eriknordmark

add log dedup and filter settings
  pkg/pillar/types/global.go
Owners: @eriknordmark

Yetus fix on the PR 4701
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/types/zedroutertypes.go
Owners: @eriknordmark

alpine: Make a new bootstrap to update to 3.16.9
  pkg/alpine/Dockerfile
  pkg/alpine/build-cache.sh
  pkg/alpine/mirrors/3.16/community
Owners: @christoph-zededa

Makefile: Don't call make from cache-export-docker-load target
  Makefile
Owners: @eriknordmark

Makefile: Use Go builder container to build get-deps
  Makefile
Owners: @eriknordmark

Introduce nkv package
  images/rootfs.yml.in
  pkg/debug/Dockerfile
  pkg/nkv/Dockerfile
  pkg/nkv/build.yml
  tools/parse-pkgs.sh
Owners: @eriknordmark, @rouming, @deitch, @jsfakian

Insert external boot image during upgrades.
  pkg/kube/cluster-init.sh
Owners: @zedi-pramodh

alpine: Add bcc package to 3.16/community
  pkg/alpine/mirrors/3.16/community
Owners: @christoph-zededa

cross-compilers: Bump Alpine to 3.16.9
  pkg/cross-compilers/Dockerfile
Owners: @rene

Makefile: do not check docker hashes for cross-compilers
  Makefile
Owners: @eriknordmark

Add code for volume detachment during failover
  pkg/pillar/cmd/zedkube/applogs.go
Owners: @eriknordmark

add log dedup and filter settings
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

alpine: Add bcc package to 3.16/community
  pkg/alpine/mirrors/3.16/community
Owners: @christoph-zededa

cross-compilers: Bump Alpine to 3.16.9
  pkg/cross-compilers/Dockerfile
Owners: @rene

Makefile: do not check docker hashes for cross-compilers
  Makefile
Owners: @eriknordmark

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
