Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

fix: Updated the eden.yml to use the new upload actions
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

grub: Disable boot measurement for installer
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

fix: Updated the eden.yml to use the new upload actions
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

grub: Disable boot measurement for installer
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Add missing FW package to installer
  images/installer.yml.in
Owners: @eriknordmark

Avoid nil dereference in baseosmgr
  pkg/pillar/cmd/baseosmgr/handledownload.go
Owners: @deitch

Avoid using expensive reflect for the Bond.Equal method
  pkg/pillar/dpcreconciler/linuxitems/bond.go
Owners: @milan-zededa

Allow to use network port with VLAN-subinterfaces for untagged traffic
  docs/DEVICE-CONNECTIVITY.md
  docs/images/eve-vlans-and-lags.png
  docs/images/eve-vlans-and-lags.xml
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/parseconfig_test.go
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/dpcreconciler/genericitems/netio.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/dpcreconciler/linux_test.go
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
  pkg/pillar/dpcreconciler/linuxitems/vlan.go
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa

Add missing FW package to installer
  images/installer.yml.in
Owners: @eriknordmark

Avoid nil dereference in baseosmgr
  pkg/pillar/cmd/baseosmgr/handledownload.go
Owners: @deitch

grub: Disable boot measurement for installer
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Edge-Node Clustering miscellaneous bug fixes
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-utils.sh
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/zedkube.go
Owners: @zedi-pramodh, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Fix some issues related to Kube Cluster lease election
  pkg/pillar/agentbase/apptracker.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/leaderelect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/types/clustertypes.go
Owners: @eriknordmark

Misc kubevirt kube container changes
  pkg/debug/scripts/collect-info.sh
  pkg/kube/cluster-init.sh
  pkg/kube/config-k3s.toml
  pkg/kube/config.yaml
  pkg/kube/longhorn-utils.sh
  pkg/kube/nsmounter
Owners: @rouming, @zedi-pramodh

Avoid using expensive reflect for the Bond.Equal method
  pkg/pillar/dpcreconciler/linuxitems/bond.go
Owners: @milan-zededa

Allow to use network port with VLAN-subinterfaces for untagged traffic
  docs/DEVICE-CONNECTIVITY.md
  docs/images/eve-vlans-and-lags.png
  docs/images/eve-vlans-and-lags.xml
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/parseconfig_test.go
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/dpcreconciler/genericitems/netio.go
  pkg/pillar/dpcreconciler/linux.go
  pkg/pillar/dpcreconciler/linux_test.go
  pkg/pillar/dpcreconciler/linuxitems/adapter.go
  pkg/pillar/dpcreconciler/linuxitems/vlan.go
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa

zedagenttypes : make eve rely on API, not the other way around
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark

Set device to maintenance mode if TPM error is detected
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
  pkg/pillar/cmd/vaultmgr/vaultmgr.go
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/types/tpmmgrtypes.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @rucoder, @shjala

Check TPM sanity periodically
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
Owners: @eriknordmark, @rucoder, @shjala

fix: Updated the eden.yml to use the new upload actions
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

github/workflows: Added the platform suffix to the linuxkit cache.
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: Updated the eden.yml to use the new upload actions
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

github/workflows: Added the platform suffix to the linuxkit cache.
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix github/workflows: build.yml docker cache
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix github/workflows: build.yml docker cache
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

github/workflows: Remove imx8mp platforms
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

github/workflows: Remove imx8mp platforms
  .github/workflows/build.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: github/workflows/eden.yml: Fix the job name
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Update monitor TUI to v0.2.0
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Keep the applications alive when getting UNKNOWN state from the containerd tasks
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/containerd.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala

Keep the applications alive when getting UNKNOWN state from the containerd tasks
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/containerd.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala

github/workflows updated the get_run_id actions to use the github API
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: github/workflows/eden.yml: Fix the job name
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

github/workflows updated the get_run_id actions to use the github API
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Avoid nil dereference in baseosmgr
  pkg/pillar/cmd/baseosmgr/handledownload.go
Owners: @deitch

Fix crash in pillar if NTP FQDN is an empty string
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
Owners: @milan-zededa

Keep the applications alive when getting UNKNOWN state from the containerd tasks
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/containerd.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @deitch, @rouming, @rucoder, @rene, @shjala

doc: Add backporting guidelines to documentation.
  CONTRIBUTING.md
Owners: @eriknordmark

kubevirt: upgrade k3s,multus,kubevirt,cdi,longhorn
  .spdxignore
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
  pkg/kube/update-component/README.md
  pkg/kube/update-component/cdi.go
  pkg/kube/update-component/expected_versions.yaml
  pkg/kube/update-component/go.mod
  pkg/kube/update-component/go.sum
  pkg/kube/update-component/kubevirt.go
  pkg/kube/update-component/longhorn.go
  pkg/kube/update-component/multus.go
  pkg/kube/update-component/settings_longhorn.yaml
  pkg/kube/update-component/upgrades.go
  pkg/pillar/cmd/zedagent/handleedgenodecluster.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/types/clusterupdatetypes.go
  pkg/pillar/zedbox/zedbox.go
Owners: @eriknordmark, @zedi-pramodh, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

doc: Add backporting guidelines to documentation.
  CONTRIBUTING.md
Owners: @eriknordmark
