Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

pillar/zedrouter: update NI on NET config change
  pkg/pillar/cmd/zedrouter/pubsubhandlers.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Makefile: enable using eth1 as tap device
  Makefile
Owners: @eriknordmark

Makefile: Export PLATFORM as docker build argument
  Makefile
Owners: @eriknordmark

Makefile: Fix broken build for manifest
  Makefile
Owners: @eriknordmark

Makefile: Fix broken build for manifest
  Makefile
Owners: @eriknordmark

kubeapi for matching pv/pvc to /dev/sd devices
  pkg/pillar/kubeapi/storageutils.go
  pkg/pillar/kubeapi/storageutils_test.go
Owners: @eriknordmark

pillar/zedrouter: update NI on NET config change
  pkg/pillar/cmd/zedrouter/pubsubhandlers.go
Owners: @christoph-zededa, @milan-zededa, @rouming

pillar/nireconciler: resolve ntp servers
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/types/dns.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark

Bump eve-api
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

pillar/nireconciler: rename test package
  pkg/pillar/nireconciler/linux_test.go
Owners: @milan-zededa

pillar: enhance NTP server handling
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/parseconfig_test.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/dpcmanager/dpcmanager_test.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
  pkg/pillar/types/zedroutertypes.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa

Makefile: enable using eth1 as tap device
  Makefile
Owners: @eriknordmark

pkg/pillar: honor NtpServerExclusively option
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

zedagent/reportinfo: report NTP domain capability
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Allow download retrying if the computed and configured checksums differ.
  .gitignore
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/downloader/downloader.go
  pkg/pillar/cmd/volumemgr/blob.go
  pkg/pillar/cmd/volumemgr/handledownloader.go
  pkg/pillar/cmd/volumemgr/handleverifier.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/volumemgr/volumemgr.go
  pkg/pillar/types/blob.go
  pkg/pillar/types/downloadertypes.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark, @deitch, @milan-zededa, @rouming, @OhmSpectator

vcomlink: tpm access
  pkg/pillar/cmd/vcomlink/message.go
  pkg/pillar/cmd/vcomlink/tpmcom.go
  pkg/pillar/cmd/vcomlink/vcomlink.go
  pkg/pillar/cmd/vcomlink/vcomlink_test.go
  pkg/pillar/cmd/vcomlink/vsocknet.go
  pkg/pillar/cmd/vcomlink/vsocksrv.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/vcom/api/Makefile
  pkg/pillar/vcom/api/builder/Dockerfile
  pkg/pillar/vcom/api/proto/messages.proto
  pkg/pillar/vcom/common.go
  pkg/pillar/vcom/messages.pb.go
Owners: @eriknordmark, @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Kubevirt: Defer eve reboot/shutdown/update until drain completes
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/baseosmgr/baseosmgr.go
  pkg/pillar/cmd/baseosmgr/handlebaseos.go
  pkg/pillar/cmd/baseosmgr/handlenodedrain.go
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/diag/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/zedagent/handleconfig.go
  pkg/pillar/cmd/zedagent/handlenodedrain.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/drain.go
  pkg/pillar/cmd/zedkube/handlenodedrain.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/types/global.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @deitch, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Makefile: Bump linuxkit to version 1.5.3
  Makefile
Owners: @eriknordmark

Ignore /persist/kube-save-var-lib directory
  pkg/pillar/types/diskmetrics.go
Owners: @eriknordmark

Set volumeStatus.FileLocation to PVC name for kubevirt eve
  pkg/pillar/cmd/volumemgr/handlediskmetrics.go
Owners: @OhmSpectator, @deitch, @rouming

Ignore /persist/kube-save-var-lib directory
  pkg/pillar/types/diskmetrics.go
Owners: @eriknordmark

Handle the review comments in PR 4407
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/types/domainmgrtypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark, @rucoder, @rene, @shjala

volumemgr: update vrs every time vs changes
  pkg/pillar/cmd/volumemgr/handlevolumeref.go
Owners: @OhmSpectator, @deitch, @rouming

Set volumeStatus.FileLocation to PVC name for kubevirt eve
  pkg/pillar/cmd/volumemgr/handlediskmetrics.go
Owners: @OhmSpectator, @deitch, @rouming

Makefile: Bump linuxkit to version 1.5.3
  Makefile
Owners: @eriknordmark

volumemgr: update vrs every time vs changes
  pkg/pillar/cmd/volumemgr/handlevolumeref.go
Owners: @OhmSpectator, @deitch, @rouming

Allow download retrying if the computed and configured checksums differ.
  .gitignore
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/downloader/downloader.go
  pkg/pillar/cmd/volumemgr/blob.go
  pkg/pillar/cmd/volumemgr/handledownloader.go
  pkg/pillar/cmd/volumemgr/handleverifier.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/volumemgr/volumemgr.go
  pkg/pillar/types/blob.go
  pkg/pillar/types/downloadertypes.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark, @deitch, @milan-zededa, @rouming, @OhmSpectator

Setting default server to prod
  conf/server
Owners: @eriknordmark

Fix network booting by adding virtio-rng-pci
  Makefile
Owners: @eriknordmark

Fix network booting by adding virtio-rng-pci
  Makefile
Owners: @eriknordmark

kubevirt: upgrade k3s,multus,kubevirt,cdi,longhorn
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
  pkg/kube/update-component/README
  pkg/kube/update-component/cdi.go
  pkg/kube/update-component/expected_versions.yaml
  pkg/kube/update-component/go.mod
  pkg/kube/update-component/go.sum
  pkg/kube/update-component/kubevirt.go
  pkg/kube/update-component/longhorn.go
  pkg/kube/update-component/multus.go
  pkg/kube/update-component/settings_longhorn.yaml
  pkg/kube/update-component/upgrades.go
  pkg/pillar/cmd/zedagent/handleedgenodecluster.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/kubeapi/infotypes.go
  pkg/pillar/zedbox/zedbox.go
Owners: @zedi-pramodh, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

can't remember just save
  pkg/pillar/cmd/vcomlink/vcomlink_test.go
  pkg/pillar/vcom/api/proto/messages_pb2.py
  pkg/pillar/vcom/api/proto/test.py
Owners: @eriknordmark

bpftrace-compiler: Bump linuxkit to version 1.5.3
  eve-tools/bpftrace-compiler/go.mod
  eve-tools/bpftrace-compiler/go.sum
Owners: @eriknordmark

Kubevirt: Defer eve reboot/shutdown/update until drain completes
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/baseosmgr/baseosmgr.go
  pkg/pillar/cmd/baseosmgr/handlebaseos.go
  pkg/pillar/cmd/baseosmgr/handlenodedrain.go
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/diag/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/zedagent/handleconfig.go
  pkg/pillar/cmd/zedagent/handlenodedrain.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/drain.go
  pkg/pillar/cmd/zedkube/handlenodedrain.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/types/global.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @deitch, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Kernel update - [amd64-generic, arm64-generic, arm64-nvidia, arm64-generic, arm64-generic, arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

Kernel update - [amd64-generic, arm64-generic, arm64-nvidia, arm64-generic, arm64-generic, arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

zedagenttypes : make eve rely on API, not the other way around
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark

bpftrace-compiler: Bump linuxkit to version 1.5.3
  eve-tools/bpftrace-compiler/go.mod
  eve-tools/bpftrace-compiler/go.sum
Owners: @eriknordmark

Set device to maintenance mode if TPM error is detected
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/tpmmgr/tpmmgr.go
  pkg/pillar/cmd/vaultmgr/vaultmgr.go
  pkg/pillar/evetpm/tpm.go
  pkg/pillar/types/tpmmgrtypes.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @rucoder, @shjala

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
