Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

Integrate monitor-rs version v0.4.0
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Fix parsing for single-stack NetworkType values
  pkg/pillar/cmd/zedagent/parseconfig.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Fix dhcpcd PID filepath retrieval
  pkg/pillar/dpcreconciler/genericitems/dhcpcd.go
Owners: @milan-zededa

Integrate monitor-rs version v0.4.0
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Fix dhcpcd PID filepath retrieval
  pkg/pillar/dpcreconciler/genericitems/dhcpcd.go
Owners: @milan-zededa

Fix parsing for single-stack NetworkType values
  pkg/pillar/cmd/zedagent/parseconfig.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

yetus: Exclude go-libzfs from checks
  .yetus/excludes.txt
Owners: @eriknordmark

newlog: bump go version and update vendor
  pkg/newlog/go.mod
  pkg/newlog/go.sum
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/containerd/containerd.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/cipherinfotypes.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/patchenvelopestypes.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/zedmanagertypes.go
  pkg/newlog/vendor/modules.txt
Owners: @deitch, @naiming-zededa

yetus: Exclude go-libzfs from checks
  .yetus/excludes.txt
Owners: @eriknordmark

newlog: add filter, dedup and counter functions
  docs/CONFIG-PROPERTIES.md
  pkg/newlog/cmd/counter.go
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/filter.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
Owners: @eriknordmark, @deitch, @naiming-zededa

newlogd: fix yetus warnings
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
Owners: @deitch, @naiming-zededa

newlog: add filter, dedup and counter functions
  docs/CONFIG-PROPERTIES.md
  pkg/newlog/cmd/counter.go
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/filter.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
Owners: @eriknordmark, @deitch, @naiming-zededa

newlog: bump go version and update vendor
  pkg/newlog/go.mod
  pkg/newlog/go.sum
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/containerd/containerd.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/cipherinfotypes.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/patchenvelopestypes.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/zedmanagertypes.go
  pkg/newlog/vendor/modules.txt
Owners: @deitch, @naiming-zededa

newlogd: fix yetus warnings
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
Owners: @deitch, @naiming-zededa

pkg/pillar: switch to new ServeMux verb option
  pkg/pillar/agentlog/http-debug.go
Owners: @eriknordmark

http-debug: bpftrace handler return on error
  pkg/pillar/agentlog/http-debug.go
Owners: @eriknordmark

wwan: update Lenovo FCC unlock binary to support SE30 with 5G modem
  pkg/wwan/Dockerfile
  pkg/wwan/fcc-unlock/105b:e0ab
  pkg/wwan/mm-init.sh
Owners: @milan-zededa

Setting default server to prod
  conf/server
Owners: @eriknordmark

Setting default server to prod
  conf/server
Owners: @eriknordmark

wwan: update Lenovo FCC unlock binary to support SE30 with 5G modem
  pkg/wwan/Dockerfile
  pkg/wwan/fcc-unlock/105b:e0ab
  pkg/wwan/mm-init.sh
Owners: @milan-zededa

http-debug: bpftrace handler return on error
  pkg/pillar/agentlog/http-debug.go
Owners: @eriknordmark

pkg/pillar: switch to new ServeMux verb option
  pkg/pillar/agentlog/http-debug.go
Owners: @eriknordmark

- Fix and issue in patch-envelope encryption/decryption
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/patchenvelopes.go
Owners: @eriknordmark

Fix an issue in patch-envelope encryption/decryption
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/patchenvelopes.go
Owners: @eriknordmark

Fix some Edge-Node Clustering Regression issues
  pkg/kube/cluster-init.sh
  pkg/kube/config.yaml
  pkg/kube/k3s-pod-logs.sh
  pkg/kube/longhorn-generate-support-bundle.sh
  pkg/pillar/cmd/nim/nim.go
Owners: @zedi-pramodh, @milan-zededa

Revert "Fix from Naiming for appcontainer.go"
  pkg/pillar/cmd/zedrouter/appcontainer.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Revert "Make iprule.go compile"
  pkg/pillar/nireconciler/linuxitems/iprule.go
Owners: @milan-zededa

Revert "Update edge-containers package"
  pkg/pillar/go.mod
  pkg/pillar/go.sum
Owners: @eriknordmark

Revert "Update go.mod to use go 1.24.1"
  pkg/pillar/go.mod
Owners: @eriknordmark
