Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Cleanup Go templates used for generating Qemu config
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/kvm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

Update EVE API to include application network interface order fields
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/devcommon.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/netconfig.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/config/vm.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/info/info.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-api/go/metrics/metrics.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Parse application interface order fields
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/appnetwork.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/types/zedroutertypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa, @eriknordmark

Add missing nil check for DPC when processing wwan status update
  pkg/pillar/dpcmanager/wwan.go
Owners: @milan-zededa

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

pillar/nireconciler: resolve ntp servers
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/types/dns.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark

pillar/zedrouter: update NI on NET config change
  pkg/pillar/cmd/zedrouter/pubsubhandlers.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Refactor GitHub Actions workflow to use actions for release creation and asset upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

agentlog: fix race condition in tests
  pkg/pillar/agentlog/agentlog_test.go
  pkg/pillar/agentlog/memprofile.go
Owners: @eriknordmark

eden.yaml: checkout Eden 1.0.1
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

eden.yaml: checkout Eden 1.0.1
  .github/workflows/eden.yml
Owners: @deitch, @uncleDecart, @yash-zededa

update documentation on remote log level settings
  docs/CONFIG-PROPERTIES.md
  docs/LOGGING.md
  docs/images/eve-log-levels.drawio.png
Owners: @eriknordmark

remove logs longer than memlogd's max-line-len
  pkg/pillar/agentlog/loglevel.go
  pkg/pillar/cmd/upgradeconverter/applydefaultconfigitem.go
Owners: @eriknordmark

define clear order of log file removal
  pkg/newlog/cmd/newlogd.go
Owners: @deitch, @naiming-zededa

ioBundle->NetworkPortStatus matching tightening
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/types/dns.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @eriknordmark

define clear order of log file removal
  pkg/newlog/cmd/newlogd.go
Owners: @deitch, @naiming-zededa

remove logs longer than memlogd's max-line-len
  pkg/pillar/agentlog/loglevel.go
  pkg/pillar/cmd/upgradeconverter/applydefaultconfigitem.go
Owners: @eriknordmark

update documentation on remote log level settings
  docs/CONFIG-PROPERTIES.md
  docs/LOGGING.md
  docs/images/eve-log-levels.drawio.png
Owners: @eriknordmark

wwan: Do not change initial bearer config and properly clear unused default bearers
  pkg/wwan/mmagent/mmdbus/client.go
  pkg/wwan/mmagent/mmdbus/mmapi.go
Owners: @milan-zededa

Setting default server to prod
  conf/server
Owners: @eriknordmark

Implement Clustering and App related functions
  pkg/pillar/base/kubevirt.go
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/cni.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @rucoder, @rene, @shjala

agentlog: fix race condition in tests
  pkg/pillar/agentlog/agentlog_test.go
  pkg/pillar/agentlog/memprofile.go
Owners: @eriknordmark

Bump eve-libs
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-libs/nettrace/dial.go
  pkg/pillar/vendor/github.com/lf-edge/eve-libs/zedUpload/azureutil/azure.go
  pkg/pillar/vendor/github.com/lf-edge/eve-libs/zedUpload/ociutil/oci.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

grub: Use regexp in grub.cfg for smbios product name of rpi4/rpi5
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Integrate monitor-rs version v0.1.2
  pkg/monitor/Dockerfile
Owners: @eriknordmark

Allow download retrying if the computed and configured checksums differ.
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/downloader/downloader.go
  pkg/pillar/cmd/volumemgr/handledownloader.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/volumemgr/volumemgr.go
  pkg/pillar/types/blob.go
  pkg/pillar/types/downloadertypes.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark, @deitch, @milan-zededa, @rouming, @OhmSpectator

makefile: keep only run-live as run alias
  Makefile
Owners: @eriknordmark

Implement Clustering and App related functions
  pkg/pillar/base/kubevirt.go
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedmanager/handleclusterapp.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/cmd/zedrouter/cni.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kubevirt_test.go
  pkg/pillar/kubeapi/kubeapi.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @rucoder, @rene, @shjala

Bump eve-libs
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/vendor/github.com/lf-edge/eve-libs/nettrace/dial.go
  pkg/pillar/vendor/github.com/lf-edge/eve-libs/zedUpload/azureutil/azure.go
  pkg/pillar/vendor/github.com/lf-edge/eve-libs/zedUpload/ociutil/oci.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

pillar/nireconciler: resolve ntp servers
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/types/dns.go
Owners: @christoph-zededa, @milan-zededa, @rouming, @eriknordmark

pillar/nireconciler: rename test package
  pkg/pillar/nireconciler/linux_test.go
Owners: @milan-zededa

pkg/pillar: honor NtpServerExclusively option
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

pillar: enhance NTP server handling
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/zedagent/handlemetrics.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/parseconfig_test.go
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedrouter/networkinstance.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/dpcmanager/dpcmanager_test.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd.go
  pkg/pillar/dpcreconciler/genericitems/dhcpcd_test.go
  pkg/pillar/nireconciler/linux_config.go
  pkg/pillar/nireconciler/linux_test.go
  pkg/pillar/nireconciler/nireconciler.go
  pkg/pillar/scripts/device-steps.sh
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
  pkg/pillar/types/zedroutertypes.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @christoph-zededa

Makefile: enable using eth1 as tap device
  Makefile
Owners: @eriknordmark

pillar/zedrouter: update NI on NET config change
  pkg/pillar/cmd/zedrouter/pubsubhandlers.go
Owners: @christoph-zededa, @milan-zededa, @rouming

ioBundle->NetworkPortStatus matching tightening
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/wstunnelclient/wstunnelclient.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/dpcmanager/dns.go
  pkg/pillar/types/dns.go
  pkg/pillar/types/dpc.go
Owners: @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming

makefile: keep only run-live as run alias
  Makefile
Owners: @eriknordmark

newlog: move temp log files correctly after reboot
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
  pkg/newlog/testdata/collect/app.8ce1cc69-e1bb-4fe3-9613-e3eb1c5f5c4d.log.1731935033496
  pkg/newlog/testdata/collect/current.device.log
  pkg/newlog/testdata/collect/dev.log.keep.397634723
  pkg/newlog/testdata/collect/dev.log.upload.815590695
Owners: @deitch, @naiming-zededa

Integrate monitor-rs version v0.1.2
  pkg/monitor/Dockerfile
Owners: @eriknordmark

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
