Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Initial set of pillar types related files
  pkg/pillar/types/cipherinfotypes.go
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedkubetypes.go
Owners: @eriknordmark

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Add volumeattach/volumedetach API
  pkg/pillar/kubeapi/vitoapiserver.go
Owners: @eriknordmark

Implement Cluster for zedkube related functions
  pkg/pillar/cmd/zedkube/applogs.go
  pkg/pillar/cmd/zedkube/clusterstatus.go
  pkg/pillar/cmd/zedkube/kubestatscollect.go
  pkg/pillar/cmd/zedkube/lease.go
  pkg/pillar/cmd/zedkube/vnc.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/docs/zedkube.md
  pkg/pillar/go.sum
  pkg/pillar/types/clustertypes.go
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

docs: Add support information for OnLogic FR201 device
  README.md
Owners: @eriknordmark

kernel: Update kernel version for arm64
  kernel-commits.mk
Owners: @eriknordmark

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

memory-monitor: Add error tolerance to memory allocation logging in handler script.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Install Descheduler, fix startup readywait
  .spdxignore
  .yamllint
  .yetus-excludes
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/descheduler-job.yaml
  pkg/kube/descheduler-policy-configmap.yaml
  pkg/kube/descheduler-utils.sh
  pkg/kube/descheduler_rbac.yaml
  pkg/kube/lh-cfg-v1.6.2.yaml
  pkg/kube/longhorn-utils.sh
Owners: @eriknordmark, @zedi-pramodh

Install Descheduler, fix startup readywait
  .spdxignore
  .yamllint
  .yetus-excludes
  pkg/kube/Dockerfile
  pkg/kube/cluster-init.sh
  pkg/kube/descheduler-job.yaml
  pkg/kube/descheduler-policy-configmap.yaml
  pkg/kube/descheduler-utils.sh
  pkg/kube/descheduler_rbac.yaml
  pkg/kube/lh-cfg-v1.6.2.yaml
  pkg/kube/longhorn-utils.sh
Owners: @eriknordmark, @zedi-pramodh

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: update regex in Makefile to correctly handle rc and lts tags
  Makefile
Owners: @eriknordmark

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

Domainmgr : refactor virtual TPM setup and termination
  pkg/pillar/cmd/domainmgr/domainmgr.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart

vTPM : refactor control socket communication and error handling
  pkg/pillar/hypervisor/kvm.go
  pkg/vtpm/swtpm-vtpm/src/main.go
  pkg/vtpm/swtpm-vtpm/src/vtpm_test.go
Owners: @OhmSpectator, @rucoder, @rene, @rouming, @shjala

domainmgr : call vTPM asynchronously and refactor setup functions
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/hypervisor/containerd.go
  pkg/pillar/hypervisor/kubevirt.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/hypervisor/null.go
  pkg/pillar/hypervisor/xen.go
  pkg/pillar/types/domainmgrtypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rucoder, @rene, @rouming, @shjala, @eriknordmark

vTPM : fix bug when getting launch request
  pkg/vtpm/swtpm-vtpm/src/main.go
Owners: @shjala

add vtpm vendor directory to .spdxignore
  .spdxignore
Owners: @eriknordmark

vTPM : validate id before using it in the request
  pkg/vtpm/swtpm-vtpm/go.mod
  pkg/vtpm/swtpm-vtpm/src/main.go
  pkg/vtpm/swtpm-vtpm/src/vtpm_test.go
Owners: @shjala

proc utils : rename wd kicker
  pkg/pillar/utils/proc.go
Owners: @milan-zededa

Add new vTPM tests
  pkg/vtpm/swtpm-vtpm/src/vtpm_test.go
Owners: @shjala

vTPM : more relaxed timeout
  pkg/vtpm/swtpm-vtpm/src/main.go
Owners: @shjala

memory-monitor: Add error tolerance to memory allocation logging in handler script.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Add error tolerance to memory allocation logging in handler script.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

fix: assets upload to use the correct variable name.
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

update: switch assets.yml to use GitHub API for artifact upload
  .github/workflows/assets.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: update regex in Makefile to correctly handle rc and lts tags
  Makefile
Owners: @eriknordmark

fix: update publish.yml to use the correct glob pattern for building tags
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

fix: update lts-release.sh to create the lts tag from the latest rc tag
  .github/workflows/assets.yml
  .github/workflows/publish.yml
  Makefile
  tools/lts-release.sh
  tools/rc-release.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
