Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

Makefile: Add pkg/pillar dependency to test target
  Makefile
Owners: @eriknordmark

vendor files of Nested App Stats Collection and Publications
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/LICENSE
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstanceinventory.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstancelog.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstancemetrics.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Revert "Makefile: do not check docker hashes for cross-compilers"
  Makefile
Owners: @eriknordmark

Fix boot sequence to prioritize previously active applications.
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/localinfo.go
  pkg/pillar/cmd/zedagent/parseconfig.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming

add docs about log filtering and deduplication
  docs/CONFIG-PROPERTIES.md
  docs/LOGGING.md
Owners: @eriknordmark

Revert "Makefile: do not check docker hashes for cross-compilers"
  Makefile
Owners: @eriknordmark

Makefile: Add pkg/pillar dependency to test target
  Makefile
Owners: @eriknordmark

Nested App Stats Collection and Publications
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedrouter/appcontainer.go
  pkg/pillar/cmd/zedrouter/pubsubhandlers.go
  pkg/pillar/cmd/zedrouter/zedrouter.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/types/zedroutertypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @eriknordmark

Update edge-containers
  pkg/pillar/go.mod
  pkg/pillar/go.sum
Owners: @eriknordmark

Additional go get's
  pkg/pillar/go.mod
  pkg/pillar/go.sum
Owners: @eriknordmark

Make iprule.go compile
  pkg/pillar/nireconciler/linuxitems/iprule.go
Owners: @milan-zededa

XXX [DO NOT MERGE] make zedrouter compile
  pkg/pillar/cmd/zedrouter/appcontainer.go
  pkg/pillar/cmd/zedrouter/appnetwork.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Update go.mod to 1.23.1
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/rootfs/init.sh
  pkg/watchdog/init.sh
  pkg/watchdog/init.sh.orig
Owners: @eriknordmark

Update version in go.mod
  pkg/pillar/go.mod
Owners: @eriknordmark

collect-info: don't tar logs by default
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

Update go.mod
  pkg/pillar/go.mod
Owners: @eriknordmark

collect-info: add TPM getcap and /persist/certs
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

Fix non-constant format string in call to ...
  pkg/pillar/cas/containerd.go
  pkg/pillar/cipher/handlecipher.go
  pkg/pillar/cmd/baseosmgr/handledownload.go
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/nodeagent/handlebaseos.go
  pkg/pillar/cmd/nodeagent/handletimers.go
  pkg/pillar/cmd/upgradeconverter/persistlayout.go
  pkg/pillar/cmd/verifier/pubsub/handlers.go
  pkg/pillar/cmd/volumemgr/blob.go
  pkg/pillar/cmd/volumemgr/handlecontent.go
  pkg/pillar/cmd/volumemgr/handlesnapshot.go
  pkg/pillar/cmd/volumemgr/handlevolume.go
  pkg/pillar/cmd/volumemgr/oci.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/zedagent/handlecertconfig.go
  pkg/pillar/cmd/zedagent/handlecipherconfig.go
  pkg/pillar/cmd/zedagent/parsepatchenvelopes.go
  pkg/pillar/cmd/zedmanager/handlevolumemgr.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/pubsub/reverse/publish.go
  pkg/pillar/types/assignableadapters_test.go
  pkg/pillar/utils/deserialize.go
  pkg/pillar/volumehandlers/containerhandler.go
  pkg/pillar/volumehandlers/csihandler.go
  pkg/pillar/volumehandlers/filehandler.go
  pkg/pillar/volumehandlers/zvolhandler.go
  pkg/pillar/zedbox/zedbox.go
  pkg/pillar/zedcloud/lookupproxy.go
  pkg/pillar/zedcloud/tls.go
Owners: @deitch, @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @rucoder, @rene, @shjala, @christoph-zededa

Fix non-constant format string in call to ...
  pkg/pillar/cas/containerd.go
  pkg/pillar/cipher/handlecipher.go
  pkg/pillar/cmd/baseosmgr/handledownload.go
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/nodeagent/handlebaseos.go
  pkg/pillar/cmd/nodeagent/handletimers.go
  pkg/pillar/cmd/upgradeconverter/persistlayout.go
  pkg/pillar/cmd/verifier/pubsub/handlers.go
  pkg/pillar/cmd/volumemgr/blob.go
  pkg/pillar/cmd/volumemgr/handlecontent.go
  pkg/pillar/cmd/volumemgr/handlesnapshot.go
  pkg/pillar/cmd/volumemgr/handlevolume.go
  pkg/pillar/cmd/volumemgr/oci.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/zedagent/handlecertconfig.go
  pkg/pillar/cmd/zedagent/handlecipherconfig.go
  pkg/pillar/cmd/zedagent/parsepatchenvelopes.go
  pkg/pillar/cmd/zedmanager/handlevolumemgr.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/pubsub/reverse/publish.go
  pkg/pillar/types/assignableadapters_test.go
  pkg/pillar/utils/deserialize.go
  pkg/pillar/volumehandlers/containerhandler.go
  pkg/pillar/volumehandlers/csihandler.go
  pkg/pillar/volumehandlers/filehandler.go
  pkg/pillar/volumehandlers/zvolhandler.go
  pkg/pillar/zedbox/zedbox.go
  pkg/pillar/zedcloud/lookupproxy.go
  pkg/pillar/zedcloud/tls.go
Owners: @deitch, @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @rucoder, @rene, @shjala, @christoph-zededa

vendor files of Nested App Stats Collection and Publications
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/LICENSE
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstanceinventory.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstancelog.pb.go
  pkg/pillar/vendor/github.com/lf-edge/eve-tools/runtimemetrics/go/nestedappinstancemetrics/nestedappinstancemetrics.pb.go
  pkg/pillar/vendor/modules.txt
Owners: @eriknordmark

Nested App Stats Collection and Publications
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedmanager/handledomainmgr.go
  pkg/pillar/cmd/zedmanager/handlezedrouter.go
  pkg/pillar/cmd/zedrouter/appcontainer.go
  pkg/pillar/cmd/zedrouter/pubsubhandlers.go
  pkg/pillar/cmd/zedrouter/zedrouter.go
  pkg/pillar/go.mod
  pkg/pillar/go.sum
  pkg/pillar/types/domainmgrtypes.go
  pkg/pillar/types/zedmanagertypes.go
  pkg/pillar/types/zedroutertypes.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @christoph-zededa, @eriknordmark

eve-tools/bpftrace-compiler: github.com/linuxkit/linuxkit/src/cmd/linuxkit
  eve-tools/bpftrace-compiler/go.mod
  eve-tools/bpftrace-compiler/go.sum
Owners: @eriknordmark

eve-tools/bpftrace-compiler: github.com/linuxkit/linuxkit/src/cmd/linuxkit
  eve-tools/bpftrace-compiler/go.mod
  eve-tools/bpftrace-compiler/go.sum
Owners: @eriknordmark

Fix boot sequence to prioritize previously active applications.
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/zedagent/localinfo.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/types/locationconsts.go
Owners: @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @eriknordmark

Fix non-constant format string in call to ...
  pkg/pillar/cas/containerd.go
  pkg/pillar/cipher/handlecipher.go
  pkg/pillar/cmd/baseosmgr/handledownload.go
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/domainmgr/domainmgr.go
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/nodeagent/handlebaseos.go
  pkg/pillar/cmd/nodeagent/handletimers.go
  pkg/pillar/cmd/upgradeconverter/persistlayout.go
  pkg/pillar/cmd/verifier/pubsub/handlers.go
  pkg/pillar/cmd/volumemgr/blob.go
  pkg/pillar/cmd/volumemgr/handlecontent.go
  pkg/pillar/cmd/volumemgr/handlesnapshot.go
  pkg/pillar/cmd/volumemgr/handlevolume.go
  pkg/pillar/cmd/volumemgr/oci.go
  pkg/pillar/cmd/volumemgr/updatestatus.go
  pkg/pillar/cmd/zedagent/handlecertconfig.go
  pkg/pillar/cmd/zedagent/handlecipherconfig.go
  pkg/pillar/cmd/zedagent/parsepatchenvelopes.go
  pkg/pillar/cmd/zedmanager/handlevolumemgr.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/containerd/containerd.go
  pkg/pillar/hypervisor/kvm.go
  pkg/pillar/pubsub/reverse/publish.go
  pkg/pillar/types/assignableadapters_test.go
  pkg/pillar/utils/deserialize.go
  pkg/pillar/volumehandlers/containerhandler.go
  pkg/pillar/volumehandlers/csihandler.go
  pkg/pillar/volumehandlers/filehandler.go
  pkg/pillar/volumehandlers/zvolhandler.go
  pkg/pillar/zedbox/zedbox.go
  pkg/pillar/zedcloud/lookupproxy.go
  pkg/pillar/zedcloud/tls.go
Owners: @deitch, @eriknordmark, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @rouming, @rucoder, @rene, @shjala, @christoph-zededa

Update go.mod to use go 1.24.1
  pkg/pillar/go.mod
Owners: @eriknordmark

Update edge-containers package
  pkg/pillar/go.mod
  pkg/pillar/go.sum
Owners: @eriknordmark

Make iprule.go compile
  pkg/pillar/nireconciler/linuxitems/iprule.go
Owners: @milan-zededa

Fix from Naiming for appcontainer.go
  pkg/pillar/cmd/zedrouter/appcontainer.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Remove spurious file
  pkg/watchdog/init.sh.orig
Owners: @eriknordmark

add log dedup and filter settings
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
Owners: @eriknordmark

add docs about log filtering and deduplication
  docs/CONFIG-PROPERTIES.md
  docs/LOGGING.md
Owners: @eriknordmark

Update go-sources-and-licenses to v1.0.0.
  Makefile
Owners: @eriknordmark

Update go-sources-and-licenses to v1.0.0.
  Makefile
Owners: @eriknordmark

Add code for volume detachment during failover
  pkg/pillar/cmd/zedkube/applogs.go
Owners: @eriknordmark

newlog: add filter, dedup and counter functions
  pkg/newlog/cmd/counter.go
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/filter.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
Owners: @deitch, @naiming-zededa

Change for Nested App logging
  docs/LOGGING.md
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/go.mod
  pkg/newlog/go.sum
Owners: @eriknordmark, @deitch, @naiming-zededa

Handle the Patch-Envelope Encrypted Artifacts
  docs/PATCH-ENVELOPES.md
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/msrv.go
  pkg/pillar/cmd/msrv/msrv_test.go
  pkg/pillar/cmd/msrv/patchenvelopes.go
  pkg/pillar/cmd/msrv/patchenvelopes_test.go
  pkg/pillar/cmd/msrv/pubsub.go
  pkg/pillar/cmd/zedagent/parsepatchenvelopes.go
  pkg/pillar/types/cipherinfotypes.go
  pkg/pillar/types/patchenvelopestypes.go
  pkg/pillar/utils/patchenvelopesutils.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Remove protected branches from kernel-commit.mk
  tools/update_kernel_commits.py
Owners: @deitch, @jsfakian

Handle the Patch-Envelope Encrypted Artifacts
  docs/PATCH-ENVELOPES.md
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/msrv.go
  pkg/pillar/cmd/msrv/msrv_test.go
  pkg/pillar/cmd/msrv/patchenvelopes.go
  pkg/pillar/cmd/msrv/patchenvelopes_test.go
  pkg/pillar/cmd/msrv/pubsub.go
  pkg/pillar/cmd/zedagent/parsepatchenvelopes.go
  pkg/pillar/types/cipherinfotypes.go
  pkg/pillar/types/patchenvelopestypes.go
  pkg/pillar/utils/patchenvelopesutils.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart
