Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

Replace tty0 with tty1 when starting getty
  pkg/dom0-ztools/rootfs/usr/bin/rungetty.sh
Owners: @christoph-zededa, @rouming

pillar: Refine log messages for threshold-based timing warnings.
  pkg/pillar/pubsub/checkmaxtime.go
Owners: @eriknordmark

pillar: Refine log messages for threshold-based timing warnings.
  pkg/pillar/pubsub/checkmaxtime.go
Owners: @eriknordmark

memory-monitor: Reorder Pillar heap dump to prioritize memory analysis accuracy.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Make pillar heap dump binary.
  pkg/memory-monitor/README.md
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Add lock file mechanism to the handler.
  pkg/memory-monitor/build.yml
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Remove redundant allocations dump in handler.
  pkg/memory-monitor/Makefile
  pkg/memory-monitor/README.md
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Add advanced pprof options to improve heap analysis.
  pkg/memory-monitor/Makefile
  pkg/memory-monitor/README.md
Owners: @OhmSpectator

memory-monitor: Reorder Pillar heap dump to prioritize memory analysis accuracy.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Add advanced pprof options to improve heap analysis.
  pkg/memory-monitor/Makefile
  pkg/memory-monitor/README.md
Owners: @OhmSpectator

memory-monitor: Add lock file mechanism to the handler.
  pkg/memory-monitor/build.yml
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Make pillar heap dump binary.
  pkg/memory-monitor/README.md
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Remove redundant allocations dump in handler.
  pkg/memory-monitor/Makefile
  pkg/memory-monitor/README.md
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Add lock file mechanism to the handler.
  pkg/memory-monitor/build.yml
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Reorder Pillar heap dump to prioritize memory analysis accuracy.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Add advanced pprof options to improve heap analysis.
  pkg/memory-monitor/Makefile
  pkg/memory-monitor/README.md
Owners: @OhmSpectator

memory-monitor: Make pillar heap dump binary.
  pkg/memory-monitor/README.md
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Remove redundant allocations dump in handler.
  pkg/memory-monitor/Makefile
  pkg/memory-monitor/README.md
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

kubeapi for matching pv/pvc to /dev/sd devices
  pkg/pillar/kubeapi/storageutils.go
  pkg/pillar/kubeapi/storageutils_test.go
Owners: @eriknordmark

Kubevirt: Run Descheduler on node boot to rebalance cluster apps
  pkg/kube/cluster-init.sh
  pkg/kube/cluster-update.sh
Owners: @zedi-pramodh

Kubevirt: Defer eve reboot/shutdown/update until drain completes
  docs/CONFIG-PROPERTIES.md
  pkg/pillar/cmd/baseosmgr/baseosmgr.go
  pkg/pillar/cmd/baseosmgr/handlebaseos.go
  pkg/pillar/cmd/baseosmgr/handlenodedrain.go
  pkg/pillar/cmd/diag/diag.go
  pkg/pillar/cmd/diag/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/handlenodedrain.go
  pkg/pillar/cmd/nodeagent/nodeagent.go
  pkg/pillar/cmd/zedagent/handleconfig.go
  pkg/pillar/cmd/zedagent/handlenodedrain.go
  pkg/pillar/cmd/zedagent/parseconfig.go
  pkg/pillar/cmd/zedagent/zedagent.go
  pkg/pillar/cmd/zedkube/drain.go
  pkg/pillar/cmd/zedkube/handlenodedrain.go
  pkg/pillar/cmd/zedkube/zedkube.go
  pkg/pillar/kubeapi/longhorninfo.go
  pkg/pillar/kubeapi/nokube.go
  pkg/pillar/types/global.go
  pkg/pillar/types/global_test.go
  pkg/pillar/types/zedagenttypes.go
Owners: @eriknordmark, @deitch, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Makefile: Add support to custom build-<PLATFORM>.yml file
  Makefile
  tools/parse-pkgs.sh
Owners: @eriknordmark, @deitch, @jsfakian

memory-monitor: Make pillar heap dump binary.
  pkg/memory-monitor/README.md
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Reorder Pillar heap dump to prioritize memory analysis accuracy.
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Remove redundant allocations dump in handler.
  pkg/memory-monitor/Makefile
  pkg/memory-monitor/README.md
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

memory-monitor: Add advanced pprof options to improve heap analysis.
  pkg/memory-monitor/Makefile
  pkg/memory-monitor/README.md
Owners: @OhmSpectator

memory-monitor: Add lock file mechanism to the handler.
  pkg/memory-monitor/build.yml
  pkg/memory-monitor/src/monitor/memory-monitor-handler.sh
Owners: @OhmSpectator

Makefile: Add support to custom build-<PLATFORM>.yml file
  Makefile
  tools/parse-pkgs.sh
Owners: @eriknordmark, @deitch, @jsfakian

Revert "Makefile: Export PLATFORM as docker build argument"
  Makefile
Owners: @eriknordmark

installer: Fix root_dev() for correct INVENTORY mounting
  pkg/installer/install
Owners: @eriknordmark

Fix deleted app is displayed in halted state
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/subscriptions.go
Owners: @eriknordmark

Revert "Makefile: Export PLATFORM as docker build argument"
  Makefile
Owners: @eriknordmark

storage-init.sh: Fix /dev/root checking
  pkg/storage-init/storage-init.sh
Owners: @rouming

Fix deleted app is displayed in halted state
  pkg/pillar/cmd/monitor/messages.go
  pkg/pillar/cmd/monitor/subscriptions.go
Owners: @eriknordmark

installer: Fix root_dev() for correct INVENTORY mounting
  pkg/installer/install
Owners: @eriknordmark

storage-init.sh: Fix /dev/root checking
  pkg/storage-init/storage-init.sh
Owners: @rouming

fw: Add support for both nvidia variants
  pkg/fw/Dockerfile
  pkg/fw/build-nvidia-jp5.yml
  pkg/fw/build-nvidia-jp6.yml
  pkg/fw/build.yml
Owners: @rene

Split nvidia platform into two new variants
  Makefile
  kernel-commits.mk
  kernel-version.mk
Owners: @eriknordmark

grub: Add rootdelay for FR201 device
  pkg/grub/rootfs.cfg
Owners: @rucoder, @rene

Kernel update - [arm64-generic]
  kernel-commits.mk
Owners: @eriknordmark

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa
