Repository lf-edge/eve, changes with the owners that .github/CODEOWNERS names for each.
All owners: @eriknordmark, @deitch, @christoph-zededa, @shjala, @rene, @rouming, @naiming-zededa, @rucoder, @zedi-pramodh, @OhmSpectator, @jsfakian, @milan-zededa, @uncleDecart, @yash-zededa

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.

*                             @eriknordmark
/build-tools/                 @deitch
/pkg/alpine/                  @christoph-zededa
/pkg/apparmor/                @shjala
/pkg/bsp-imx/                 @rene
/pkg/cross-compilers/         @rene
/pkg/debug/                   @rouming
/pkg/debug/lshw/              @rene
/pkg/dom0-tools/              @shjala
/pkg/dom0-ztools/             @christoph-zededa @rouming
/pkg/edgeview/                @christoph-zededa @naiming-zededa
/pkg/fw/                      @rene
/pkg/grub/                    @rucoder @rene
/pkg/kdump/                   @rouming
/pkg/kernel/                  @rucoder @rene @rouming @shjala
/pkg/kexec/                   @rouming
/pkg/kube/                    @zedi-pramodh
/pkg/measure-config/          @rucoder
/pkg/memory-monitor/          @OhmSpectator
/pkg/mkimage-raw-efi/         @jsfakian @zedi-pramodh
/pkg/new-kernel/              @rucoder @rene @rouming @shjala
/pkg/newlog/                  @deitch @naiming-zededa
/pkg/optee-os/                @rene
/pkg/pillar/cas/              @deitch
/pkg/pillar/cmd/baseosmgr/    @deitch
/pkg/pillar/cmd/domainmgr/    @OhmSpectator @jsfakian @milan-zededa @uncleDecart
/pkg/pillar/cmd/downloader/   @deitch @milan-zededa @rouming
/pkg/pillar/cmd/ledmanager/   @rucoder @rene
/pkg/pillar/cmd/nim/          @milan-zededa
/pkg/pillar/cmd/tpmmgr/       @rucoder @shjala
/pkg/pillar/cmd/volumemgr/    @OhmSpectator @deitch @rouming
/pkg/pillar/cmd/zedagent/     @OhmSpectator @milan-zededa @rouming @uncleDecart
/pkg/pillar/cmd/zedmanager/   @OhmSpectator @rouming
/pkg/pillar/cmd/zedrouter/    @christoph-zededa @milan-zededa @rouming
/pkg/pillar/containerd/       @deitch @rouming
/pkg/pillar/cpuallocator/     @OhmSpectator
/pkg/pillar/devicenetwork/    @milan-zededa
/pkg/pillar/dpcmanager/       @milan-zededa
/pkg/pillar/dpcreconciler/    @milan-zededa
/pkg/pillar/evetpm/           @rucoder @shjala
/pkg/pillar/hypervisor/       @OhmSpectator @rucoder @rene @rouming @shjala
/pkg/pillar/iptables/         @milan-zededa
/pkg/pillar/netdump/          @milan-zededa
/pkg/pillar/netmonitor/       @milan-zededa
/pkg/pillar/nireconciler/     @milan-zededa
/pkg/pillar/nistate/          @milan-zededa
/pkg/pillar/sriov/            @uncleDecart
/pkg/pillar/portprober/       @milan-zededa
/pkg/pillar/utils/            @milan-zededa
/pkg/pillar/volumehandlers/   @OhmSpectator
/pkg/pillar/zedcloud/         @christoph-zededa @rouming
/pkg/pillar/zfs/              @zedi-pramodh
/pkg/rngd/                    @deitch
/pkg/storage-init/            @rouming
/pkg/u-boot/                  @rene
/pkg/uefi/                    @rucoder
/pkg/verifier-rs/             @jsfakian
/pkg/vtpm/                    @shjala
/pkg/wwan/                    @milan-zededa
/pkg/xen-tools/               @OhmSpectator @rucoder @rene @shjala
/pkg/xen/                     @OhmSpectator @rucoder @rene @shjala
/tests/eden/                  @milan-zededa @uncleDecart
/tools/                       @deitch @jsfakian
.github/workflows/            @deitch @uncleDecart @yash-zededa

Remove protected branches from kernel-commit.mk
  tools/update_kernel_commits.py
Owners: @deitch, @jsfakian

Handle the Patch-Envelope Encrypted Artifacts
  docs/PATCH-ENVELOPES.md
  pkg/pillar/cipher/cipher.go
  pkg/pillar/cmd/msrv/handlers.go
  pkg/pillar/cmd/msrv/msrv.go
  pkg/pillar/cmd/msrv/msrv_test.go
  pkg/pillar/cmd/msrv/patchenvelopes.go
  pkg/pillar/cmd/msrv/patchenvelopes_test.go
  pkg/pillar/cmd/msrv/pubsub.go
  pkg/pillar/cmd/zedagent/parsepatchenvelopes.go
  pkg/pillar/types/cipherinfotypes.go
  pkg/pillar/types/patchenvelopestypes.go
  pkg/pillar/utils/patchenvelopesutils.go
Owners: @eriknordmark, @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Kernel update - Remove obsolete branches from kernel-commits.mk
  kernel-commits.mk
Owners: @eriknordmark

eve-tools/bpftrace-compiler: Bump golang.org/x/net to 0.36.0
  eve-tools/bpftrace-compiler/go.mod
  eve-tools/bpftrace-compiler/go.sum
Owners: @eriknordmark

Kernel update - Remove obsolete branches from kernel-commits.mk
  kernel-commits.mk
Owners: @eriknordmark

CONTRIBUTING.md: Add information about kernel development
  CONTRIBUTING.md
Owners: @eriknordmark

Kernel update - [amd64-generic]
  kernel-commits.mk
Owners: @eriknordmark

pillar: add immediate snapshot feature
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

Integrate monitor-rs version v0.3.0
  pkg/monitor/Dockerfile
Owners: @eriknordmark

bpftrace-compiler: decrease needed go version
  eve-tools/bpftrace-compiler/go.mod
Owners: @eriknordmark

Kernel update - [amd64-generic]
  kernel-commits.mk
Owners: @eriknordmark

upgrade yetus to 0.15.1
  .github/workflows/yetus.yml
  Makefile
  tools/mini-yetus.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

upgrade yetus to 0.15.1
  .github/workflows/yetus.yml
  Makefile
  tools/mini-yetus.sh
Owners: @deitch, @uncleDecart, @yash-zededa, @eriknordmark, @jsfakian

wwan: update Lenovo FCC unlock binary to support SE30 with 5G modem
  pkg/wwan/Dockerfile
  pkg/wwan/fcc-unlock/105b:e0ab
  pkg/wwan/mm-init.sh
Owners: @milan-zededa

eve-tools/bpftrace-compiler: Bump golang.org/x/net to 0.36.0
  eve-tools/bpftrace-compiler/go.mod
  eve-tools/bpftrace-compiler/go.sum
Owners: @eriknordmark

CONTRIBUTING.md: Add information about kernel development
  CONTRIBUTING.md
Owners: @eriknordmark

pillar: fix ResolveWithSrcIP fuzz test
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
Owners: @milan-zededa

github/workflows: Switch publish arm64 runners to buildjet
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

collect-info: add TPM getcap and /persist/certs
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

collect-info: allow to exclude logs from tar ball
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

pillar: add immediate snapshot feature
  pkg/pillar/cmd/zedagent/reportinfo.go
  pkg/pillar/cmd/zedmanager/updatestatus.go
  pkg/pillar/cmd/zedmanager/zedmanager.go
  pkg/pillar/types/zedmanagertypes.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart, @eriknordmark

github/workflows: Switch publish arm64 runners to buildjet
  .github/workflows/publish.yml
Owners: @deitch, @uncleDecart, @yash-zededa

wwan: update Lenovo FCC unlock binary to support SE30 with 5G modem
  pkg/wwan/Dockerfile
  pkg/wwan/fcc-unlock/105b:e0ab
  pkg/wwan/mm-init.sh
Owners: @milan-zededa

pillar: report api capability
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

Integrate monitor-rs version v0.3.0
  pkg/monitor/Dockerfile
Owners: @eriknordmark

pillar: fix ResolveWithSrcIP fuzz test
  pkg/pillar/devicenetwork/dns.go
  pkg/pillar/devicenetwork/dns_test.go
Owners: @milan-zededa

pillar: report api capability
  pkg/pillar/cmd/zedagent/reportinfo.go
Owners: @OhmSpectator, @milan-zededa, @rouming, @uncleDecart

bpftrace-compiler: decrease needed go version
  eve-tools/bpftrace-compiler/go.mod
Owners: @eriknordmark

Change for Nested App logging
  docs/LOGGING.md
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/go.mod
  pkg/newlog/go.sum
Owners: @eriknordmark, @deitch, @naiming-zededa

Change for Nested App logging
  docs/LOGGING.md
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/go.mod
  pkg/newlog/go.sum
Owners: @eriknordmark, @deitch, @naiming-zededa

newlog: bump go version and update vendor
  pkg/newlog/go.mod
  pkg/newlog/go.sum
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/containerd/containerd.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/cipherinfotypes.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/global.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/patchenvelopestypes.go
  pkg/newlog/vendor/github.com/lf-edge/eve/pkg/pillar/types/zedmanagertypes.go
  pkg/newlog/vendor/modules.txt
Owners: @deitch, @naiming-zededa

newlog: add filter, dedup and counter functions
  pkg/newlog/cmd/counter.go
  pkg/newlog/cmd/dedup.go
  pkg/newlog/cmd/dedup_test.go
  pkg/newlog/cmd/filter.go
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
Owners: @deitch, @naiming-zededa

newlogd: fix yetus warnings
  pkg/newlog/cmd/newlogd.go
  pkg/newlog/cmd/newlogd_test.go
Owners: @deitch, @naiming-zededa

Fix from Naiming for appcontainer.go
  pkg/pillar/cmd/zedrouter/appcontainer.go
Owners: @christoph-zededa, @milan-zededa, @rouming

Update edge-containers package
  pkg/pillar/go.mod
  pkg/pillar/go.sum
Owners: @eriknordmark

Remove spurious file
  pkg/watchdog/init.sh.orig
Owners: @eriknordmark

Update go.mod to use go 1.24.1
  pkg/pillar/go.mod
Owners: @eriknordmark

Make iprule.go compile
  pkg/pillar/nireconciler/linuxitems/iprule.go
Owners: @milan-zededa

collect-info: allow to exclude logs from tar ball
  pkg/debug/scripts/collect-info.sh
Owners: @rouming

collect-info: add TPM getcap and /persist/certs
  pkg/debug/scripts/collect-info.sh
Owners: @rouming
